.also-buy {
  background: $white;
  //display: flex;
  //flex-direction: column;
  //max-height: 500px;
  overflow: hidden;
  margin-left: rem-calc(-1 * map-get($grid-column-gutter, small) / 2);
  position: relative;

  &__header {
    //flex: 0 1 auto;
    background-image: $blue-gradient;
    color: $white;
    font-size: rem-calc(16);
    padding: rem-calc(8) rem-calc(12);
  }

  &__content {
    border: 1px solid #d2d2d2;
    //flex: 1 1 auto;
    overflow: hidden;
    max-height: 500px;
  }

  &__item {
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    padding: rem-calc(14) rem-calc(15) rem-calc(18);

    img {
      max-height: 75px;
    }
  }

  &__item-name {
    display: block;
    color: $grey;
    flex: 1 1 0;
    font-family: $font-arial;
    font-size: rem-calc(13);
    line-height: rem-calc(19);
    padding-right: rem-calc(6);
    text-decoration: none;
  }

  &__item-info {
    flex: 0 0 110px;
  }

  &__item-sku {
    color: #888;
    font-size: rem-calc(12);
  }

  &__item-price {
    color: #111;
    font-family: $font-ub;
    font-size: rem-calc(18);
    font-weight: bold;
    line-height: 20px;
    margin: rem-calc(2) 0 rem-calc(8);
  }

  &__item-buy {
  }
}