$goods-border-color: $light-grey-2;
$goods-border-color-active: #ff601b;
$goods-font-size: 13;
$goods-max-width: 285;



$label-color-map: (
        new: #00a1de,
        sale: #00cc6b,
        discount: #fe7f30,
        hit: #fb0,
);

.goods-list {
  > div {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
  }
}

.goods {
  background-color: $white;
  border: 1px solid $goods-border-color;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: rem-calc(13);
  max-width: $goods-max-width * 1px;
  margin: 0 auto;
  position: relative;
  transition: all 0.2s ease;


  //@include breakpoint(large) {
    min-height: 400px;
  //}

  &:hover {
    border-color: $goods-border-color-active;
    box-shadow: 0 5px 9px rgba(31, 31, 31, 0.26);
  }

  &.out-stock {
    &:hover {
      border: 1px solid #555;
    }
  }

  &__thumb {
    align-items: center;
    border-bottom: 1px solid $goods-border-color;
    display: flex;
    flex: 0 0 189px;
    justify-content: center;
    height: 189px;
    margin-bottom: em-calc(8, $goods-font-size);
    text-align: center;

    @include breakpoint(medium only) {
      flex: 0 0 158px;
      height: 158px;

      img {
        max-height: 125px;
      }
    }

    img {
      max-height: 145px;
    }
  }

  &__labels {
    left: -1px;
    position: absolute;
    top: 13px;
  }

  .add2favorite {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .delete-compare {
    background: inline('cross-del.svg') no-repeat left center;
    color: $blue;
    cursor: pointer;
    padding-left: rem-calc(17);
    text-align: left;
  }

  &__sku {
    color: #888;
    flex: 0 0 auto;
    font-size: em-calc(12, $goods-font-size);
    margin-bottom: em-calc(8, 12);
    padding: 0 12px;
  }

  &__title {
    color: $gray;
    display: block;
    flex: 0 0 auto;
    font-family: $font-arial;
    line-height: 1.46;
    margin-bottom: em-calc(8, $goods-font-size);
    padding: 0 12px;
    text-decoration: none;
    transition: color 0.5s ease;
    width: 100%;
    overflow: hidden;
    @include breakpoint(medium) {
      height: (1.40em * 4);
    }

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  &__bottom,
  &__info {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    padding: 0 12px 12px;
  }

  &__info {
    margin-top: auto;
  }

  &__bottom {
    padding-bottom: 12px;
  }

  &__prices {
    flex: 0 0 50%;

    @include breakpoint(medium only) {
      flex: 0 0 100%;
    }

    span {
      color: #898989;
      font-weight: 400;
    }
  }

  &__price {
    font-family: $font-ub;
    font-size: em-calc(18, $goods-font-size);
    font-weight: 700;
  }

  &__old-price {
    color: $gray;
    display: inline-block;
    font-family: $font-ub;
    text-decoration: line-through;
  }

  &__status {
    color: #898989;
    flex: 0 0 auto;
    margin-left: auto;
    line-height: 1.54;

    @include breakpoint(medium only) {
      flex: 0 0 100%;
      margin-top: em-calc(5, $goods-font-size);
      min-height: em-calc(35, $goods-font-size);
    }

    @include breakpoint(large) {
    }

    &.in-stock {
      color: $green;
    }

    &.in-order {
      color: $black;
    }
  }

  &__delivery {
    color: $gray;

    span {
      font-weight: bold;
    }
  }

  &__buy {
    flex: 0 0 110px;
    margin-top: 10px;

    @include breakpoint(medium only) {
      flex: 0 0 100%;
    }
  }

  &__compare {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    margin-left: auto;
    margin-top: 10px;
    padding-top: 3px;

    @include breakpoint(medium only) {
      flex: 0 0 100%;
    }
  }

  &__delete-compare {
    align-items: center;
    display: flex;
    flex: 0 0 100%;
    margin-top: 10px;
    padding-top: 3px;

    @include breakpoint(large) {
      flex: 0 0 auto;
      margin-left: 30px;
    }
  }

}

.add2cart {
  background-image: $button-orange-gradient-default;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 1.62;
  padding: 7px 5px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease;
  text-decoration: none;
/*  position: relative;
  z-index: 0;*/
  @extend %hover-blue;

 /* &::after {
    border-radius: inherit;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: $button-orange-gradient-default--hover;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }*/
}

.button-similar {
  background-color: #bababa;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: rem-calc(12);
  font-weight: 700;
  line-height: 0.92;
  padding: 6px 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
 /* position: relative;
  z-index: 0;*/

  @extend %hover-blue;

  /*&::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: $blue-gradient;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }*/
}



.add2favorite {
  position: relative;
}

.labels > *,
.goods__labels > * {
  box-shadow: -2px 2px 2px 0 rgba($black, 0.4);
  color: $white;
  font-family: $font-ub;
  font-size: rem-calc(12);
  font-weight: 700;
  text-transform: uppercase;
  line-height: rem-calc(27);
  min-width: 80px;
  padding: 0 5px 0 0;
  position: relative;
  text-align: center;

  &::before {
    border: 3px solid transparent;
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    left: -5px;

    transform: translateY(100%);
  }

  &::after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
  }
}

.label-sale,
.goods__label-sale {
  background-color: map-get($label-color-map, sale);

  &::after {
    background-color: map-get($label-color-map, sale);
  }

  &::before {
    border-color: darken(map-get($label-color-map, sale), 16) darken(map-get($label-color-map, sale), 16) transparent transparent;
  }
}

.label-new,
.goods__label-new {
  background-color: map-get($label-color-map, new);

  &::after {
    background-color: map-get($label-color-map, new);
  }

  &::before {
    border-color: darken(map-get($label-color-map, new), 16) darken(map-get($label-color-map, new), 16) transparent transparent;
  }
}

.label-discount,
.goods__label-discount {
  background-color: map-get($label-color-map, discount);

  &::after {
    background-color: map-get($label-color-map, discount);
  }

  &::before {
    border-color: darken(map-get($label-color-map, discount), 16) darken(map-get($label-color-map, discount), 16) transparent transparent;
  }
}

.label-hit,
.goods__label-hit {
  background-color: map-get($label-color-map, hit);

  &::after {
    background-color: map-get($label-color-map, hit);
  }

  &::before {
    border-color: darken(map-get($label-color-map, hit), 16) darken(map-get($label-color-map, hit), 16) transparent transparent;
  }
}