.goods-row {
  background-color: $white;
  border: 1px solid $light-grey-2;
  display: flex;
  position: relative;

  @include breakpoint(small only) {
    flex-wrap: wrap;
    padding-bottom: rem-calc(15);

    > * {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      padding: 0 rem-calc(15) !important;
    }
  }

  .add2favorite {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .delete-favorite {
    background-image: inline('cross.default.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px;
    padding: 5px;
    display: block;
    height: 23px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 23px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover{
      opacity: 0.5;
    }
  }

  .add2compare {
    font-size: rem-calc(13);
    flex: 0 0 auto;
  }

  .button-similar {
    margin-bottom: rem-calc(14);
    margin-top: rem-calc(54);
    padding: 12px 5px;

  }

  .add2cart {
    margin-bottom: rem-calc(14);
    margin-top: rem-calc(54);
  }

  .ui-counter + .add2cart {
    margin-top: rem-calc(24);
  }

  &__preview {
    border-right: 1px solid $light-grey-2;
    display: flex;
    flex-direction: column;
    flex: 0 0 percentage(270 / 870);
    max-width: percentage(270 / 870);
    padding: 20px;
    position: relative;
  }

  &__thumb {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin-bottom: 1rem;

    img {
      max-height: 80%;
    }
  }

  &__info {
    flex: 1 1 0;
    font-size: rem-calc(12);
    padding: 20px 15px 3px 30px;
  }

  &__buy {
    flex: 0 0 185px;
    font-size: rem-calc(13);
    max-width: 185px;
    padding: 20px 15px;
  }

  &__sku {
    color: #888;
    font-size: rem-calc(12);
    margin-bottom: rem-calc(8);
  }

  &__title {
    color: $grey;
    font-family: $font-arial;
    font-size: rem-calc(13);
    line-height: 1.46;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }

  &__rate {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: rem-calc(8) 0 rem-calc(12);
  }

  .parameters {
    color: lighten($grey, 25.2);
    font-size: rem-calc(12);

    &__item {
      padding-left: 0;
      margin-bottom: em-calc(3, 12);

      &::before {
        display: none;
      }
    }
  }

  .star-rate {
    flex: 0 0 auto;
    display: inline-block;
    margin-right: rem-calc(7);
  }

  .hashtags {
    a {
      font-size: rem-calc(12);
    }
  }

  .goods__prices {
    margin-bottom: rem-calc(6);
  }

  .goods__delivery {
    font-size: rem-calc(12);
  }
}