$sort-filter-color-background: #e2e2e2;
$sort-filter-group-inner-gutter: 8;
$sort-filter-width-desktop: 870;

.sort-filter {
  padding-bottom: rem-calc(30);

  &__controls {
    background-color: $sort-filter-color-background;
    box-shadow: 0 1px 0 rgba(143, 143, 143, 0.6);
    display: flex;
    padding: 14px 5px 19px 14px;

    @include breakpoint(small only) {
      margin: 0 -1 * rem-calc(map-get($grid-column-gutter, small) / 2);
      padding: 14px rem-calc(map-get($grid-column-gutter, small) / 2) 19px;
    }
  }

  &__column {
    flex: 1 1 0;

    & + & {
      margin-left: 30px;
    }

    &--sort {
      flex: 1 1 308px;
    }

    &--show {
      @include show-for(medium);
      flex: 1 1 204px;

    }

    &--view {
      @include show-for(medium);
      flex: 0 1 140px;
    }

    &--count {
      @include show-for(large);
    }

    @include breakpoint(large) {
      &--sort {
        flex: 1 0 (305 / $sort-filter-width-desktop * 100%);
      }

      &--show {
        flex: 1 0 (315 / $sort-filter-width-desktop * 100%);
      }

      &--view {
        flex: 0 0 45px;
      }

      &--count {
        flex: 0 0 75px;
      }
    }
  }

  &__group {
    align-items: center;
    display: flex;
    //justify-content: space-between;
    margin: 0 -1 * em-calc($sort-filter-group-inner-gutter / 2, 12);

    > * {
      margin: 0 em-calc($sort-filter-group-inner-gutter / 2, 12);
    }
  }

  &__title {
    color: #6c6c6c;
    font-size: rem-calc(10);
    font-weight: 700;
    margin-bottom: em-calc(8, 10);
    text-transform: uppercase;
  }

  // sort filter button styles
  input[type='radio'] {
    display: none;
  }

  input[type='radio']:checked + label {
    box-shadow: 0 1px 0 #00a4dc;
  }

  input[type='radio'] + label {
    background: $white;
    border-radius: 2px;
    display: inline-block;
    line-height: 1;
    padding: 9px;
    margin-right: 0;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox'] {

    &:checked + label::before {
      color: $black;
    }

    + label {
      align-items: center;
      color: #6c6c6c;
      display: flex;
      padding: 0;
      position: relative;
      line-height: 1;
      margin: 0 0.33333em;

      &::before {
        background: $white;
        content: '\2713';
        color: transparent;
        display: inline-block;
        height: 14px;
        position: static;

        line-height: 14px;
        margin-right: 5px;
        width: 14px;
        text-align: center;
      }
    }
  }

  select {
    border: 1px solid $sort-filter-color-background;
    background-color: $white;
    background-position: right 0 center;
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    line-height: 1;
    padding: 4px 10px;

    &.is-active {
      box-shadow: 0 1px 0 #00a4dc;
    }
  }

  select,
  input,
  label {
    font-size: rem-calc(12);
  }

  [name='alphabet'] {
    flex: 1 1 72px;
    max-width: 72px;
  }

  [name='price'] {
    flex: 1 1 100px;
    max-width: 100px;
  }

  [name='rate'] {
    flex: 1 1 120px;
    max-width: 120px;
  }

  [name='count'] {
    flex: 0 0 60px;
    max-width: 60px;
  }

  [for='out-stock'] {
    @include show-for(large);
  }

  &__view-type {
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 15px;
    text-indent: -9999px;
    width: 15px;
    opacity: 0.6;
    margin-top: 8px;

    &.is-active {
      opacity: 1;
    }

    &--list {
      background-image: inline('ico.catalog-list.svg');
      margin-left: 10px;
    }
    &--grid {
      background-image: inline('ico.catalog-grid.svg');
    }
  }

  // sort filter result
  &__result {
    align-items: center;
    border-bottom: 1px solid #ebebed;
    display: none;

    @include breakpoint(large) {
      display: flex;
    }
  }

  &__result-total {
    flex: 1 0 0;
    font-size: rem-calc(14);
    color: #333;
    padding: rem-calc(23.5) 0;

    span {
      color: #black;
      font-weight: 700;
    }
  }

  &__result-pagination {
    flex: 0 0 300px;
    margin-left: auto;
    max-width: 300px;
  }
}