.subcategory-list {
  padding: rem-calc(13) 0 rem-calc(25);

  @include show-for(medium);

  a {
    background-color: #ebebed;
    color: #333;
    display: inline-block;
    font-size: rem-calc(14);
    line-height: 1;
    margin: rem-calc(6) rem-calc(20) rem-calc(6);
    padding: rem-calc(10) rem-calc(30);
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}