$category-v-gutter: 30;
$category-h-gutter: 30;
$category-w2-height: 230;

.categories-block {
  border-bottom: 1px solid #d3d3d3;
  background-color: #f0f0f0;
}

.categories {
  padding: 25px 0;

  @include breakpoint(large) {
    padding: 55px 0;
  }
}

.category-tile {
  display: flex;
}

$tile-height-type-1: 260 + 30; // стандартный блок
$tile-height-type-2: 490 + 30; // вертикальныый  узкий блок
$tile-height-type-3: 200 + 30; // горизонтальный ширикий блок
.category-sizer {
  width: 100%;

  @include breakpoint(medium only) {
    width: 50%;
  }

  @include breakpoint(large) {
    width: (100% / 3);
  }
}

.category-tile {
  width: 100%;

  @include breakpoint(medium only) {
    height: $tile-height-type-1 * 1px;
    width: 50%;

    &.medium-type-1 {
      height: $tile-height-type-1 * 1px;
      width: (100% / 2);
    }

    &.medium-type-2 {
      height: $tile-height-type-2 * 1px;
      width: (100% / 2);
    }

    &.medium-type-3 {
      height: $tile-height-type-3 * 1px;
      width: 100%;

      ul {
        column-count: 3;
      }
    }
  }

  @include breakpoint(large) {
    width: (100% / 3);
    height: $tile-height-type-1 * 1px;

    &.large-type-1 {
      height: $tile-height-type-1 * 1px;
      width: (100% / 3);
    }

    &.large-type-2 {
      height: $tile-height-type-2 * 1px;
      width: (100% / 3);
    }

    &.large-type-3 {
      height: $tile-height-type-3 * 1px;
      width: (100% * 2 / 3);

      ul {
        column-count: 3;
      }
    }
  }
}

.category {
  background: $white;
  box-shadow: inset 0 0 0 1px #dedede;
  color: #303030;

  flex: 1 0 0%;
  display: flex;
  font-size: rem-calc(16);
  margin: 15px;
  padding: 3px 3px 10px;
  position: relative;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0 5px 9px rgba(31, 31, 31, 0.26);
    background-image: linear-gradient(-12deg, #0091d2 0%, #00afe9 50%, #00afe9 100%);

    &::after {
      opacity: 1;
    }
  }

  $color-key: map_keys($category-color);
  @each $color in $color-key {
    &--#{$color} &__title::after {
      background-color: map-get($category-color, $color);
    }

    &--#{$color} &__title:hover {
      color: map-get($category-color, $color);
    }
  }

  &::after {
    background-image: inline('category-line.png');
    background-position: 10px 0;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
    display: block;
    height: 10px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  &__preview {
    background: $white;
    display: block;
    flex: 0 0 139px;
    padding: 38px 11px 0;
    text-align: center;
    width: 139px;

    img {
      max-height: 100%;
    }
  }

  &__content {
    background: $white;
    flex: 1 0 0;
    overflow: hidden;
    padding: 38px 29px 0 0;
    position: relative;
  }

  @include breakpoint(small only) {
    &__preview {
      flex: 0 0 99px;
      padding: 38px 5px 0;
      width: 99px;
    }

    &__content {
      padding-right: 22px;
    }
  }

  &__title {
    color: inherit;
    display: block;
    font-size: em-calc(18, 16);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.5s ease;

    &::after {
      content: '';
      display: block;
      height: 3px;
      margin-top: 12px;
    }

  }

  &__sublist {

    @include breakpoint(medium) {
      .category-tile--w2 & {
        column-count: 3;
      }
    }

    @include breakpoint(medium only) {
      .category-tile--h2 & {
        column-count: 3;
      }
    }

    li {
      break-inside: avoid;
      padding-bottom: em-calc(2, 16);
    }

    a {
      display: inline-block;
      color: inherit;
      text-shadow: 0 0 0 rgba(#303030, 0.3);

      font-size: em-calc(13, 16);
      font-weight: 400;
      line-height: 1.2;
      text-decoration: none;
      transition: color 0.5s ease;

      &:hover {
        color: #00b1cd;
        text-decoration: underline;
      }
    }
  }

  &__more {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    //bottom: 0;
    display: block;
    color: $black;
    font-size: em-calc(14, 16);
    padding-top: rem-calc(7, 16);
    font-weight: bold;
    //left: 0;
    //position: absolute;
    //width: 100%;

    &:hover {
      color: #00b1cd;
      text-decoration: underline;
    }
  }
}

@keyframes sliding {
  0%, 100% {
    background-position: 10px 0;
  }

  50% {
    background-position: 50px 0;
  }
}

.category-anons {
  color: #888888;
  font-size: rem-calc(14);
  line-height: em-calc(21, 14);
  margin-bottom: rem-calc(12);

  p {
    color: inherit;
    font: inherit;
  }

  &__readmore {
    display: inline-block;
    color: #202020;
    font-size: rem-calc(14);
    line-height: em-calc(15, 14);
    background-image: inline('dotted-line.svg');
    background-size: 2px 1px;
    background-repeat: repeat-x;
    background-position: 0 em-calc(14, 14);
    text-decoration: none;

    &:hover {
      background: none;
    }
  }
}