.sale-promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #0090d1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;

  color: $white;
  text-align: center;

  height: 230 / 320 * 100vw;

  font-size: 36 / 320 * 100vw;

  + .categories-block {
    padding-top: rem-calc(25);
  }

  @include breakpoint(medium) {
    height: rem-calc(370);

    font-size: rem-calc(60);
  }

  @include breakpoint(large) {
    height: rem-calc(455);
    padding-bottom: rem-calc(13);

    font-size: rem-calc(73);

    + .categories-block {
      padding-top: rem-calc(20);
    }
  }

  &__title {
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    line-height: em-calc(70, 60);
    letter-spacing: -0.025em;
  }

  &__subtitle {
    margin-top: em-calc(34, 60);

    font-family: "Playfair Display", serif;
    font-size: em-calc(16, 36);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.020em;

    @include breakpoint(medium) {
      font-size: em-calc(22, 60);

    }
  }

  &__see-more {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: rem-calc(40);
    height: rem-calc(40);
    z-index: 1;

    transform: translate(-50%, 50%);
    transition: transform 0.15s ease-out;

    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

    background-color: $white;
    background-image: inline('ico.arrow-see-more.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px auto;

    @include breakpoint(large) {
      width: rem-calc(48);
      height: rem-calc(48);
      background-size: auto auto;
    }

    &:hover {
      transform: translate(-50%, 60%);
    }
  }
}

