.city {
  border-radius: 3px;

  @include breakpoint(medium) {
    width: 100%;
    max-width: 705px;
  }

  &__heading {
    color: #333333;
    text-shadow: 0 0 1px rgba(#333333, 0.3);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: rem-calc(16);
    padding: rem-calc(6 0 4);
    letter-spacing: 1.2px;

    @include breakpoint(medium) {
      padding: rem-calc(4 48-16 8);
    }
  }
}

.city__close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 24px;
  top: 24px;
  background-image: inline('ico.city-close.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.city-list {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, (0.6 * 0.15)) 0%, rgba(0, 0, 0, 0) 8px);

  margin: rem-calc(0 -16);
  padding: rem-calc(16);

  @include breakpoint(medium) {
    padding: rem-calc(30 20 20 48);
    column-count: 3;
    column-gap: 40px;
  }
}

.city-section {
  display: flex;
  line-height: 20px;

  & + & {
    margin-top: rem-calc(34);
  }

  break-inside: avoid;

  &__letter {
    flex: 0 0 20px;
    height: 11px;
    color: #ff7c0f;
    text-shadow: 0 0 1px rgba(#ff7c0f, 0.3);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-right: 16px;
  }

  a {
    display: inline-block;
    color: #333333;
    text-shadow: 0 0 1px rgba(#333, 0.3);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.3px;

    &:hover {
      color: #00a4dc;
      text-shadow: 0 0 1px rgba(#00a4dc, 0.3);
      text-decoration: underline;
    }
  }
}
