.hashtags {
  padding: 12px 0;

  a {
    color: $blue;
    display: inline-block;
    font-family: Arial;
    font-size: rem-calc(14);
    line-height: 1.29;
    margin-right: 1em;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      color: $orange;
    }
  }
}