$left-menu-link-color: #303030;
$left-menu-link-color-active: $white;
$left-menu-font-size: 15;

.left-menu {
  background-color: $white;
  font-size: rem-calc($left-menu-font-size);
  font-weight: 400;
  padding: 10px 0;

  //@include reset-list;

  &__item {
    display: flex;
  }

  a {
    display: block;
    text-decoration: none;
    transition: all 0.5s ease;
  }

  > li > a {
    color: $left-menu-link-color;
    font-size: em-calc(15, $left-menu-font-size);
    line-height: 1;
    padding: 11px 11px 11px 22px;
  }

  > ul {
    padding: 10px 0;
  }


  // 1 lvl
  > .is-accordion-submenu-parent {
    > a {
      padding-right: 40px;
      position: relative;

      &::after {
        background: inline('left-menu.1lvl.svg');
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        height: height('left-menu.1lvl.svg');
        width: width('left-menu.1lvl.svg');
        transform: translate(0, -50%) rotate(0deg);
      }

      &:hover {
        background-color: $blue;
        color: $left-menu-link-color-active;
      }
    }
    &[aria-expanded='true'] {

      > a {
        background-color: $blue;
        color: $left-menu-link-color-active;

        &::after {
          background: inline('left-menu.1lvl-active.svg');
        }
      }
    }
  }

  // 2+ lvl

  ul {
    margin-left: 20px;

    a {
      color: lighten($left-menu-link-color, 20);
      font-size: rem-calc(13);
      padding: 6px 10px 6px 20px;

      &:hover {
        color: $blue;
      }
    }

    .is-current{
      > a {
        color: $blue;
      }
    }
  }

  ul .is-accordion-submenu-parent {
    > a {
      padding-right: 40px;
      position: relative;

      &::after {
        background: inline('left-menu.2lvl.svg');
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        height: height('left-menu.2lvl.svg');
        width: width('left-menu.2lvl.svg');
        transition: transform 0.5s ease;
        transform: translate(0, -50%) rotate(0deg);
      }
    }
    &[aria-expanded='true'] {
      > a {
        &::after {
          transform: translate(0, -50%) rotate(90deg);

        }
      }
    }
  }
}