.success-add2cart {
  background-color: $white;
  padding: rem-calc(30) 0 0;
  position: fixed;
  //top: 50%;
  left: 50%;
  max-height: 90vh;
  overflow: auto;
  width: 900px;
  transform: translate(-50%,0);
  z-index: $z-header + 20;

  &__title {
    font-size: rem-calc(24);
    font-weight: bold;
    padding: 0 rem-calc(15) rem-calc(20);
  }

  &__content {
    padding: 0 rem-calc(15);
  }


  .goods-row {
    border: 0;

    &__preview {
      border: 1px solid #d3d3d3;
      padding-bottom: rem-calc(15);
    }
  }

  .goods__status {
    margin-top: rem-calc(20);
  }

  &__buttons {
    margin: rem-calc(20) 0;
    text-align: right;

    a {
      display: inline-block;
      font-size: rem-calc(13);
      padding: rem-calc(5);
    }

    .button-white {
      width: 232px;
      padding: rem-calc(3) rem-calc(5);
    }

    .button-orange {
      margin-left: 20px;
      width: 155px;

    }
  }

  &__footer {
    background-color: #f0f0f0;
    padding: rem-calc(25) rem-calc(15);
  }

  .goods-slider {
    padding-bottom: 0;

    &__heading {
      font-size: rem-calc(20);
    }
  }
}