.news {
  background: $white;
  font-size: rem-calc(13);
  margin-bottom: rem-calc(10);
  padding: rem-calc(20) rem-calc(15) rem-calc(17);

  @include breakpoint(small only) {
    margin: 0 rem-calc(map-get($grid-column-gutter, small)/ 2 * -1) rem-calc(10);
  }

  @include breakpoint(medium) {
    padding: rem-calc(20) rem-calc(30) rem-calc(24);
  }

  &__title {
    color: $grey;
    display: inline-block;
    font-size: rem-calc(18);
    font-weight: bold;
    line-height: em-calc(21, 18);
    margin-bottom: rem-calc(16);
    margin-top: rem-calc(4);
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      color: $blue;
    }
  }

  &__date {
    color: rgba(#898989, 0.5);
    line-height: 20px;
  }

  &__anons {
    color: #666;
    font-family: $font-arial;
    line-height: em-calc(18, 13);
  }

  .button-orange {
    margin-left: auto;
    margin-top: rem-calc(20);
    max-width: 136px;
  }
}

.news-date {
  color: rgba(#898989, 0.5);
  font-size: rem-calc(13);
  line-height: 20px;
  margin-bottom: rem-calc(10);
}

.news-list {
  margin-bottom: rem-calc(38);
}

.reset-datepicker {
  display: inline-block;
  color: $blue;
  text-decoration: none;
  margin-bottom: rem-calc(15);

  &::after {
    content: '';
    display: block;
    border-bottom: 1px dashed $blue;
  }

  &:hover::after {
    border-color: transparent;
  }

}