.payment-block {
  margin: 0 rem-calc(map-get($grid-column-gutter, small) / 2 * -1);

  @include breakpoint(large) {
    margin: 0;
  }

  &__header {
    background-color: #ff7529;
    color: $white;
    font-size: rem-calc(30);
    line-height: 1;
    display: flex;
    height: 162px;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(medium) {
      background-image: resolve('payment-img.png');
      background-position: right center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      height: 200px;
    }
  }

  &__header-text {
    text-align: center;
    @include breakpoint(medium) {
      max-width: 255px;}

  }


  .ico-payment-big {
    display: inline-block;
    background-image: inline('ico.payment-big.svg');
    width: width('ico.payment-big.svg');
    height: height('ico.payment-big.svg');
  }

  &__content {
    background: #ffffff;
    padding: rem-calc(30) rem-calc(14) rem-calc(50);

    @include breakpoint(large) {
      padding: rem-calc(30) rem-calc(20) rem-calc(80);
    }
  }
}