.parameters {
  font-size: rem-calc(14);
  line-height: 1;

  &__title {
    color: #303030;
    font-size: em-calc(18, 14);
    font-weight: 700;
    margin-bottom: em-calc(26, 18);
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.71em;
    padding-left: 13px;
    position: relative;

    &::before {
      background-color: #b2b2b2;
      border-radius: 50%;
      content: '';
      display: block;
      height: 5px;
      width: 5px;
      position: absolute;
      left: 0;
      top: 0.4em;
    }

    &::after {
      background: inline('parameter-sep.svg') repeat-x left bottom 2px;
      content: '';
      display: block;
      flex: 1 0 0;
      margin: 0 0.5em;
    }
  }

  .parameter-name {
    flex: 0 1 auto;
  }

  .parameter-value {
    flex: 0 0 auto;
    margin-left: auto;
    order: 9999;
  }
}