$right-menu-breakpoint: 940;

.right-menu {
  background-color: $white;
  margin-bottom: rem-calc(14);


  @include breakpoint(medium) {
    margin-bottom: rem-calc(26);
  }

  @include breakpoint($right-menu-breakpoint) {
    box-shadow: -2px 0 0 0 #00a1de;
    padding: rem-calc(24) rem-calc(20) rem-calc(16) rem-calc(45);
  }

  //@include reset-list;

  &__button {
    background: $blue-gradient;
    border-radius: 3px;
    color: $white;
    cursor: pointer;

    font-size: rem-calc(18);
    font-weight: bold;
    line-height: 1;
    padding: rem-calc(16) rem-calc(50);
    position: relative;
    text-align: center;

    @media screen and (min-width: em-calc($right-menu-breakpoint)) {
      display: none!important;
    }

    &::after {
      background-image: inline('plus-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      content: '+';
      display: block;
      color: transparent;
      position: absolute;
      width: 14px;
      height: 14px;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }

    .is-show &::after {
      background-image: inline('minus-white.svg');
      background-size: 14px 2px;
    }
  }

  &__title {
    @media screen and (max-width: em-calc($right-menu-breakpoint - 1)) {
      display: none!important;
    }

    font-size: rem-calc(25);
    font-weight: bold;
    color: #131313;
    margin-bottom: rem-calc(18);
    line-height: 1;
  }

  &__links {
    padding: rem-calc(15) 0;


    @include breakpoint($right-menu-breakpoint) {
      display: block!important;
      padding: 0;

      li {
        margin-bottom: rem-calc(12);
      }
    }

    display: none;
    .is-show & {
      display: block;
    }

    a {
      display: block;
      color: #333;
      font-size: rem-calc(13);
      font-weight: bold;
      line-height: 1.1;
      padding: rem-calc(5) rem-calc(15);
      text-transform: uppercase;
      transition: all 0.5s ease;
      text-decoration: none;

      @include breakpoint($right-menu-breakpoint) {
        display: inline-block;
        padding: rem-calc(5) 0;
      }

      &.is-current {
        color: $blue;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}