.sales {
  .column {
    margin-bottom: rem-calc(20);

    @include breakpoint(medium) {
      margin-bottom: rem-calc(34);
    }
  }
}

.sale-tile {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    align-items: center;
    background-color: #12cb72;
    color: $white;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    padding: rem-calc(21) rem-calc(5);
  }

  &__content {
    flex: 1 1 auto;
    color: #666;
  }


  &__date {
    font-size: rem-calc(14);
    margin-bottom: rem-calc(7);
  }

  &__title {
    font-size: rem-calc(16);
    font-weight: 700;
    text-align: center;

    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }
  }

  &__img {
    flex: 0 0 auto;
  }

  &__anons {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-family: $font-arial;
    font-size: rem-calc(13);
    font-weight: 400;
    line-height: 18px;
    padding: rem-calc(20);
  }

  img {
    max-height: 100%;
  }

  .button-orange {
    max-width: 136px;
    margin-left: auto;
    margin-top: rem-calc(16);
  }

  .pagination {
    width: 100%;
  }
}