$color-key: map_keys($category-color);
$t-label-default-color: $orange;

.t-label {
  background-color: $t-label-default-color;
  box-shadow: -2px 2px 2px 0 rgba($black, 0.4);
  color: $white;
  font-family: $font-ub;
  font-size: rem-calc(12);
  font-weight: 700;
  text-transform: uppercase;
  line-height: rem-calc(27);
  min-width: 80px;
  padding: 0 5px 0 0;
  position: relative;
  text-align: center;

  &::before {
    border: 3px solid transparent;
    border-color: currentColor currentColor transparent transparent;
    bottom: 0;
    content: '';
    color: darken($t-label-default-color, 16);
    display: block;
    position: absolute;
    left: -5px;

    transform: translateY(100%);
  }

  &::after {
    background-color: currentColor;
    content: '';
    color: $t-label-default-color;
    display: block;
    height: 100%;
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
  }

  @each $color in $color-key {
    &--#{$color} {
      background-color: map-get($category-color, $color);;
    }

    &--#{$color}::after {
      color: map-get($category-color, $color);
    }

    &--#{$color}::before {
      color: darken(map-get($category-color, $color), 16);
    }
  }
}