$tiny-cart-color: (
        sku: #888,
        name: #303030,
        info: #333,
        number: #111
);

$tiny-cart-col-width: (
        1: 32px,
        2: 140px,
        3: 230px,
        4: 130px,
        5: 28px,
        6: 124px,
        7: 18px
);

.tiny-cart {
  background: $white;
  box-shadow: 0 0 12px rgba($black, 0.2);
  color: map-get($tiny-cart-color, info);
  display: none;
  flex-direction: column;
  line-height: rem-calc(15);
  max-height: calc(100vh - 100px);
  position: absolute;
  right: 0;
  top: 100%;
  width: 730px;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: 400px;
  }

  @include breakpoint(large) {
    :hover > & {
      display: flex;
    }
  }


  &__content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__footer {
    align-items: center;
    background-color: #f2f3f5;
    box-shadow: inset 0 -1px 0 #e0e0e0, 0 0 4px rgba($black, 0.29);
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    padding: rem-calc(18) rem-calc(22);
  }

  &__item {
    display: flex;
    padding: rem-calc(14) rem-calc(17) rem-calc(14) rem-calc(15);

    &:not(:last-child) {
      border-bottom: 2px solid #e8e8e8;
    }
  }

  &__item-number {
    align-self: center;
    color: map-get($tiny-cart-color, number);
    font-size: rem-calc(16);
    font-weight: bold;
    text-align: center;

    flex: 0 0 map-get($tiny-cart-col-width, 1);
    max-width: map-get($tiny-cart-col-width, 1);
  }

  &__item-thumb {
    display: block;
    padding: 0 rem-calc(25);

    flex: 0 0 map-get($tiny-cart-col-width, 2);
    max-width: map-get($tiny-cart-col-width, 2);
  }

  &__item-info {
    color: map-get($tiny-cart-color, name);
    padding: rem-calc(10) rem-calc(7);

    flex: 0 0 map-get($tiny-cart-col-width, 3);
    max-width: map-get($tiny-cart-col-width, 3);

    .sku {
      color: map-get($tiny-cart-color, sku);
      font-size: rem-calc(12);
      margin-bottom: rem-calc(7);
    }

    a {
      color: inherit;
      display: inline-block;
      font-size: rem-calc(13);
      line-height: 1.46;
      text-decoration: none;

      &:hover {
        color: $blue;
      }
    }
  }

  &__item-status {
    font-size: rem-calc(13);
    padding: rem-calc(10) rem-calc(13);

    flex: 0 0 map-get($tiny-cart-col-width, 4);
    max-width: map-get($tiny-cart-col-width, 4);

    span {
      display: block;
      margin-bottom: rem-calc(6);
    }

    .in-stock {
      color: #139e2a;
    }
  }

  &__item-count {
    color: map-get($tiny-cart-color, number);
    font-size: rem-calc(13);
    font-weight: bold;
    padding: rem-calc(10) 0 0;

    text-align: center;

    flex: 0 0 map-get($tiny-cart-col-width, 5);
    max-width: map-get($tiny-cart-col-width, 5);
  }

  &__item-price {
    color: map-get($tiny-cart-color, number);
    font-size: rem-calc(16);
    font-weight: bold;
    padding: rem-calc(10) rem-calc(13) 0;
    text-align: right;

    flex: 0 0 map-get($tiny-cart-col-width, 6);
    max-width: map-get($tiny-cart-col-width, 6);
  }

  &__item-controls {
    text-align: center;
    padding: rem-calc(10) 0 0;

    flex: 0 0 map-get($tiny-cart-col-width, 7);
    max-width: map-get($tiny-cart-col-width, 7);
  }


  .button-delete {
    background: inline('cross-del.svg');
    background-size: cover;
    display: inline-block;
    height: 10px;
    width: 10px;
  }

  &__total {
    color: opacify($black, 0.7);
    font-size: rem-calc(17);

    span {
      color: map-get($tiny-cart-color, number);
      font-family: $font-ub;
      font-size: rem-calc(24);
      font-weight: bold;
    }
  }

  .button-orange {
    flex: 0 0 230px;
    font-size: rem-calc(14);
    padding: 10px 5px;
    max-width: 230px;
  }
}
