.certificate {
  background: $white;
  border: 1px solid #d2d2d2;
  display: flex;
  height: 100%;
  min-height: 65px;

  @include breakpoint(small only) {
    margin-bottom: -1px;
  }

  @include breakpoint(medium) {
    flex-direction: column;
  }

  font-size: rem-calc(16);
  font-weight: bold;
  color: $grey;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    color: $blue;
    border-color: $orange;
    box-shadow: 0 5px 9px rgba(31, 31, 31, 0.15);
  }

  span {
    color: #878787;
    margin-left: 0.2rem;
  }

  img {
    max-height: 100%;
  }

  &__item-img {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0 0 186px;
    padding: 0 rem-calc(16);
  }

  &__item-title {
    align-items: center;
    display: flex;
    flex: 1 0 83px;
    margin-left: 14px;
  }

  @include breakpoint(medium) {
    .column {
      margin-bottom: rem-calc(30);
    }

    &__item {
      padding: 0 rem-calc(22);
    }

    &__item-img {
      border-bottom: 1px solid #d2d2d2;
    }

    &__item-title {
      justify-content: center;
      text-align: center;
      margin-left: 0;
    }
  }
}

.certificates-list {
  .column {
    margin-bottom: rem-calc(10);
  }

  @include breakpoint(medium) {
    .column {
      margin-bottom: rem-calc(30);
    }
  }
}