.mobile-menu {
  color: $grey;
  font-size: rem-calc(15);

  [class*='ico'] {
    margin-right: rem-calc(12);
  }

  a {
    align-items: center;
    color: inherit;
    display: flex;
    font: inherit;
    padding: rem-calc(10) rem-calc(15);
    line-height: em-calc(22, 15);
    text-decoration: none;

    &.sale-link {
      color: $orange;
    }
  }

  li {
    border-bottom: 1px solid #d2d2d2;
  }

  .counter {
    background-color: #626262;
    border-radius: 7px;
    color: #ffffff;
    display: inline-block;
    font-size: rem-calc(12);
    line-height: em-calc(10, 12);
    min-width: 24px;
    margin-left: rem-calc(8);
    padding: rem-calc(3) rem-calc(4);
    text-align: center;
  }
}

.button-full-version {
  margin: rem-calc(20) rem-calc(15);
}