.mobile-catalog {
  color: #303030;
  font-size: rem-calc(15);
  line-height: 1.1;

  //&::after {
  //  bottom: 0;
  //  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.13) 0%, rgba(black,0) 13px);
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  width: 13px;
  //}

  li {
    border-bottom: 1px solid #d2d2d2;
  }

  .is-submenu-parent-item {
    background-color: #dedede;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15) 0%, transparent 13px);
    font-weight: bold;
  }

  .js-drilldown-back {
    color: rgba(#303030, 0.5);
    font-size: rem-calc(12);
    font-weight: 700;
    text-transform: uppercase;
  }

  ul {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15) 0%, transparent 13px);
  }

  a {
    display: flex;
    color: inherit;
    font: inherit;
    padding: rem-calc(13) rem-calc(15);
    text-decoration: none;
  }

  &__header {
    font-size: rem-calc(14);
    color: $white;
    font-weight: bold;
    line-height: 1.07;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #0090d1 0%, #00b2eb 100%);

    a {
      padding: rem-calc(16) rem-calc(15) rem-calc(17);
    }
  }
}
