.feedback {
  background-color: transparent;
  border: 0;
  max-width: rem-calc(705);
  padding: 0;

  @include breakpoint(medium) {
    width: 100%;
    max-width: 705px;
  }

  // check form
  &__header {
    display: flex;
  }

  .tabs {
    display: flex;
    flex: 1 1 auto;
    padding-top: 7px;

    > * {
      flex: 1 1 50%;
    }

    a {
      color: #484848;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem-calc(14);
      font-weight: bold;

      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      height: 52px;
      position: relative;
      z-index: 2;
      transition: inherit;
    }

    .is-active {
      a {
        color: #00a4dc;
        font-size: rem-calc(16);
      }

      &:after {
        opacity: 1;
        top: -7px;
      }
    }
  }

  .tabs-title {
    transition: all 0.5s ease;
    background-color: #e8e8e8;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6 * 0.15) 0%, rgba(0, 0, 0, 0) 5px);
    position: relative;

    &:hover {
      background-color: $white;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      z-index: 1;
      background-color: $white;
      border-top: 4px solid #00a4dc;
      border-radius: 3px 3px 0 0;
      transition: inherit;
    }

    &:first-child {
      border-radius: 3px 0 0 0;
    }
    &:last-child {
      border-radius: 0 3px 0 0;
    }
  }

  .close-modal {
    flex: 0 0 34px;
    max-width: 34px;
  }

  // text
  &__form-text {
    background-color: #f5f5f5;

    &.white-bg {
      background: $white;
    }

    color: #818181;
    font-size: rem-calc(14);
    line-height: 18px;
    text-align: center;
    padding: rem-calc(15);

    @include breakpoint(medium) {
      padding: rem-calc(26) rem-calc(88);
    }

    b {
      color: #333333;
    }

    span {
      color: #333333;
      font-size: rem-calc(18);
      line-height: 1;
      font-weight: bold;
      display: block;
      padding: rem-calc(2) rem-calc(10) rem-calc(3);
      text-align: center;
    }
  }

  .tabs-panel[aria-hidden='true'] {
    display: none;
  }

  .tabs-panel[aria-hidden='false'] {
    display: block;
  }

  &__form-content {
    background-color: #f5f5f5;
    border: 1px solid #ededed;
    border-top: 0;
    margin-bottom: -1px;
    padding: rem-calc(15) 0;

    @include breakpoint(medium) {
      padding: rem-calc(32) rem-calc(68) rem-calc(35);

      .column {
        padding-left: rem-calc(15 / 2);
        padding-right: rem-calc(15 / 2);
      }
    }
  }

  textarea {
    resize: none;
    height: 91px;
    margin-bottom: rem-calc(14);
  }

  label {
    color: #5c5b5b;
    font-size: rem-calc(12);
    line-height: 34px;
    text-transform: uppercase;

    span {
      color: #ff771a;
      font-size: rem-calc(14);
    }
  }

  input {
    margin-bottom: rem-calc(10);
  }

  &__form-tips {
    color: #585858;
    font-size: rem-calc(14);
    line-height: 21px;
    text-align: right;
    margin-top: 10px;

    span {
      color: #ff771a;

    }
  }

  button[type='submit'] {
    width: 100%;
    font-size: rem-calc(16);
    padding: rem-calc(12.5) rem-calc(5);
  }
}

.close-modal {
  display: inline-block;
  border-radius: 50%;
  width: rem-calc(34);
  height: rem-calc(34);
  margin: rem-calc(12) rem-calc(16);
  background-image: inline('ico.close-modal.svg'), linear-gradient(to top, #ff6444 0%, #ff8312 100%);
  background-repeat: no-repeat;
  background-position: center center, top left;
  text-indent: -9999px;
  transition: all 0.1s linear;

  &:hover {
    transform: scale(1.15);
  }
}
