$breadcrumbs-item-color: $blue;
$breadcrumbs-item-color-current: #888;
$breadcrumbs-item-color-slash: #939393;

.breadcrumbs {
  font-size: rem-calc(14);
  font-weight: 400;
  line-height: 1.1;
  margin: 0 0 20px 0 ;
  padding: 0;

  li {
    display: inline-block;

    &:not(:last-child)::after {
      content: ' > ';
      color: $breadcrumbs-item-color-slash;
    }

    &::before {    display: none;
    }
  }

  a {
    color: $breadcrumbs-item-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: $breadcrumbs-item-color-current;
  }
}