/* cart navigation */
$cart-navigation-item-active-bg: linear-gradient(to top, #ff6444 0%, #ff8312 100%);
$cart-navigation-item-active-triangle: '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="44"><linearGradient id="a"><stop offset="0%" stop-color="#ff6444"/><stop offset="100%" stop-color="#ff8312"/></linearGradient><path fill="#fff" d="M1 0L20 22L1 44z"/><path fill="url(#a)" d="M0 0L19 22L0 44z"/></svg>';


// TODO: Сделать нормально отображение и скрытие текста через "..." на планшетах
.cart-navigation {
  @include show-for(medium);

  background: $white;
  //border: 1px solid #d2d2d2;
  box-shadow: inset 0 0 0 1px #d2d2d2;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;

  &__step {
    align-items: center;
    background-image: $cart-navigation-item-active-bg;
    display: flex;
    justify-content: center;
    color: rgba($white, 0.5);
    flex: 1 1 0;
    font-size: rem-calc(15);
    //margin: -1px;
    line-height: 1.1;
    padding: 13px 30px 13px 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }
    //z-index: 1;

    div {
      display: inline-block;
      line-height: 1;
      //overflow: hidden;
      //white-space: nowrap;
      //text-overflow: ellipsis;
      width: 100%;
    }

    //&::before{
    //  background-image: $cart-navigation-item-active-bg;
    //  content: '';
    //  display: block;
    //  height: 100%;
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  width: 100%;
    //  transform: translate(-100%, 0);
    //}

    &::after {
      background: inline('cart-navigation-triangle-3.png') no-repeat left center;
      background-size: 20px 100%;
      content: '';
      display: block;
      height: 100%;
      left: 100%;
      position: absolute;
      width: 20px;
      top: 0;
      z-index: 1;
    }

    & + & {
      margin-left: -20px;
    }

    &.is-current {
      color: $white;
      font-size: rem-calc(17);
      font-weight: 700;

    }
    &.is-current + & {
      &:hover {
        color: $blue;
        //&::before {
        //  transform: translate(0, 0);
        //}
      }
    }

    &.is-current ~ & {
      background: transparent;
      color: rgba($black-2, 0.5);

      &::after {
        background: inline('cart-navigation-triangle.png') no-repeat left center;
        background-size: 20px 100%;
      }
    }

    &:last-child {
      &::after {
        display: none !important;
      }
    }
  }
}

/* END cart navigation */