

.cart-header + .main-container {
  background-color: #f7f7f7;
  padding-top: 16px;
}

.cart-add-sku {
  display: flex;
  font-size: rem-calc(14);
  margin-bottom: 30px;

  &__form {
    background: $white;
    display: flex;

    @include breakpoint(small only) {
      flex-wrap: wrap;
    }
    @include breakpoint(medium) {
      border-radius: 2px;
      box-shadow: inset 0 0 0 1px #d2d2d2;
    }
  }

  input[type=text] {
    background: transparent;
    border: 0;
    border-radius: 2px;
    flex: 1 1 100%;
    font-size: em-calc(14, 14);
    padding: 11px 20px;
    margin-bottom: 0;
  }

  button {
    background-image: linear-gradient(to top, #0090d1 0%, #00b2eb 100%);
    border-radius: 2px;
    color: $white;
    flex: 1 1 100%;
    font-size: em-calc(13, 14);
    line-height: 1.1;
    font-weight: 700;
    padding: 15px 10px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background-position: 0 100%;
    }
  }

  @include breakpoint(small only) {
    input[type=text] {
      border: 1px solid #d2d2d2;
      margin-bottom: 10px;
    }
  }

  @include breakpoint(medium) {
    button {
      flex: 0 0 140px;
      max-width: 140px;
    }
  }

  @include breakpoint(medium) {
    align-items: center;
  }

  &__tips {
    @include show-for(large);
    color: $gray;
    font-size: em-calc(16, 14);
    line-height: 1.13;
    padding-right: 0;
  }
}

