$cart-border-color: #d2d2d2;
$cart-tablet-width: 768;
$cart-desktop-width: 870;

$cart-tablet-col-width: (
        number: 53,
        item-info: 108 + 240,
        item-img: 108,
        item-detail: 240,
        status: 124,
        price-info: 132,
        total: 111,
);

$cart-desktop-col-width: (
        number: 53,
        item-info: 159 + 253,
        item-img: 159,
        item-detail: 253,
        status: 136,
        price-info: 153,
        total: 118,
);

@mixin cart-columns($width-array ,$container-basis) {
  $column-names: map_keys($width-array);
  @each $column in $column-names {
    .cart__#{$column} {

      flex: 1 1 map_get($width-array, $column) * 1px;
      max-width: to-fixed(map_get($width-array, $column) / $container-basis * 100%, 1);
    }
  }
}

.cart {

  @include breakpoint(medium only) {
    //margin: 0 (-1 * rem-calc(map-get($grid-column-gutter, small) / 2)) -1px;
  }

  &__head {
    background-color: #f0f0f0;
    border: 1px solid $cart-border-color;
    color: $grey;
    display: flex;
    font-size: rem-calc(14);
    line-height: 1.29;
    margin-bottom: -1px;

    @include show-for(medium);

    span {
      color: $gray;
      font-size: rem-calc(14);
      font-weight: 400;
    }

    > * {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 14px 5px !important;
      text-align: center;

      &:not(:last-child) {
        border-right: 1px solid $cart-border-color;
      }

    }
  }

  &__delete {
    background: inline('cross-del.svg') no-repeat left center;
    color: $blue;
    display: inline-block;
    font-size: rem-calc(12);
    line-height: 1.2;
    padding-left: 17px;
    padding-top: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__item {
    background: $white;
    border-bottom: 1px solid $cart-border-color;
    border-top: 1px solid $cart-border-color;
    display: flex;
    font-size: rem-calc(16);
    margin-bottom: -1px;
    position: relative;
    transition: background 0.5s ease;

    //&:hover {
    //  color: rgba($blue, 0.5);
    //  background-color: grayscale($blue);
    //  background-color: adjust-color($blue, $blue: -20 );
    //}

    @include breakpoint(small only) {
      margin: 0 (-1 * rem-calc(map-get($grid-column-gutter, small) / 2)) -1px;
      padding: 24px rem-calc(17) 20px;
    }

    @include breakpoint(medium) {
      border: 1px solid $cart-border-color;

      > * {
        &:not(:last-of-type) {
          border-right: 1px solid $cart-border-color;
        }
      }
    }
  }

  // default style
  .scu {
    color: #888;
    font-size: em-calc(12);
    line-height: 1;
    margin-bottom: em-calc(9, 12);
  }

  &__number {
    text-align: center;
  }

  &__item-name {
    color: $grey;
    display: inline-block;
    font-family: $font-arial;
    font-size: em-calc(13);
    font-weight: 400;
    line-height: 1.46;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }

  &__item-detail {

  }

  &__status {
    font-size: em-calc(13);
    line-height: 1.3;

    .status {
      color: $lightness-grey;
    }

    &.in-stock {
      .status {
        color: $green;
      }
    }
  }

  &__price-info {
    .price {
      @include show-for(medium);
    }
  }

  &__total {

    .total-price {
      color: #111;
      font-family: $font-ub;
      font-size: em-calc(18);
      font-weight: 700;
      line-height: 1.11;
    }
  }

  //   column mobile
  @include breakpoint(small only) {
    &__item {
      flex-direction: column;
      padding-left: (103px + 17);
    }

    &__item &__number {
      @include hide-for-only(small);
    }

    &__item-img {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      left: 17px;
      padding: 35px 10px 10px;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 103px;

      img {
        max-height: 100%;
      }
    }

    &__status {
      margin: em-calc(12) 0 em-calc(20);
    }

    &__total {
      margin: em-calc(10, 18) 0 em-calc(18, 18);
    }

    .ui-counter {
      width: 180px;
    }
  }

  //   column tablet
  @include breakpoint(medium) {
    @include cart-columns($cart-tablet-col-width, $cart-tablet-width);

    &__item {
      > * {
        padding: 24px 0;
      }
    }

    .ui-counter {
      width: 100%;
      max-width: 110px;
    }

    &__number {
      padding-left: 0;
      padding-right: 0;
    }

    &__item &__number {
      align-items: center;
      color: #111;
      display: flex;
      font-family: $font-ub;
      font-size: em-calc(16);
      font-weight: 700;
      justify-content: center;
      line-height: 1.25;
      text-align: center;
    }

    &__item-img {
      align-items: flex-start;
      display: flex;
      justify-content: center;
    }

    &__item &__item-detail {
      padding-left: (22 / $cart-tablet-width * 100%);
      padding-right: (22 / $cart-tablet-width * 100%);
    }

    &__item &__status {
      padding-left: (18 / $cart-tablet-width * 100%);
      padding-right: (12 / $cart-tablet-width * 100%);
    }
    &__item &__price-info {
      padding-left: (11 / $cart-tablet-width * 100%);
      padding-right: (11 / $cart-tablet-width * 100%);

      .price {
        color: #111;
        display: block;
        font-family: $font-ub;
        font-size: em-calc(13);
        line-height: 1.3;
        margin-bottom: em-calc(8, 13);
      }

    }
    &__item &__total {
      padding-left: 5px ;
      padding-right: 5px;
      text-align: center;

      .total-price {
        font-size: em-calc(15);
        margin-top: em-calc(1, 15);
      }
    }
  }

  //   column desktop
  @include breakpoint(large) {
    @include cart-columns($cart-desktop-col-width, $cart-desktop-width);

    &__item {
      > * {
        padding: 24px 22px;
      }
    }
  }

  &__footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 (map-get($grid-column-gutter, small) / 2 ) 30px;

    @include breakpoint(medium) {
      margin-top: 10px;
      padding: 0 rem-calc(15) 40px;
    }

    @include breakpoint(large) {
      padding: 0 0 70px;
    }
  }

  &__result {
    color: #888;
    display: flex;
    font-size: rem-calc(17);
    font-weight: 700;
    line-height: 1.18;
    flex: 0 0 auto;
    margin-left: auto;
    margin-bottom: 20px;

    > div {
      flex: 0 0 auto;
      margin-left: auto;
    }

    @include breakpoint(medium) {
      flex: 0 0 100%;
      margin-bottom: 15px;
    }
  }
  &__result-price {
    color: #111;
    font-family: $font-ub;
    font-size: rem-calc(24);
    font-weight: 700;
    line-height: 0.9;
  }

  &__result-tips {
    color: rgba($black, 0.6);
    font-size: rem-calc(13);
    line-height: 1.54;
  }

  &__return {
    a {
      background: inline('arrow.return.svg') no-repeat left 5px;
      color: $blue;
      display: inline-block;
      flex: 0 0 auto;
      font-size: rem-calc(15);
      font-weight: 700;
      line-height: 1;
      padding-left: 20px;
    }

    @include breakpoint(small only) {
      align-self: flex-start;
      flex: 0 1 95px;
      order: -1;
      padding-top: 3px;
    }


    @include breakpoint(medium){
      flex: 0 0 185px;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint(medium){
      flex: 1 0 185px;
      justify-content: flex-end;
    }
  }

  &__button-order {
    margin-left: 20px;

    @include breakpoint(small only) {
      margin: 0 0 10px;
      order: -1;
    }
  }

  .button-white,
  &__button-order {
    flex: 1 0 100%;
    max-width: 284px;

    @include breakpoint(medium) {
      flex: 0 0 214px;
      max-width: 214px;
    }
  }

}