.order-form {
  margin-bottom: rem-calc(45);

  .field-label {
    color: #5c5b5b;
    font-size: rem-calc(12);
    margin-bottom: em-calc(7, 12);
    text-transform: uppercase;

    span {
      color: #ff771a;
      font-size: em-calc(14, 12);
      display: inline-block;
      line-height: em-calc(14, 12);
    }
  }

  /* user type select*/

  [name='user-type'] {
    display: none;
  }

  .user-type {
    display: flex;
    justify-content: center;
  }

  .user-type__label {
    display: inline-block;
    font-size: rem-calc(14);
    color: #484848;
    flex: 1 1 50%;
    font-weight: 700;
    line-height: 1.29;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
    max-width: 50%;

    &:before {
      display: none;
    }

    &::after {
      content: '';
      display: block;
    }
  }

  :checked + .user-type__label {
    color: #00a4dc;
  }

  @include breakpoint(small only) {
    .user-type__label {
      max-width: 33%;
      margin-bottom: 20px;

      span {
        display: inline-block;
      }

      span::after {
        content: '';
        display: block;
        background-color: #00a4dc;
        height: 2px;
        margin-top: 4px;
        transition: width 0.5s ease;
        width: 0;
      }
    }

    :checked + .user-type__label {
      span::after {
        width: 100%;
      }
    }
  }

  @include breakpoint(medium) {
    .user-type {
      justify-content: space-around;
      margin-bottom: -1px;
    }

    .user-type__label {
      background-color: #ededed;
      border: 1px solid #ededed;
      border-radius: 3px 3px 0 0;
      display: inline-block;
      padding: 15px 10px;



      &::after {
        background-image: linear-gradient(to top, rgba($black, 0.6) 0%, rgba($black, 0) 100%);
        content: '';
        display: block;
        opacity: 0.1;
        height: 5px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transition: all 0.5s ease;
      }
    }

    :checked + .user-type__label {
      background-color: $white;
      border-bottom-color: $white;
      box-shadow: 0 -3px 0 0 #00a4dc;

      &::after {
        opacity: 0;
      }
    }
  }

  @include breakpoint(medium) {
    .user-type__label ~ .user-type__label {
      margin-left: 10px;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;

    .ico-next {
      margin-right: -12px;
    }

    .ico-prev {
      margin-left: -12px;
    }

    a {
      flex: 0 0 100%;


      @include breakpoint(medium) {
        flex: 0 0 214px;
        max-width: 214px;
      }
    }
  }

  [class*='button-'] {
    font-size: rem-calc(15);
    margin-bottom: 9px;
    padding: 8px 5px;
  }
}

.order-section {
  margin-bottom: rem-calc(20);
  padding: rem-calc(15);

  @include breakpoint(medium) {
    background: $white;
    border: 1px solid #ededed;
    margin-bottom: rem-calc(36);
  }
}

.order-section-title {
  color: $black;
  font-size: rem-calc(22);
  line-height: 1;
  margin-bottom: rem-calc(28);

  @include breakpoint(small only) {
    margin-bottom: rem-calc(24);
  }
}

.company-card {
  align-items: center;
  border-bottom: 1px solid #ededed;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
  padding: 45px 0 30px;

  > * {
    flex: 0 0 auto;
    margin-bottom: rem-calc(7);
  }

  label {
    margin-right: 20px;
    max-width: 100%;
  }

  @include breakpoint(small only) {
    justify-content: center;
    margin-bottom: 15px;
    padding: 10px 0;

    label {
      text-align: center;
    }
  }

  &__tips {
    background-position: left center;
    background-repeat: no-repeat;
    color: #9a9a9a;
    font-size: rem-calc(13);
    line-height: 1.08;
    max-width: 100%;
    padding: 6px 0 6px 35px;
  }

  @include breakpoint(medium) {
    &__tips {
      margin-left: auto;
    }
  }
}

.delivery-step {
  &__result {
    align-items: center;
    background: $orange;
    color: #fefefe;
    display: flex;
    justify-content: center;
    line-height: 1;
    font-size: rem-calc(15);
    padding: 15px;

    .value {
      font-weight: 700;
    }

    > * {
      flex: 0 1 auto;
    }

    div {
      margin-left: 21px;
    }

    @include breakpoint(medium) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__warning {
    align-items: center;
    background-color: #dbf2fd;
    color: #5494b2;
    display: flex;
    font-size: rem-calc(15);
    line-height: 1.2;
    margin: rem-calc(10) 0 rem-calc(15);
    padding: 24px 30px;

    > * {
      flex: 0 1 auto;
    }

    div {
      margin-left: 23px;
    }

    @include breakpoint(small only) {
      margin: rem-calc(10) -1 * rem-calc(15) rem-calc(25);
      .ico-warning-light {
        align-self: flex-start;
        margin-top: 0.4rem;
      }
    }
  }
}

.field-group {
  &::before,
  &::after {
    border-bottom: 1px solid #ededed;
    content: '';
    display: block;
    margin-bottom: rem-calc(12);

  }
}

.ico-rub {
  display: inline-block;
  background: inline('ico.rub.svg') no-repeat center center;
  flex: 0 0 24px;
  height: 24px;
  width: 24px;
}

.ico-warning-light {
  display: inline-block;
  background: inline('ico.lite-warning.svg') no-repeat center center;
  flex: 0 0 29px;
  height: 24px;
  width: 29px;
}