.order-form {
  &__summary {
    text-align: right;
    margin: rem-calc(16) 0;
  }

  &__summary-delivery {
    color: $black;
    font-size: rem-calc(16);

    @include breakpoint(small only) {
      margin-bottom: em-calc(10, 16);
    }


    .price {
      color: #111;
      font-size: em-calc(18, 16);
    }
  }

  &__summary-price {
    color: $black;
    font-size: rem-calc(18);
    line-height: 1;

    .price {
      color: #111;
      display: block;
      font-family: $font-ub;
      font-size: rem-calc(24);
      font-weight: 700;
    }

    @include breakpoint(medium) {
      font-size: rem-calc(24);
      margin-top: rem-calc(6);

      .price {
        display: inline-block;
      }
    }
  }

  .comfirm-tips {
    color: #939393;
    font-size: rem-calc(14);
    line-height: 1.43;

    span {
      color: #ff7b1d;
      font-weight: 400;
    }

    .b {
      color: #939393;
    }
  }
}

.summary-section {
  background: $white;
  border: 1px solid #ededed;
  margin-bottom: rem-calc(20);
  padding: rem-calc(15);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(36);
    padding-bottom: rem-calc(34);
  }
}

.summary-info {
  @include breakpoint(medium) {
    padding: 0 rem-calc(10);
  }

  &__title {
    color: #444;
    font-size: rem-calc(16);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: em-calc(14, 16) 0 em-calc(23, 16);

    &:not(:first-child) {
      margin-top: em-calc(34, 16);
    }
  }


  &__comment {
    color: $orange;
    font-style: italic;
  }

  &__table {
    width: 100%;
    font-size: rem-calc(15);

    td {
      vertical-align: top;
      background: $white !important;
      border-right: 0 !important;
      line-height: em-calc(16, 15);
      padding: rem-calc(6) 0;
      border-top: 1px solid #ededed;
    }

    tr:last-child {
      td {
        border-bottom: 1px solid #ededed;
      }
    }

    td:first-child:not(:last-child) {
      color: rgba(#5c5b5b, 0.5);
      font-size: em-calc(12, 15);
      line-height: em-calc(16, 12);
      text-transform: uppercase;
      white-space: nowrap;
      padding: rem-calc(7) rem-calc(10) rem-calc(5) 0;
    }
  }

}
