.order-thanks {
  margin-bottom: rem-calc(40);
  position: relative;
  text-align: center;

  &__heading {
    color: $grey;
    font-family: $font-arial;
    font-size: rem-calc(24);
    font-weight: 900;
    line-height: 1.1;
    margin: rem-calc(13) 0 rem-calc(6);
    text-transform: uppercase;

    @include breakpoint(medium) {
      font-size: rem-calc(30);
    }
  }

  &__manager-info {
    color: #999797;
    font-family: $font-arial;
    font-size: rem-calc(11);
    line-height: 1.54;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    @include breakpoint(small only) {
      padding: 0 rem-calc(40);
      letter-spacing: 2px;

    }

    &::after {
      content: '';
      border-bottom: 1px solid $orange;
      display: block;
      margin-top: rem-calc(17);

      @include breakpoint(small only) {
        margin: rem-calc(22) rem-calc(-1 * (map_get($grid-column-gutter, small) / 2 + 40)) 0;
      }
    }

    @include breakpoint(medium) {
      font-size: rem-calc(13);
    }

    span {
      font-weight: 900;
    }

  }

  &__manager-time {

  }

  &__order-number {
    color: #333;
    font-size: rem-calc(22);
    font-weight: 700;
    line-height: 1.09;
    margin: rem-calc(28) 0 rem-calc(8);
  }

  &__delivery {
    color: opacify(#5c5b5b, 0.5);
    font-size: rem-calc(12);
    font-weight: 400;
    text-transform: uppercase;
  }

  &__delivery-date {
    color: #444;
    font-size: rem-calc(15);
  }

  .success-logo {
    background: #5edd9b inline('order-thanks-tick.svg') no-repeat center center;
    border-radius: 50%;
    background-size: 28px 18px;
    display: inline-block;
    height: 66px;
    margin-top: 24px;
    width: 66px;

    @include breakpoint(medium) {
      margin-top: rem-calc(24);
    }
  }

  .button-print {
    position: absolute;
    right: 0;
    top: 21px;

    @include show-for(medium);
  }
}