$cm-border: 1px solid #e6e6e6;

.compare {
  margin-bottom: rem-calc(35);
}

.cm {
  &__table {
    font-size: rem-calc(14);
    //overflow: hidden;
    //width: 100%;
  }

  &__table-body {
    margin-top: rem-calc(30);
    position: relative;

    @include breakpoint(large) {
      margin-top: rem-calc(20);
    }

    > {
      .cm__fieldname {
        margin-top: rem-calc(9);
      }

      @include breakpoint(large) {
        .cm__fieldname {
          display: none;
        }
      }
    }
  }

  &__table-header {
    overflow: hidden;
    &.is-stuck {
      background: $white;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.45);
    }
  }

  &__table-body &__item {
    align-items: center;
    background: white;
    display: flex;
    justify-content: center;
    padding: rem-calc(17) rem-calc(5);
    text-align: center;

    @include breakpoint(medium) {
      padding: rem-calc(17) rem-calc(15);
    }

    &:not(:last-child) {
      border-right: $cm-border;
    }
  }

  &__table-body &__item-group {
    &:last-child {
      border-bottom: 0;
    }
  }

  &__field-group {
    background: $white;
    border: $cm-border;
    overflow: hidden;
    margin-bottom: rem-calc(10);
    position: relative;
    transition: border 0.5s ease;
    z-index: 1;

    @include breakpoint(large) {
      margin-bottom: -1px;
    }

    &.is-hover,
    &:hover {
      border-color: $orange;
      z-index: 2;
      box-shadow: 0 3px 3px rgba(31, 31, 31, 0.15);
    }
  }

  &__field-group &__fieldname {
    border-bottom: $cm-border;

    @include hide-for(large);
  }

  &__item-group {
    display: flex;
    flex-wrap: nowrap;
    transform: translate(0, 0);
    transition: all 0.2s linear;

  }

  &__item {
    flex: 0 0 100%;

    @include breakpoint(large) {
      max-width: 290px;
    }

    span {
      flex: 1 1 100%;
    }
  }

  &__table-header &__item {
    padding: 0 rem-calc(5);

    display: flex;
    flex-direction: column;

    > div {
      flex: 1 0 auto;
    }

    @include breakpoint(medium) {
      padding: 0 rem-calc(15);
    }
  }

  &__fieldset {
    position: absolute;
    width: 270px;
    top: 0;
    left: -1px * (270 + 30);
  }

  &__fieldset &__fieldname {
    border: $cm-border;
    border-left: 3px solid $blue;
    text-align: left;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -1px;

    &:last-child {
    }

    &.is-hover,
    &:hover {
      border-color: $orange;
      box-shadow: 0 3px 3px rgba(31, 31, 31, 0.15);
      z-index: 2;
    }
  }

  &__fieldname {
    background: white;
    align-items: center;
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: rem-calc(14);
    font-weight: bold;
    justify-content: center;
    line-height: 1;
    padding: rem-calc(14) rem-calc(40) rem-calc(14) rem-calc(20);
    position: relative;
    text-align: center;
    text-decoration: none;

    @include breakpoint(medium) {
      padding: rem-calc(14) rem-calc(40) rem-calc(14) rem-calc(20);
    }

    &:hover,
    &.is-hover {
      color: $blue;
    }

    &::after {
      background-image: inline('ico.compare.svg');
      background-position: 0 0;
      background-size: 100% auto;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 14px;
      height: 14px;
      margin-top: -7px;
      right: 20px;
      opacity: 0.2;
      transition: opacity 0.5s ease;
    }

    &:hover::after {
      opacity: 1;
    }

    &.filter-asc::after {
      background-position: 0 0;
    }

    &.filter-desc::after {
      background-position: 0 -100%;
    }

    &.filter-asc.is-active::after {
      background-position: 0 -200%;
      opacity: 1;
    }

    &.filter-desc.is-active::after {
      background-position: 0 -300%;
      opacity: 1;
    }

    span {
      display: block;
      flex: 1 1 100%;
    }
  }

  &__scroll-bar {
    width: 100%;
    overflow: hidden;
  }

  @include breakpoint(small only) {
    .goods {
      min-height: 0;
      padding-top: rem-calc(14);

      .goods__thumb,
      .goods__status,
      .goods__labels,
      .add2favorite {
        display: none;
      }

      .goods__prices {
        flex: 0 0 100%;
      }

    }
  }

  &__filter-wrapper {
    position: relative;
    margin-bottom: rem-calc(20);

    @include breakpoint(large) {
      display: flex;
      flex-direction: column;
      height: 100%;

      > div {
        flex: 1 1 auto;
      }
    }
  }

  &__filter {
    background: $white;
    border: 1px solid #e6e6e6;
    border-left: 3px solid $blue;
    flex-direction: column;
    display: flex;

    @include breakpoint(medium only) {
      flex-direction: row;

    }

    @include breakpoint(large) {
      display: flex !important;
    }
    //@include breakpoint(medium down) {
    //  height: 100%;
    //}

    .is-stuck & {
      @include breakpoint(medium down) {
        display: none;
        position: absolute;
        z-index: 2;
        width: 100%;
      }

      @include breakpoint(large) {
        margin: rem-calc(10) 0;
      }
    }

    &.is-show {
      display: flex;
    }

    select {
      background-color: #f7f7f7;
      border: 1px solid #e6e6e6;
      height: rem-calc(36);
      font-size: rem-calc(14);
    }
  }

  &__filter-category {
    flex: 0 0 auto;
    padding: rem-calc(25) rem-calc(20) rem-calc(30) rem-calc(17);
    border-bottom: 1px solid #e6e6e6;

    @include breakpoint(medium only) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: rem-calc(25) rem-calc(25) rem-calc(30) rem-calc(17);
      border-bottom: 0;
      border-right: 1px solid #e6e6e6;
    }
  }

  &__filter-category-title {
    color: $grey;
    font-weight: bold;
    margin-bottom: rem-calc(14);
  }

  &__filter-delete-category {
    font-family: $font-arial;
    font-size: rem-calc(13);
    color: $blue;
  }

  &__filter-differences {
    flex: 0 0 auto;
    margin-top: auto;
    padding: rem-calc(20) rem-calc(20) rem-calc(18) rem-calc(17);

    @include breakpoint(medium only) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-top: 0;
      padding: rem-calc(27) rem-calc(20) rem-calc(18) rem-calc(15);
    }

    label {
      margin-bottom: rem-calc(12);
    }
  }

  &__sticky-container {
    @include breakpoint(large) {
      height: 400px !important;
    }

    .sticky {
      width: 100%;
      max-width: 100% !important;
    }

    .is-stuck {
      background: $white;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
      z-index: $z-header + 10;
    }
  }

  &__filter-button {
    background: #fff inline('ico.settings.svg') no-repeat 10px center;
    background-size: auto 70%;
    height: 40px;
    display: none;

    @include breakpoint(medium down) {
      .is-stuck & {
        display: block;
      }
    }
  }
}

.is-stuck {
  .cm__table-header,
  .cm__item-group {
    height: 100%;
  }

  .goods {
    margin: rem-calc(10) 0;
    padding-top: rem-calc(15);
    min-height: 0;
    flex: 1 1 auto !important;

    .goods__prices {
      flex: 1 0 100%;
    }

    .goods__thumb,
    .goods__sku,
    .goods__status,
    .add2favorite,
    .goods__labels {
      display: none;
    }
  }

}
