$datepicker-font-size: 13;
$datepicker-color-disable: #c2c2c2;
$datepicker-color-active: #00a1de;
$datepicker-color-default: #333333;
$datepicker-bg-color: #ffffff;

.ui-datepicker {
  background-color: $white;
  border: 2px solid $datepicker-color-active;
  font-size: rem-calc($datepicker-font-size);
  max-width: 270px;
  margin-bottom: rem-calc(30);

  &-header {
    align-items: center;
    background-color: $datepicker-color-active;
    color: $white;
    display: flex;
    height: 54px;
  }

  &-title {
    font-size: rem-calc(20);
    flex: 1 0 0;
    text-align: center;
  }

  &-prev, &-next {
    flex: 0 0 45px;
    width: 45px;
    height: 100%;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 1;
    }

    span {
      background: inline('datapicker-arrow.svg') no-repeat center center;
      display: block;
      text-indent: -9999px;
      height: 100%;

    }

  }

  &-prev {
    span {
      transform: scale(-1);
    }
  }

  &-next {
    order: 9999;

  }

  &-calendar {
    border: 0 !important;
    background: $datepicker-bg-color;
    margin: rem-calc(3) 0 rem-calc(10);
    width: 100%;

    th {
    }

    tr {
      border: 0 !important;
    }

    td, th {
      background: $datepicker-bg-color;
      border: 0 !important;
      font: inherit;
      padding: rem-calc(1) 0;
      text-align: center;
      line-height: rem-calc(34);
    }

    a, span {
      display: inline-block;
      width: 34px;
      height: 34px;
      line-height: rem-calc(34);
      margin: auto;
    }

    a {
      color: $datepicker-color-active;
      text-decoration: none;
    }
  }

  .ui-state-active {
    background: $datepicker-color-active;
    border-radius: 50%;
    color: $white;
  }

  &-other-month {
    color: $datepicker-color-disable;
  }

  &-unselectable {

  }
}

.date-filter {
  margin-bottom: rem-calc(15);

  .ui-datepicker {
    margin: 0 auto;
  }
}