$lf-default-color: #565353;
$lf-disabled-color: #aeaeae;
$lf-active-color: #fff;
$lf-active-bg: #00a1de;
$lf-font: rem-calc(13px)/1.1 'Arial';
$lf-padding: rem-calc(5);

.letter-filter {
  margin-bottom: rem-calc(28);

  &__list {
    background-color: #e2e2e2;
    padding: rem-calc(12);
    text-align: center;

    @include breakpoint(small only) {
      display: none;

      .is-show & {
        display: block;
      }
    }
  }

  a {
    border-radius: 2px;
    color: $lf-default-color;
    display: inline-block;
    font: $lf-font;
    margin: 0 rem-calc(1);
    padding: $lf-padding;
    text-decoration: none;
    transition: all 0.5s ease;

    &.is-active,
    &:not(.is-disabled):hover {
      color: $lf-active-color;
      background-color: $lf-active-bg;
    }

    &.is-disabled {
      color: $lf-disabled-color;
    }
  }

  &__number {
    margin-left: em-calc(23, 13);
  }

  &__separate {
    @include breakpoint(small only) {
      margin-bottom: rem-calc(28);
    }
  }

  &__show {
    @include show-for-only(small);

    background-color: white;
    border: 2px solid $lf-active-bg;
    border-radius: 2px;
    color: $lf-active-bg;
    cursor: pointer;
    display: block;
    font-size: rem-calc(15);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: rem-calc((40 - 15*1.2 - 2) / 2) rem-calc(5);

    &::after {
      content: '.';
      color: transparent;
      display: inline-block;
      background: inline('arrow.letter-filter.svg') no-repeat center center;
      margin-left: 14px;
      width: width('arrow.letter-filter.svg');
      transform: scale(-1);

    }

    .is-show &::after {
      transform: scale(1);
    }
  }
}


