$main-menu-border-color: #ddd;

.main-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: ($z-header + 20);

  &.in-home {
    position: relative;
    flex: 0 0 285px;
    height: 420px;
    top: auto;
    margin-top: -14px;
    z-index: 2;

    > ul {
      display: block;
    }

    @include show-for(large);
  }

  @include show-for(large);

  @include reset-list;

  input:checked + ul {
    display: block;
  }

  ul {
    display: none;
  }

  a {
    color: #333;
    text-shadow: 0 0 0 rgba(#333, 0.3);
    display: block;
    font-size: rem-calc(15);
    font-weight: 400;
    line-height: 1;
    position: relative;
    text-decoration: none;
    transition: color 0.5s ease, background 0.5s ease;

    //:hover {
    //  border-bottom: 1px solid $main-menu-border-color;
    //  border-top: 1px solid $main-menu-border-color;
    //  color: #00a4dc;
    //  margin: -1px 0;
    //}
  }

  $color-key: map_keys($category-color);
  @each $color in $color-key {
    .category-#{$color} > a::before {
      background-color: map-get($category-color, $color);
    }
  }

  //first level
  &__main-category {
    background-color: #f0f0f0;
    width: 100%;

    > li {
      border: 1px solid $main-menu-border-color;
      border-top: 0;

      &:hover {
        > a {
          color: #00a4dc;
        }
      }

      > a {
        padding: 9px 40px 10px 20px;
        position: relative;
        z-index: 6;

        &::before {
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 3px;
          opacity: 0;
        }
      }
    }
  }

  li:hover {
    > ul {
      display: block;
    }

    > a {
      border-bottom: 1px solid $main-menu-border-color;
      border-top: 1px solid $main-menu-border-color;
      margin: -1px 0;
      background-color: $white;

      &::after {
        display: block;
      }

      &::before {
        opacity: 1;
      }
    }
  }

  li:not(.is-empty) {
    background: inline('main-menu.arrow.svg') no-repeat right 19px center;

    > a {
      &::after {
        background-size: 9px 100%;
        display: none;
        content: '';
        height: 100%;
        position: absolute;
        right: -9px;
        top: 0;
        width: 9px;
        z-index: 6;
      }
    }

    &:hover > a {
      &::after {
        display: block;
      }
    }
  }

  ul ul {
    background-color: $white;
    box-shadow: inset 2px 0 0 0 $white, inset 0 0 0 1px $main-menu-border-color;
    border-left: 0;
    min-height: 100%;
    left: 100%;
    padding: 5px 0;
    position: absolute;
    top: 0;
    width: 315px;
    z-index: 5;

    &::before {
      background-image: linear-gradient(to right, rgba($black, 0.6) 0%, rgba($black, 0) 100%);
      content: '';
      display: block;
      opacity: 0.15;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      width: 12px;
    }

    a {
      font-size: rem-calc(14);
      padding: 12px 25px;

      &:hover {
        background-color: $white;
        color: #a09c9c;
      }
    }
  }

  > ul > li > ul > li:hover > a {
    color: #a09c9c;
  }

  ul ul ul {
    a:hover {
      background-color: $blue;
      color: $white;

      span {
        color: inherit;
      }
    }

    a {
      &::after {
        display: none !important;
      }
    }

    li {
      background: none !important;
    }

    span {
      color: #b7b7b7;
      text-shadow: 0 0 0 rgba(#b7b7b7, 0.3);
      margin-left: 0.2em;
    }
  }
}