.pagination {
  display: flex;
  font-size: rem-calc(14);
  font-weight: 700;
  padding: 19px 0;

  @include breakpoint(small only) {
    margin-left: -1 * rem-calc(15);
    margin-right: -1 * rem-calc(15);
    padding-left: rem-calc(7);
    padding-right: rem-calc(7);
  }

  .pagination-block & {
    border-top: 1px solid #e6e6e6;
  }

  &__next,
  &__prev {
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__prev {
    background-image: inline('ico.pagination-prev.svg');
    margin-right: auto;
  }

  &__next {
    background-image: inline('ico.pagination-next.svg');
    margin-left: auto;
  }

  &__item {
    color: rgba($black, 0.8);
    font: inherit;
    text-decoration: none;
    line-height: 1;
    margin: 0 3px;
    transition: all 0.5s ease;

    &.is-active,
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &__sep {
    color: rgba($black, 0.8);
    margin: 0 4px;
    position: relative;

    &::after {
      content: '...';
      display: block;
      position: absolute;
      line-height: 0.6;
      width: 100%;
      text-align: center;
    }
  }

  > * {
    border-radius: 2px;
    display: inline-block;
    flex: 0 0 29px;
    padding: ((29 - 14) / 2 * 1px) 0;
    height: 29px;
    text-align: center;
    width: 29px;
  }
}

.pagination-block {
  text-align: center;

  .load-more {
    margin: 0 auto rem-calc(28);
  }
}