$rate-star-color: (
        star-5: #359e00,
        star-4: #8cb400,
        star-3: #c1c710,
        star-2: #f6c000,
        star-1: #f99f47
);

.review-list {
  margin-bottom: 10px;

  @include breakpoint(small only) {
    padding: 0 10px;
  }

}

.rate-overall {
  display: flex;
  flex-wrap: wrap;

  padding-top: 15px;

  @include breakpoint(small only) {
    padding: 15px 10px 0;
  }
}

.rate-total {
  flex: 0 0 100%;
  margin-bottom: 20px;

  @include breakpoint(medium) {
    flex: 0 0 135px;
  }

  &__value {
    font-size: rem-calc(48);
    line-height: 1;
    margin-bottom: em-calc(10, 48);
  }

  &__star {
    margin: 0 0 5px;
  }

  &__count {
    font-size: rem-calc(13);

    span {
      font-weight: 700;
    }
  }
}

.rate-add {
  flex: 0 0 100%;
  margin-bottom: 20px;

  @include breakpoint(large) {
    align-self: center;
    flex: 0 0 180px;
    margin-left: auto;
  }
}

.rate-detail {
  flex: 0 0 100%;
  margin-bottom: 20px;
  padding-top: 5px;

  @include breakpoint(medium) {
    flex: 0 0 410px;
  }

  &__item {
    color: $gray;
    display: flex;
    font-size: rem-calc(13);
    line-height: 1;
    margin-bottom: em-calc(7, 13);
  }

  &__item-title {
    background: inline('star.svg') no-repeat left center;
    flex: 0 0 40px;
    padding-right: 11px;
    padding-left: 22px;
  }

  &__count {
    flex: 0 0 65px;
  }

  &__line {
    flex: 0 0 230px;
    margin-right: 23px;

    @include breakpoint(small only) {
      flex: 1 0 140px;
      margin-right: 9px;
    }
  }

  [data-star] {
    height: 13px;
  }

  [data-star='1'] {
    background: map-get($rate-star-color, star-1);
  }

  [data-star='2'] {
    background: map-get($rate-star-color, star-2);
  }

  [data-star='3'] {
    background: map-get($rate-star-color, star-3);
  }

  [data-star='4'] {
    background: map-get($rate-star-color, star-4);
  }

  [data-star='5'] {
    background: map-get($rate-star-color, star-5);
  }
}

$star-count: 5;
$star-width: 16 !default;

.star-rate {
  background: inline('star.svg') repeat-x left center;
  background-size: auto 100%;
  font-size: rem-calc($star-width);
  width: em-calc($star-width * $star-count, $star-width);

  div {
    height: 100%;
    background: inline('star.active.svg') repeat-x left center;
    background-size: auto 100%;
    padding-bottom: em-calc($star-width, $star-width);
  }
}

// reviews item
.review {
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  flex-wrap: wrap;
  font-size: rem-calc(14);
  padding: 22px 0;
  position: relative;

  &:first-of-type {
    border-top: 1px solid #d3d3d3;
  }

  &__info {
    flex: 0 0 150px;
    padding-right: 15px;

    @include breakpoint(small only) {
      flex: 0 0 100%;
      padding-right: 100px;
    }
  }

  &__content {
    flex: 1 0 0;

    @include breakpoint(medium) {
      padding-left: 15px;
    }
  }

  &__username {
    color: $grey;
    font-size: em-calc(16, 14);
    font-weight: 700;
  }

  &__date {
    color: #919191;
    font-size: em-calc(12, 14);
  }

  &__rate {
    @include breakpoint(small only) {
      position: absolute;
      right: 0;
      top: 22px;
    }
  }

  &__text {
    color: #888;
    line-height: 1.29;
    font-family: Arial;
    padding-top: em-calc(17, 14);
  }
}

