.slider-main {
  flex: 1 0 0;
  position: relative;
  overflow: hidden;
  height: 292px;

  @include breakpoint(medium) {
    height: 347px;
  }

  @include breakpoint(large) {
    margin-left: 12px;

    height: 406px;
  }

  .bx-wrapper {
    position: relative;
  }

  .bx-pager {
    position: absolute;
    text-align: center;
    bottom: 34px;
    left: 0;
    height: 0;
    width: 100%;

    @include show-for(large);
  }

  .bx-pager-item {
    display: inline-block;
    margin: 0 2px;

    a {
      background-color: transparent;
      border: 2px solid $white;
      border-radius: 5px;
      display: inline-block;
      height: 10px;
      text-indent: -9999px;
      width: 10px;

      &.active {
        background-color: $white;
      }
    }
  }
}

.main-slide {
  display: flex;
  height: 292px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include breakpoint(medium) {
    height: 347px;
  }

  @include breakpoint(large) {
    height: 406px;
  }

  img {
    max-width: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__content {
    background-color: rgba($gray, 0.81);
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: rem-calc(14px);
    flex: 0 0 100%;
    z-index: 4;
    padding: 20px 15px;
    position: relative;

     > * {
       width: 100%;
     }

    @include breakpoint(small only) {
      margin-top: 81px;
    }

    @include breakpoint(medium) {
      flex: 0 0 (434 / 770 * 100%);
      padding: 0 (65 / 770 * 100%);
      width: (434 / 770 * 100%);
    }

    @include breakpoint(large) {
      flex: 0 0 (509 / 903 * 100%);
      padding: 0 (65 / 903 * 100%);
      width: (509 / 903 * 100%);
    }
  }

  &__date {
    font-size: em-calc(14, 14);
  }

  &__title {
    font-size: em-calc(24, 14);
    font-weight: 700;
    line-height: 1;
    margin: em-calc(14, 24) 0;
  }

  &__subtext {
    color: #d8d0ce;
    font-size: em-calc(12, 14);
    line-height: 1.3;
    margin: 0 0 em-calc(23, 12);
  }

  &__readmore {
    color: $white;
    font-size: em-calc(14, 14);
    font-weight: 700;
    text-transform: uppercase;
    
    &:hover {
      color: $blue;
    }

    .ico-wa {
      margin-left: 6px;
    }
  }

  @include breakpoint(medium) {
    &__date {
      font-size: em-calc(16, 14);

    }
    &__title {
      font-size: em-calc(38, 14);
      line-height: 1.11;;
    }

    &__subtext {
      font-size: em-calc(14, 14);

    }

    &__readmore {
      font-weight: 700;
    }
  }
  @include breakpoint(large) {
    &__date {
      font-size: em-calc(18, 14);
    }

    &__title {
      font-size: em-calc(42, 14);
      line-height: 1.19;
    }

    &__subtext {
      font-size: em-calc(16, 14);

    }

    &__readmore {
      font-weight: 700;
    }
  }


}
