.advise-slider {
  position: relative;

  border-bottom: 1px solid $orange;
  padding: 0;
  margin-bottom: 40px;

  &__heading {
    align-items: center;
    display: flex;
    font-size: rem-calc(20);
    font-weight: 700;
    line-height: 1.05;
    padding: 0 0 20px;

    &::after {
      background-color: $orange;
      content: '';
      flex: 1 0 0;
      height: 1px;
      margin: 0 12px 0 18px;
    }
  }

  &__control {
    order: 9999;
    margin-right: -8px;

    @include show-for(medium);

    > *{
      display: inline-block;
    }
  }

  &__body {
    margin-bottom: 35px;

    @include breakpoint(large) {
      margin: 0 -1 * rem-calc(map-get($grid-column-gutter, small) / 2) 35px;
    }
  }

  &__items {
    @include clearfix;
  }

  &__item {
    padding: 0 15px;
  }


  .bx-wrapper {
    position: relative;
  }

  .bx-next,
  .bx-prev {
    background-repeat: no-repeat;
    background-size: 8px 13px;
    background-position: center center;
    border-radius: 3px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;

    &:hover {
      box-shadow: 0 0 3px $orange;
    }
  }
}