.goods-slider {
  padding: 0 0 55px;
  position: relative;

  &__heading {
    color: $black;
    font-size: rem-calc(24);
    font-weight: 700;
    margin-bottom: em-calc(24, 24);
    padding: 0 85px 0 15px;

  }

  &__items {
    @include clearfix;
  }

  &__item {
    padding: 0 15px;
  }

  .bx-controls-direction {
    display: flex;
    position: absolute;
    right: 5px;
    top: -56px;

    @include breakpoint(small only) {
      display: none;
    }
  }

  .bx-wrapper {
    position: relative;
    margin: 0 auto;

    @include breakpoint(large) {
      margin: 0;
    }
  }

  .bx-next,
  .bx-prev {
    background-repeat: no-repeat;
    background-size: 8px 13px;
    background-position: center center;
    border-radius: 3px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;

    &.disabled {
      display: none;
    }

    &:not(.disabled):hover {
      box-shadow: 0 0 3px $orange;
    }
  }
}