.brand-slider {
  padding: 0 45px;

  &__item {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 45px;
    position: relative;
    text-align: center;
  }

  &__img-default,
  &__img-hover {
    max-width: 100%;
    max-height: 100%;
  }

  &__img-default {
    display: block;
  }

  &__img-hover {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;

    :hover > & {
      opacity: 0;
    }
  }

}

.brand-prev,
.brand-next {
  width: 15px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 101;

  a {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    opacity: 0.2;
    text-indent: -9999px;
    width: 100%;

    &:hover {
      opacity: 1;
    }
  }
}

.brand-prev {
  left: 0;
}

.brand-next {
  right: 0;
}

.bx-wrapper {
  margin: 0 auto;
}