/**
 smart filter v1
*/

// settings
// --------
$smart-filter-class: '.sm';
$smart-filter-font-size: rem-calc(16);
$smart-filter-color-map: (
        main: #333,
        active: #00a1de,
        prop-name: #4e4e4e,
        disable: lighten(#333, 30),
        range-selector: #333,
        hover: lighten(#00a1de, 30),
        active-button: #fe7f30
);

$smart-filter-border: 1px solid #dbdbdb;
$smart-filter-background-color: #fff;
$smart-filter-heading-background: #e2e2e2;
$smart-filter-heading-main-text-color: #565353;
$smart-filter-heading-sub-text-color: #6c6c6c;
$smart-filter-padding: rem-calc(20);

$smart-filter-main-font: 'PT Sans', sans-serif;
$smart-filter-second-font: Arial, sans-serif;

$smart-filter-global-radius: 2px;

$smart-filter-checkbox-background: #fff;
$smart-filter-checkbox-active-color: map-get($smart-filter-color-map, active);
$smart-filter-checkbox-border: #e6e6e6;
$smart-filter-input-border: #e6e6e6;

.smart-filter {
  background-color: $smart-filter-background-color;
  border: $smart-filter-border;
  font-family: $smart-filter-main-font;
  line-height: 1;
  margin-bottom: rem-calc(40);
  position: relative;

  &.mobile-smart-filter {
    background: transparent;
    border: 0;
  }

  &__header {
    background-color: $smart-filter-heading-background;
    color: $smart-filter-heading-sub-text-color;
    font-size: rem-calc(15);
    font-family: $smart-filter-second-font;
    margin: -1px;
    padding: rem-calc(28) rem-calc(10) rem-calc(22);
    text-align: center;

    .mobile-smart-filter &{
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15) 0%, transparent 13px);
      box-shadow: 0 1px 0 rgba(143, 143, 143, 0.6);
      padding-top: rem-calc(24);
    }

    span {
      color: $smart-filter-heading-main-text-color;
      display: inline-block;
      font-family: $smart-filter-main-font;
      font-size: rem-calc(18);
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: rem-calc(2);
    }
  }

  /**
    реализация полного и сокращенного фильтра
  */

  &__section {
    border-bottom: $smart-filter-border;
    position: relative;

    &--additional {
      display: none;

      .full-filter & {
        display: block;
      }
    }
  }

  &__prop-group {
    label {
      &:nth-of-type(n + 6) {
        display: none !important;
      }
    }

    &.is-full {
      label {
        display: block !important;
        &:nth-of-type(n + 6) {
          animation: show-prop 0.5s ease 1;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  &__full-list {
    color: map-get($smart-filter-color-map, active);
    display: inline-block;
    font-size: rem-calc(13);
    margin: rem-calc(9) 0;
  }

  &__prop {
    border: 0;
    padding: 0 $smart-filter-padding rem-calc(15);
  }

  &__prop-name {
    border: 0;
    color: map-get($smart-filter-color-map, prop-name);
    display: block;
    padding: rem-calc(22) $smart-filter-padding;
    font-size: rem-calc(12);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;

    &:focus {
      background-color: $smart-filter-background-color;
    }

    &:hover {
      background-color: $smart-filter-background-color;
      box-shadow: inset 0 0 2px map-get($smart-filter-color-map, active);
    }

    &::before {
      content: '';
      display: block;
      background: inline('smart-fiter.arrow.svg') no-repeat center center!important;
      height: 8px;
      margin: 0;
      position: absolute;
      right: $smart-filter-padding;
      width: 11px;
      top: 50%;
      transition: transform 0.5s ease;
      transform: translate(0, -50%) scale(1);
    }

    .is-active & {
      background-color: $smart-filter-background-color;

      &::before {
        content: '';
        transform: translate(0, -50%) scale(-1);
      }
    }
  }

  /* smart filter input */

  input:not([type='submit']):not([type='button']) {
    color: map-get($smart-filter-color-map, main);
    border-color: $smart-filter-input-border;
    border-radius: $smart-filter-global-radius;
    font-size: rem-calc(12);
    margin: 0;
    height: rem-calc(30);
  }

  /*
   smart filter range slider
  */
  &__rslider {
    position: relative;


    input {
      flex: 0 1 auto;
    }

    .rslider {
      background-image: inline('rslider.section.svg'),
      linear-gradient(to top, #fff 0, #fff 3px, #e5e5e5 4px, #e5e5e5 6px, #fff 7px, #fff 9px);
      background-color: #e5e5e5;
      background-position: rem-calc(0) 0, 0 0;
      background-size: 25% 100%, 100%;
      background-repeat: repeat-x;
      height: rem-calc(9);
      margin: rem-calc(12) rem-calc(0);
      position: relative;

      &::after,
      &::before {
        background: #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: rem-calc(8);
      }

      &::after {
        right: 0;
        box-shadow: -1px 0 0 0 #e5e5e5;
      }

      &::before {
        left: 0;
        box-shadow: 1px 0 0 0 #e5e5e5;

      }
    }

    .slider-handle {
      background-color: transparent;
      //border: 2px solid #333;
      //border-radius: 8px;
      height: 16px;
      width: 16px;
      position: absolute;
      z-index: 1;
      display: inline-block;
      transform: translate(99%, -99%);
      top: 50%;
      touch-action: manipulation;

      &::after {
        content: '';
        display: block;
        background-color: #fff;
        border-radius: 8px;
        border: 2px solid #333;
        height: 16px;
        width: 16px;
      }

      &.left {
        transform: translate(-100%, -50%);
        &::after {
          transform: translate(50%, 0);
        }
      }
      &.right{
        transform: translate(100%, -50%);
        &::after {
          transform: translate(-50%, 0);
        }
      }
    }

    .slider-fill {
      background-color: map-get($smart-filter-color-map, main);
      background-position: 0 0;
      position: absolute;
      top: 3px;
      left: 0;
      max-width: 100%;
      height: rem-calc(3);
      transition: all 0.5 ease;
    }
  }

  &__rslider-labels {
    display: flex;
    justify-content: space-between;

    > * {
      flex: 0 0 auto;
    }
  }

  &__rslider-max,
  &__rslider-min {
    color: #b7b7b7;
    font-size: rem-calc(12);
  }

  &__rslider-field {
    align-items: center;
    display: flex;
    margin-bottom: rem-calc(16);

    span {
      color: #b7b7b7;
      flex: 0 0 auto;
      font-family: $font-ub;
      font-size: rem-calc(12);
      margin: 0 rem-calc(7);
    }
  }
  /**
    smart filter checkbox
  */

  [type='checkbox'] {
    display: none;

    + label {
      color: map-get($smart-filter-color-map, disable);
      display: block;
      position: relative;
      padding-left: rem-calc(22);
      margin: rem-calc(4) 0;

      &::before {
        background: $smart-filter-checkbox-background inline('smart-filter.ckeckbox-tick.svg') no-repeat center center;
        border: 1px solid $smart-filter-checkbox-border;
        content: '';
        flex: 0 0 14px;
        display: block;
        position: absolute;
        left: 0;
        top: 2px;
        height: 14px;
        width: 14px;
      }
    }

    &[disabled] {
      + label {
        cursor: default;
        color: lighten(map-get($smart-filter-color-map, disable), 40);
      }
    }

    &:checked {
      + label {
        color: map-get($smart-filter-color-map, main);
        cursor: pointer;
      }

      + label::before {
        background-color: $smart-filter-checkbox-active-color;
        border-color: $smart-filter-checkbox-active-color;
      }
    }
  }

  /**
  * smart filter footer
  */
  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: rem-calc(20) $smart-filter-padding rem-calc(15);
  }

  &__show,
  &__reset {
    display: inline-block;
    border: 2px solid map-get($smart-filter-color-map, active);
    border-radius: $smart-filter-global-radius;
    flex: 0 0 108px;
    font-size: rem-calc(13);
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: rem-calc(14);
    max-width: 108px;
    padding: rem-calc(8) rem-calc(5);
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      background-color: map-get($smart-filter-color-map, active-button);
      border-color: map-get($smart-filter-color-map, active-button);
      color: #fff;
    }
  }

  &__show {
    background: map-get($smart-filter-color-map, active);
    color: #fff;
  }

  &__reset {
    background: #fff;
    color: map-get($smart-filter-color-map, active);
  }

  &__full-filter {

    color: map-get($smart-filter-color-map, prop-name);
    display: block;
    flex: 0 0 100%;
    font-size: rem-calc(13);
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    &::after {
      background: $smart-filter-checkbox-background inline('smart-fiter.arrow.svg') no-repeat center center;
      background-size: cover;
      content: '';
      display: inline-block;
      height: 5px;
      margin: 0 -15px 0 7px;
      width: 8px;
    }

    span {
      display: inline-block;
    }

    &:hover {
      ::after {
        border-color: transparent;
      }
    }

    span::after {
      display: block;
      content: '';
      border-bottom: 1px dotted map-get($smart-filter-color-map, active);
    }
  }

  .bx-filter-popup-result {

  }

  &__popup-result {
    align-items: center;
    display: flex;
    background: map-get($smart-filter-color-map, active);
    color: #fffefe;
    font-size: rem-calc(13);
    white-space: nowrap;
    position: absolute;
    left: 100%;
    z-index: 1;

    padding: rem-calc(12) rem-calc(16) rem-calc(12) rem-calc(22);

    span {
      font-weight: bold;
    }

    a {
      display: inline-block;
      color: white;
      font-weight: 700;
      width: 90px;
      height: 30px;
      border: 1px solid white;
      border-radius: 2px;
      padding: rem-calc(8 6 7);
      text-align: center;
      text-decoration: none;
      margin-left: rem-calc(17);
      
      &:hover {
        background-color: #fff;
        color: map-get($smart-filter-color-map, active);
      }
    }

    &::after {
      border-width: 27px 16px;
      border-style: solid ;
      border-color: transparent map-get($smart-filter-color-map, active) transparent transparent;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%);
    }
  }

  //   mobile buttons
  &__mobile-buttons {
    padding: rem-calc(18) 0 0;

    a {
      border-radius: 2px;
      display: block;
      color: #fff;
      font-size: rem-calc(15);
      font-weight: bold;
      line-height: 1.1;
      margin: 0 rem-calc(20) rem-calc(12);
      padding: rem-calc(12) rem-calc(5);
      text-align: center;
      text-decoration: none;
    }
  }

  &__mobile-close {
    background-image: linear-gradient(to top, #0090d1 0%, #00b2eb 100%);
  }

  &__mobile-reset {
    background-color: #b8b8b8;
  }

  //reset accordion style
  .accordion-title,
  .accordion-content {
    background: transparent;
  }

  .accordion-title {
    border-bottom: 0;
  }
}

.mobile-filter-button {
  @include hide-for(large);
  margin-bottom: rem-calc(25);
}

@keyframes show-prop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
