div.title-search-result {
  display: none;
  background: $white;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 10px;
  max-height: 60vh;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  overflow: auto;
  position: absolute;

  table {
    width: 100%;
  }

  .title-search-item {
    border-bottom: 1px solid $grey;
    padding: rem-calc(5) rem-calc(10);


    img {
      margin-right: rem-calc(10);
    }
  }
}