$top-bar-background: #4d4d4d;
$top-bar-height: 46px;

.top-bar {
  background-color: $top-bar-background;
  // compensate scrollbar
  box-shadow: 25px 0 0 0 $top-bar-background;
  position: relative;
  z-index: $z-top-bar;
  transition: transform 0.5s ease;

  //@include reset-list;

  &__inner {
    display: flex;
    height: $top-bar-height;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $global-width;
    position: relative;

    @include breakpoint(large) {
      padding: 0 0 0 rem-calc(15);
    }
  }

  > * {
    color: $white;
  }

  &__logo {
    display: none;
  }

  &__location {
    align-items: center;
    display: none;
    flex: 0 0 160px;
    font-size: rem-calc(14);
    max-width: 160px;
    text-overflow-ellipsis: ellipsis;
    white-space: nowrap;

    @include breakpoint(medium only) {
      flex: 0 0 130px;
      max-width: 130px;
      padding: 0 10px;

      &::before {
        align-self: center;
        background: rgba($black, 0.15);
        content: '';
        display: block;
        flex: 0 0 1px;
        height: 20px;
        width: 1px;
      }
    }

    @include breakpoint(medium) {
      display: flex;
    }
  }

  &__location-change {
    text-decoration: underline;

    @include breakpoint(medium only) {
      flex: 1 0 100%;
      text-align: center;
    }

    @include breakpoint(large) {
      margin-left: 0.5em;
    }
  }

  &__location-title {
    display: none;
    @include breakpoint(large) {
      display: inline-block;
    }
  }

  &__cart-block {
    position: relative;
    flex: 0 0 auto;

    &::after {
      background: $orange-gradient;
      content: '';
      opacity: 0;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease;
    }

    &:hover {
      &::after {
        opacity: 1;

      }

      .top-bar__counter {
        background-color: $white !important;
        color: $grey;
      }
    }

  }

  &__cart {
    align-items: center;
    background-repeat: no-repeat;
    background-position: 5px center;
    color: $white;
    display: flex;
    height: $top-bar-height;
    flex: 0 0 auto;
    font-size: rem-calc(15);
    font-weight: 400;
    padding: 0 9px 0 21px;
    text-decoration: none;

    @include breakpoint(medium) {
      background-position: 25px center;
      padding-left: 51px;
    }

    @include breakpoint(large) {
      background-position: 35px center;
      padding-left: 61px;
      padding-right: rem-calc(9 + 15);
    }
  }

  //&__cart-count {
  //
  //}

  &__cart-price,
  &__cart-order,
  &__cart-title {
    display: none;
  }

  &__cart-title {
    @include breakpoint(medium) {
      display: inline-block;
      flex: 0 0 auto;
    }
  }

  &__cart-price,
  &__cart-order {
    @include breakpoint(large) {
      display: inline-block;
    }
  }

  &__menu {
    display: flex;
    flex: 1 1 auto;
    list-style: none;
    margin-left: auto;
    max-width: 550px;
    width: 100%;

    @include hide-for-only(small);

    //@include breakpoint(medium) {
    //  display: flex;
    //}

    li {
      display: flex;
      flex: 1 0 auto;

      @include breakpoint(large) {
        min-width: 150px;
      }

      &::before {
        align-self: center;
        background: rgba($black, 0.15);
        content: '';
        display: block;
        flex: 0 0 1px;
        height: 20px;
        width: 1px;
        position: static;
      }

      &:last-child {
        &::after {
          align-self: center;
          background: rgba($black, 0.15);
          content: '';
          display: block;
          flex: 0 0 1px;
          height: 20px;
          width: 1px;
        }
      }
    }

    a {
      align-items: center;
      color: $white;
      display: flex;
      flex: 1 0 auto;
      font-size: rem-calc(15);
      font-weight: 400;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      transition: all .4s linear;

      &:hover {
        background-color: $orange;
      }
    }
  }

  &__menu-text {
    display: none;
    margin-left: 9px;

    @include breakpoint(large) {
      display: inline;
    }
  }

  &__counter {
    display: inline-block;
    background-color: #626262;
    border-radius: 9px;
    flex: 0 0 auto;
    font-size: em-calc(12, 15);
    margin: 0 0 0 9px;
    line-height: rem-calc(15);
    min-width: 24px;
    height: 15px;
    padding: 0px 4px;
    text-align: center;

    &.not-empty {
      background-color: $blue;
    }

    .top-bar__cart & {
      margin: 0 9px;
    }

    .top-bar__cart-block.not-empty & {
      background-color: $orange;
    }
  }

  &__cart-price {
    white-space: nowrap;
  }

  &__cart-order {
    background: $orange-gradient;
    border: 0;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    flex: 0 0 140px;
    font-size: rem-calc(14);
    font-weight: 400;
    height: 27px;
    line-height: 27px;
    margin: 0 21px 0 15px;
    max-width: 140px;
    text-align: center;

    &:hover {

    }
  }
}

.menu-humburger {
  color: $white;
  cursor: pointer;
  display: block;
  flex: 0 0 102px;
  font-weight: 700;
  line-height: $top-bar-height;
  max-width: 102px;
  padding-left: 47px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  @include breakpoint(medium) {
    flex: 0 0 131px;
    max-width: 131px;
    padding-left: 65px;
  }

  @include breakpoint(large) {
    display: none;
  }

  &::after {
    background-color: $white;
    box-shadow: 0 6px 0 0 $white,
    0 -6px 0 0 $white;
    content: '';
    display: block;
    height: 3px;
    left: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;

    @include breakpoint(medium) {
      left: 35px;
    }

  }
}