$button-orange-gradient: linear-gradient(to top, darken(#ff6444, 15) 0%, /*lighten(#ff6444, 5) 50%,*/
        #ff6444 50%, #ff8312 100%);

$button-orange-gradient-default: linear-gradient(to top, #ff6440 0%, #ff8400 100%);
$button-orange-gradient-default--hover: linear-gradient(to top, #0090d1 0%, #00b2eb 100%);

[class*='button'] {
  cursor: pointer;
}

%hover-blue {
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: $button-orange-gradient-default--hover;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.button-orange {
  background-image: $button-orange-gradient-default;
  border-radius: 2px;
  color: $white;
  display: block;
  font-size: rem-calc(13);
  font-weight: bold;
  line-height: 1.62;
  padding: 7px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @extend %hover-blue;
}

.button-blue {
  background-image: $blue-gradient;
  border-radius: 2px;
  color: $white;
  display: block;
  font-size: rem-calc(13);
  font-weight: bold;
  line-height: 1.62;
  padding: 7px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.button-iblue {
  border: 2px solid $blue;
  border-radius: 2px;
  color: $blue;
  display: block;
  font-size: rem-calc(13);
  font-weight: bold;
  line-height: 1.62;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;

  &:hover {
    background-image: $blue-gradient;
    color: $white;
  }
}

.button-grey {
  background-image: $grey-gradient;
  border-radius: 2px;
  color: $white;
  display: block;
  font-size: rem-calc(13);
  font-weight: bold;
  line-height: 1.62;
  padding: 7px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;

  @extend %hover-blue;
}

.button-print {
  background: inline('ico.print.svg') no-repeat left center;
  color: $black;
  display: inline-block;
  font-size: rem-calc(14);
  line-height: 1;
  padding: 13px 0 10px 40px;
}

.button-white {
  background-color: $white;
  border: 2px solid $orange;
  border-radius: 2px;
  color: $orange;
  display: block;
  font-size: rem-calc(15);
  font-weight: bold;
  line-height: 1.62;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;

  &:hover {
    color: $white;
    background-color: $orange;
  }
}

.button__next-step {
  @extend .button-orange;

  font-size: rem-calc(15);
  padding: 8px;
}

.go2section {
  background-position: right center;
  background-repeat: no-repeat;
  color: $orange;
  display: inline-block;
  font-size: rem-calc(14);
  font-weight: 700;
  line-height: 1;
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;

  &:hover {
    padding-right: 28px;
  }
}

.load-more {
  display: inline-block;
  color: #333;
  font-size: rem-calc(14);
  font-weight: 700;
  line-height: 25px;
  margin-bottom: rem-calc(30);
  padding-left: 34px;
  position: relative;
  text-decoration: none;

  &::before {
    background-color: #484848;
    background-image: inline('ico.load-more.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    content: '.';
    font-size: 0;
    display: inline-block;
    height: 25px;
    left: 0;
    position: absolute;
    margin-right: 9px;
    top: 0;
    width: 25px;
  }

  &.is-loading,
  &:hover {
    &::before {
      animation: loading-more 2s infinite;
    }
  }
}

@keyframes loading-more {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$ui-counter-border-color: #c6c6c6;
$ui-counter-class: 'ui-counter';

.#{$ui-counter-class} {
  border: 1px solid $ui-counter-border-color;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  width: 130px;

  &__plus,
  &__minus {
    background-color: #e1e1e1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    color: $gray;
    cursor: pointer;
    display: block;
    flex: 0 0 29px;
    font-size: rem-calc(35);
    text-align: center;
    line-height: 29px;
    overflow: hidden;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $orange;
    }
  }

  &__plus {
    background-image: inline('ui-counter-p.svg');
  }

  &__minus {
    background-image: inline('ui-counter-m.svg');
  }

  &__field {
    flex: 1 1 auto;
  }

  input {
    border: 0 !important;
    border-left: 1px solid $ui-counter-border-color;
    border-right: 1px solid $ui-counter-border-color;
    color: #111;
    display: block;
    font-family: $font-ub;
    font-size: rem-calc(16);
    font-weight: 700;
    line-height: rem-calc(18);
    padding: 4px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  &--small {

    .#{$ui-counter-class} {
      &__plus,
      &__minus {
        background-size: 12px 12px;
        flex: 0 0 25px;
        width: 25px;
        height: 26px;
        line-height: 26px;
      }
    }

    input {
      background-color: #f4f4f4;
      font-size: rem-calc(13);
    }
  }
}

.file-button {
  background: inline('ico.clip.svg') no-repeat left center;
  color: $blue;
  display: inline-block;
  font-size: rem-calc(12);
  font-weight: 700;
  line-height: 1;
  padding: 5px 0 4px 25px;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    margin-top: 3px;
    border-top: 1px dashed $blue;
  }

  &:hover {
    &::after {
      border-top-color: transparent;
    }
  }
}

.add2compare {
  color: #908d8d;
  text-shadow: 0 0 .1px rgba(#908d8d, 0.3);
  cursor: pointer;
  display: inline-block;
  transition: color 0.5s ease;
  text-decoration: none;

  &:hover,
  &.is-active {
    color: #ff601b;
    text-shadow: 0 0 .1px rgba(#ff601b, 0.3);
  }
}

.file-link {
  align-items: center;
  background: inline('ico.file.svg') no-repeat left center;
  color: $grey;
  display: flex;
  font-size: rem-calc(15);
  line-height: 1.2;
  padding-left: 53px;
  min-height: 52px;
  margin-bottom: 10px;
}

.bx-prev,
.bx-next {
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;

  &.disabled {
    display: none;
  }
}

textarea {
  resize: vertical;
}

/* radio button */
$radio-default-color: $white;
$radio-active-color: $blue;

[type='radio'] {
  display: none;

  + label {
    color: $grey;
    font-size: rem-calc(15);
    font-weight: 700;
    margin-bottom: em-calc(24, 15);
    margin-right: 0;
    padding-left: 33px;
    position: relative;
    line-height: 1;

    &::before {
      background-color: $radio-default-color;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $radio-default-color, 0 0 0 4px #d9d9d9;
      content: '';
      display: block;
      height: 11px;
      left: 0;
      position: absolute;
      top: 2px;
      transition: all 0.5s ease;
      width: 11px;
    }

    .radio-helps {
      @include show-for(medium);

      color: #878787;
      font-family: $font-arial;
      font-size: em-calc(14, 15);
      font-weight: 400;
      line-height: 1.29;
      padding-top: 11px;
    }
  }

  &:checked + label {
    &:before {
      background-color: $radio-active-color;
      box-shadow: 0 0 0 2px $radio-default-color, 0 0 0 4px $radio-active-color;
    }
  }
}

/* radio button END */
/* checkbox button */
[type='checkbox'] {
  display: none;

  + label {
    color: $grey;
    font-size: rem-calc(14);
    margin: 0 em-calc(10, 14) em-calc(15, 14) 0;
    padding-left: 30px;
    position: relative;
    line-height: em-calc(20, 14);

    &::before {
      background-color: $white;
      border: 1px solid #ddd;
      border-radius: 2px;
      content: '\2713';
      color: transparent;
      display: block;
      height: 20px;
      left: 0;
      line-height: 20px;
      position: absolute;
      top: 0;
      transition: all 0.5s ease;
      text-align: center;
      width: 20px;
    }
  }

  &:checked + label {
    &:before {
      color: currentColor;
    }
  }
}

/* checkbox button END*/

.ico-prev,
.ico-next {
  background: inline('ico.next.svg') no-repeat center center;
  display: inline-block;
  width: 14px;

  &:after {
    content: '.';
    color: transparent;
  }
}

.ico-prev {
  transform: scale(-1);
}

* {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.toTop {
  display: inline-block;
  color: #a9a9a9;
  font-size: rem-calc(14);
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  padding: rem-calc(15);
  position: fixed;
  right: rem-calc(10);
  bottom: rem-calc(5);
  transition: all 0.5s ease;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: $z-header;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    color: #ff7e1b;
  }

  &::before {
    background-color: currentColor;
    background-image: inline('2top.svg');
    background-position: center center;
    background-size: percentage(14/51) auto;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: rem-calc(50);
    width: rem-calc(50);
    display: block;
    content: '';
    margin-bottom: rem-calc(5);
  }
}
