.reviews-reply-form {
  margin-bottom: rem-calc(15);

  .reviews-reply-header {
    font-size: rem-calc(14);
    text-transform: uppercase;
    line-height: 30px;
  }

  .reviews-required-field {
    color: $orange;
    font-size: em-calc(14, 16);
  }

  .lha-source-div {
    padding: 0;
  }

  .send_button {
    @extend .button-orange;
  }
}