block letter-filter
  -
    var
    letterList_1 = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Ъ', 'Ы', 'Ь', 'Э', 'Ю', 'Я'],
    letterList_2 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];

  .letter-filter#letter-filter(data-toggler='.is-show')
    .letter-filter__show.js-show-filter(data-toggle='letter-filter') Фильтр по алфавиту
    .letter-filter__list
      a.is-active(href='#') Все
      each item in letterList_1
        a(href='#')= item
      .letter-filter__separate
      each item in letterList_2
        a(href='#')= item
      a(href='#').is-disabled.letter-filter__number 0-9