$sNote-color-default: $orange;

.snote {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: 1.2;
  max-width: 250px;
  position: fixed;
  right: 10%;
  top: 10%;
  z-index: $z-header + 10;

  &--default {
    background-color: $sNote-color-default;
    color: $white;
  }

  &--green {
    background-color: green;
    color: $white;
  }

  &__item {
    animation: show-snote 1s;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba($black, .5);
    display: inline-block;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
    transition: all .1s ease-in;
    width: auto;
  }
}

@keyframes show-snote {
  from {
    opacity: 0;
    transform: translate(0, 100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}