/// Параметры шаблона
$inner-max-width: 1920px;

//z stack
$z-header: 600;
$z-header-inner: 100;
$z-top-bar: 110;

$category-color: (
        color-1: #00bba0,
        color-2: #00b1cd,
        color-3: #f7c200,
        color-4: #ff5555,
        color-5: #c2359d,
        color-6: #5f2cc0,
        color-7: #2e2c52,
        color-8: #00bf67,
        color-9: #00bad5,
        color-10: #ff7300,
        color-11: #986100
);

