// Доставка
.payment-step
  .order-section-title Способ оплаты
  input(type='radio' name='payment-type' value='' id='payment-type-1')
  label(for='payment-type-1')
    .radio-title Оплата наличными в пункте самовывоза
    .radio-helps
      | Данный способ оплаты предусматривает оплату товара при получении в пункте самовывоза и позволяет сэкономить на
      | доставке. Также данный способ оплаты обязателен при сумме заказа более 200 000 руб. в качестве 100% предоплаты.
  input(type='radio' name='payment-type' value='' id='payment-type-2')
  label(for='payment-type-2')
      .radio-title Оплата картой в пункте самовывоза
      .radio-helps
        | Данный способ оплаты предусматривает оплату товара при получении в пункте самовывоза и позволяет сэкономить на
        | доставке. Также данный способ оплаты обязателен при сумме заказа более 200 000 руб. в качестве 100% предоплаты.
  input(type='radio' name='payment-type' value='' id='payment-type-3')
  label(for='payment-type-3')
      .radio-title Оплата картой в пункте самовывоза
      .radio-helps
        | Данный способ оплаты предусматривает оплату товара при получении в пункте самовывоза и позволяет сэкономить на
        | доставке. Также данный способ оплаты обязателен при сумме заказа более 200 000 руб. в качестве 100% предоплаты.
  input(type='radio' name='payment-type' value='' id='payment-type-4')
  label(for='payment-type-4')
      .radio-title Оплата картой курьеру при получении
      .radio-helps
        | Данный способ оплаты предусматривает оплату товара посредством мобильного терминала курьеру при получении
        | заказа. Этот способ оплаты возможен при наличии уверенного сигнала GSM Мегафон.Комиссия не взимается.
  input(type='radio' name='payment-type' value='' id='payment-type-5')
  label(for='payment-type-5')
      .radio-title Оплата картой через сайт
      .radio-helps
        | Данный способ оплаты предусматривает оплату товара посредством мобильного терминала курьеру при получении
        | заказа. Этот способ оплаты возможен при наличии уверенного сигнала GSM Мегафон.Комиссия не взимается.
  input(type='radio' name='payment-type' value='' id='payment-type-6')
  label(for='payment-type-6')
      .radio-title Банковский перевод
      .radio-helps
        | Данный способ оплаты предусматривает оплату товара посредством мобильного терминала курьеру при получении
        | заказа. Этот способ оплаты возможен при наличии уверенного сигнала GSM Мегафон.Комиссия не взимается.
