.info-step
    .order-section-title Информация о заказе
    .summary-section
      .row.summary-info
        .column.small-12.medium-5
          .summary-info__title Контактные данные
          table.summary-info__table
            tbody
              tr
                td ФАМИЛИЯ
                td Иванов
              tr
                td ИМЯ
                td Иван
              tr
                td ОТЧЕСТВО
                td Иванович
              tr
                td Телефон
                td +7(900) 123-45-67
              tr
                td Email
                td Ivanov@mail.ru
              tr
                td Доставка В
                td
                  | Доставка в регионы
                  br
                  i (стоимость доставки 500 руб)
        .column.small-12.medium-7
          .summary-info__title Адрес доставки
          table.summary-info__table
            tbody
              tr
                td АДРЕС
                td г. Вологда, ул. Комсомольская д.35, кв. 4
              tr
                td Время доставки
                td 18:00 - 00:00
              tr
                td примечание
                td.summary-info__comment подъезд удобнее от магазина «Солнышко»
          .summary-info__title Способ оплаты
          table.summary-info__table
            tr
              td Наличными курьеру при получении
