.delivery-step
  .order-section-title Способ оплаты
  .delivery-step__result
    span.ico-rub
    div
      != 'Стоимость доставки Вашего заказа составит '
      span.value 500 р
  .order-section
    // ПУНКТ В ТЗ 12.4
    .row
      label(for='order-street').column.small-12.medium-4.medium-offset-4
        .field-label Удаленность от МКАД
          span *
        input(type='text' placeholder='' id='order-street' name='')
      .column.small-12
        label
          .field-label ТРАНСПОРТНАЯ КОМПАНИЯ
            span *
          input(type='text' placeholder='' id='order-street' name='')
        input(type='checkbox' id='transport-company-01')
        label(for='transport-company-01') Заказать обрешетку посылки
        input(type='checkbox' id='transport-company-02')
        label(for='transport-company-02') Страхование груза
      .column.small-12.field-group
        div ПОЛУЧАТЕЛЬ
        .row
          label(for='order-street').column.small-12.medium-6.large-4
            .field-label Фамилия
              span *
            input(type='text' placeholder='' id='order-street' name='')
          label(for='order-street').column.small-12.medium-6.large-4
            .field-label Имя
              span *
            input(type='text' placeholder='' id='order-street' name='')
          label(for='order-street').column.small-12.medium-6.large-4
            .field-label Отчество
              span *
            input(type='text' placeholder='' id='order-street' name='')
          .column.small-12.large-8
            .field-label ПАСПОРТ
              span *
            .row
              .column.small-12.medium-6
                input(type='text' placeholder='Серия' id='order-street' name='')
              .column.small-12.medium-6
                input(type='text' placeholder='Номер' id='order-street' name='')
      label(for='order-street').column.small-12.medium-8
        .field-label РАЙОН
          span *
        input(type='text' placeholder='' id='order-street' name='')
      label(for='order-street').column.small-12.medium-4
        .field-label ГОРОД/Н.П.
          span *
        input(type='text' placeholder='' id='order-street' name='')
      label(for='order-street').column.small-12
        .field-label УЛИЦА
          span *
        input(type='text' placeholder='' id='order-street' name='')
      label(for='order-building').column.small-6.medium-6.large-4
        .field-label ДОМ
          span *
        input(type='text' placeholder='' id='order-building' name='')
      label(for='order-part').column.small-6.medium-6.large-4
        .field-label КОРПУС/СТРОЕНИЕ
          span *
        input(type='text' placeholder='' id='order-part' name='')
      label(for='order-apartment').column.small-6.medium-6.large-4
        .field-label квартира
          span *
        input(type='text' placeholder='' id='order-apartment' name='')
      label(for='order-time').column.small-12
        .field-label ВРЕМЕННОЙ ИНТЕРВАЛ
          span *
        select(placeholder='' id='order-time' name='')
          option 10.00-11.00
          option 11.00-12.00
          option 12.00-13.00
          option 13.00-14.00
          option 14.00-15.00
      .column
        .delivery-step__warning
          span.ico-warning-light
          div
            | Обратите внимание, что доставка заказа осуществляется строго до подъезда. Разгрузка и подъем на нужный этаж
            | доставленного товара осуществляется покупателем
      label(for='order-street').column.small-12
        .field-label ПРИМЕЧАНИЕ
          span *
        textarea(placeholder='' id='order-street' name='')
      .column.small-12
        | Доставка в нашем интерне-магазине осуществляется только на сумму <b>свыше 2000 руб</b>.
        | Заказы на меньшую сумму реализуется посредством самовывоза.
        | После оформления заказа, наш менеджер обязательно свяжется с Вами.
