.info-step
    .order-section-title.hide-for-small-only Контактные данные
    .user-type
      input(type='radio' name='user-type' id='user-type-1' value='private' checked)
      // WARNING: Привязка работы скрипта идет через value
      label.user-type__label(for='user-type-1')
        span.show-for-medium Физическое лицо
        span.show-for-small-only Физ. лицо
      input(type='radio' name='user-type' id='user-type-2' value='legal')
      label.user-type__label(for='user-type-2')
        span.show-for-medium ЮРИДИЧЕСКОЕ ЛИЦО
        span.show-for-small-only ЮР. ЛИЦО
    .order-section
      // При первоначальном выводе c backEnd`а устранавливать свойство display
      .row.js-legal-entity(style='display: none')
        .column.small-12
          .company-card
            input(type='file' id='company-card').is-hidden
            label.field-label(for='company-card')
              != 'Карточка организации:  '
              div.file-button Прикрепить файл
            .company-card__tips
              | Чтобы не заполнять вручную, можно прикрепить файл
        label(for='order-company-name').column.small-12
          .field-label Наименование организации
            span *
          input(type='text' placeholder='' id='order-company-name' name='')
        label(for='order-inn').column.small-12.medium-6.large-4
          .field-label ИНН
            span *
          input(type='text' placeholder='' id='order-inn' name='')
        label(for='order-kpp').column.small-12.medium-6.large-4
          .field-label КПП
            span *
          input(type='text' placeholder='' id='order-kpp' name='')
        label(for='order-bik').column.small-12.medium-6.large-4
          .field-label БИК
            span *
          input(type='text' placeholder='' id='order-bik' name='')
        label(for='order-checking-account').column.small-12.medium-6.large-4
          .field-label РАСЧЕТНЫЙ СЧЕТ
            span *
          input(type='text' placeholder='' id='order-checking-account' name='')
        label(for='order-ogrn').column.small-12.medium-6.large-4
          .field-label ОГРН
            span *
          input(type='text' placeholder='' id='order-ogrn' name='')
        label(for='order-okpo').column.small-12.medium-6.large-4
          .field-label ОКПО
            span *
          input(type='text' placeholder='' id='order-okpo' name='')
        label(for='order-corporate-account').column.small-12
          .field-label КОр. СЧет
            span *
          input(type='text' placeholder='' id='order-corporate-account' name='')
        label(for='order-bank-name').column.small-12
          .field-label Наименование БАНКА
            span *
          input(type='text' placeholder='' id='order-bank-name' name='')
        label(for='order-legal-address').column.small-12
          .field-label юридический адрес
            span *
          input(type='text' placeholder='' id='order-legal-address' name='')
        label(for='order-current-address').column.small-12
          .field-label фактический адрес
            span *
          input(type='text' placeholder='' id='order-current-address' name='')
          input(type='checkbox' id='equal-address')
          label(for='equal-address')
            b — Соответстувует юридическому адресу
      .row
        label(for='order-surname').column.small-12.medium-6.large-4
          .field-label ФАМИЛИЯ
            span *
          input(type='text' placeholder='' id='order-surname' name='')
        label(for='order-name').column.small-12.medium-6.large-4
          .field-label ИМЯ
            span *
          input(type='text' placeholder='' id='order-name' name='')
        label(for='order-second-name').column.small-12.medium-6.large-4
          .field-label ОТЧЕСТВО
          input(type='text' placeholder='' id='order-second-name' name='')
        label(for='order-phone').column.small-12.medium-6.large-4
          .field-label Телефон
            span *
          input(type='text' placeholder='' id='order-phone' name='')
        label(for='order-phone-2').column.small-12.medium-6.large-4
          .field-label Дополнительный телефон
          input(type='text' placeholder='' id='order-phone-2' name='')
        label(for='order-email').column.small-12.medium-6.large-4
          .field-label Email
            span *
          input(type='email' placeholder='' id='order-email' name='')
        label(for='order-delivery-type').column.small-12
          .field-label Доставка В
            span *
          select(placeholder='' id='order-delivery-type' name='')
            option Москва (в пределах МКАД)
            option Область (в пределах 100 км от МКАД)
            option Регион (более 100 км от МКАД)
            option Самовывоз