@keyframes call-hover {
  0%, 50% {
    box-shadow: 0 0 0 0 rgba($orange, 0.1),
                0 0 0 0 $white,
                0 0 0 0 rgba($orange, 0.1);
  }

  20%, 70% {
    box-shadow: 0 0 0 0px rgba($orange, 0.6),
    0 0 0 5px $white,
    0 0 0 10px rgba($orange, 0.6);
  }
  45%, 100% {
    box-shadow: 0 0 0 7px rgba($orange, 0.6),
                0 0 0 10px $white,
                0 0 0 10px rgba($orange, 0.6);
  }
}
