.top-bar__cart,
.top-bar__cart-block:hover > .top-bar__cart{
  background-image: inline('ico.cart.png');
}

.top-bar__cart {
  .not-empty & {
    background-image: inline('ico.cart.is-active.png');
  }
}

.ico-sale {
  background-image: inline('ico.sale.png');
  height: height('ico.sale.png');
  width: width('ico.sale.png');
}

.ico-heart {
  background-image: inline('ico.heart.png');
  height: height('ico.heart.png');
  width: width('ico.heart.png');
}

.ico-graph {
  background-image: inline('ico.graph.png');
  height: height('ico.graph.png');
  width: width('ico.graph.png');
}

.ico-sale--dark {
  background-image: inline('ico.sale-dark.svg');
  height: height('ico.sale-dark.svg');
  width: width('ico.sale-dark.svg');
}

.ico-heart--dark {
  background-image: inline('ico.heart-dark.png');
  height: height('ico.heart-dark.png');
  width: width('ico.heart-dark.png');
}

.ico-graph--dark {
  background-image: inline('ico.graph-dark.png');
  height: height('ico.graph-dark.png');
  width: width('ico.graph-dark.png');
}

.ico-compare {
  background-image: inline('ico.compare.png');
  height: height('ico.compare.png');
  margin-right: 7px;
  position: relative;
  width: width('ico.compare.png');

  &::after {
    background-image: inline('ico.compare-active.png');
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 0.5s ease;
  }

  :hover > &::after,
  &:hover::after,
  .is-active > &::after {

    opacity: 1;
  }
}

.add2favorite {
  background-color: #e9e9e9;
  background-image: inline('ico.heart-2.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  height: 29px;
  position: relative;
  width: 29px;

  &::after {
    background-image: inline('ico.heart-2.active.png');
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 0.5s ease;
  }


  &:hover,
  &.is-active {
    background-color: $blue;

    &::after {
      opacity: 1;
    }
  }
}

.ico-sale,
.ico-heart,
.ico-graph,
.ico-sale--dark,
.ico-heart--dark,
.ico-graph--dark,
.ico-compare,
.ico-wa{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.site-header__search button,
.ico-search {
  background-image: inline('ico.search.svg');
}

.button-feedback::before {
  background-image: inline('ico.call.png');
}

.cart-header__phone,
.site-header__phone {
  background-image: inline('ico.tel.png');
}

.ico-payment {
  display: inline-block;
  background-image: inline('ico.payment.png');
  height: height('ico.payment.png');
  width: width('ico.payment.png');

  :hover > &,
  &:hover {
    background-image: inline('ico.payment-hover.svg');
  }
}

.ico-email {
  display: inline-block;
  background-image: inline('ico.email.svg');
  height: height('ico.email.svg');
  width: width('ico.email.svg');

  :hover > &,
  &:hover {
    background-image: inline('ico.email-hover.svg');
  }
}

.ico-wa {
  display: inline-block;
  background-image: inline('ico.arrow-white.svg');
  height: height('ico.arrow-white.svg');
  width: width('ico.arrow-white.svg');
}

.ico-footer-mail {
  display: inline-block;
  background-image: inline('ico.footer-mail.svg');
  flex: 0 0 width('ico.footer-mail.svg');
  height: height('ico.footer-mail.svg');
  width: width('ico.footer-mail.svg');
}

.ico-sale-2 {
  display: inline-block;
  background-image: inline('ico.sale-2.png');
  height: height('ico.sale-2.png');
  width: width('ico.sale-2.png');

  :hover > &,
  &:hover {
    background-image: inline('ico.sale-2-hover.svg');
  }
}

.bx-next {
  background-image: inline('slider-arrow.next.svg');
}

.bx-prev {
  background-image: inline('slider-arrow.prev.svg');
}

.brand-list-control {
  .bx-next {
    background-image: inline('arrow.brand-next.svg');
  }

  .bx-prev {
    background-image: inline('arrow.brand-prev.svg');
  }
}

.section-anons {
  background: inline('section-banner-bg.png');
}

.go2section {
  background-image: inline('ico.arrow-next.svg');
}

.main-menu li a::after {
  background-image: inline('menu-right.png');
}

.company-card__tips {
  background-image: inline('ico.imp.png');
}

.contact-page__phone-block {
  background-image: inline('ico.contact-phone.png');
}

.contact-page__email-block {
  background-image: inline('ico.contact-email.png');
}