///  Структуру сайта
@import "compass/utilities/general/clearfix";
/// Прижатие подвала н низу страницы
/// inherit box-sizing
html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

html, body {
  //min-height: 100%;
  min-width: 320px;
  position: relative;
}



body {
  //display: flex;
  //flex-direction: column;
  //min-height: 100vh;
  //width: 100%;
}

.is-locked {
  overflow: hidden;
  height: 100vh;
}

.inner {
  margin: 0 auto;
  max-width: $inner-max-width;
  min-width: 320px;
  padding: 0 20px;
  width: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

.site-header {
}

.main {
}

.main-container {
  @include breakpoint(small only) {
    padding-top: 188px;
    padding-bottom: rem-calc(30);
  }

  @include breakpoint(medium only) {
    padding-top: 218px;
    padding-bottom: rem-calc(30);
  }

  @include breakpoint(large) {
    padding-top: 220px;
  }
}

.off-canvas-wrapper,
.off-canvas-wrapper-inner,
.off-canvas {
  min-height: 100vh;
}

.off-canvas-wrapper-inner {
  display: flex;
  flex-direction: column;
}

.off-canvas-content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1 1 auto;
}

.off-canvas[aria-hidden='false'] {
  z-index: 5;
}


.loader {
  align-items: center;
  background-color: $white;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  div {
    background: resolve('logo__loader.png') no-repeat -49px 0;
    width: 49px;
    height: 63px;
    position: relative;

    &::after {
      background: resolve('logo__loader.png') no-repeat 0 0;
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      top: 0;
      width: 100%;
      animation: loader 2s ease-out infinite;
    }
  }
}

@keyframes loader {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0;
  }
}

$add-breakpoint: 940;


.content-page {
  @include breakpoint($add-breakpoint) {
    &__aside {
      @include flex-order(2);
      @include flex-grid-column(3);
    }

    &__main {
      @include flex-grid-column(9);
    }
  }

}

@include breakpoint(small only) {
  .img-wrapper {
    margin: 0 rem-calc(map-get($grid-column-gutter, small) / 2 * -1);
  }
}