body {
  font-family: $font-main;
  letter-spacing: .01px;
  text-rendering: optimizeLegibility;
}

label {
  cursor: pointer;
}

input[type='button'],
button {
  cursor: pointer;;
}

.section-heading {
  color: $black;
  font-size: rem-calc(24);
  font-weight: 700;
  padding-bottom: rem-calc(18);
}

h1 {
  color: #333;
  font-size: rem-calc(30);
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 em-calc(16);
}

a:link {
  &:hover {
    text-decoration: none;
  }
}

a:not([class]) {
  color: $blue;
}

table:not([class]) {
  color: $grey;
  font-family: Arial;
  font-size: rem-calc(13);
  line-height: em-calc(18, 13);
  overflow-y: auto;
  margin: 15px 0;
  max-width: 100%;
  width: 100% !important; // убираем косяки в контенте
  border-collapse: collapse;

  td {
    padding: 8px 18px;

    @include breakpoint(small only) {
      padding: 7px 13px;
    }
  }

  td:not(:last-child) {
    border-right: 1px solid #e0e0e0;
  }

  tr {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;

    td {
      background-color: #f5f5f5;
    }

    &:nth-of-type(even) {
      td {
        background-color: $white;
      }
    }
  }

  // адаптив скролл таблиц
  tbody {
    width: 100%;
    overflow: auto;
  }
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

p {
  color: #666;
  font-family: $font-arial;
  font-size: rem-calc(15);
  font-weight: 400;
  line-height: em-calc(21, 15);
  margin-bottom: rem-calc(16);
}

// list style
ul:not([class]), ol:not([class]) {
  color: #4b4b4b;
  font-family: $font-arial;
  font-size: rem-calc(15);
  line-height: em-calc(21, 15);
  padding-left: 18px;
  margin-bottom: rem-calc(16);
  li {
    position: relative;

    &::before {
      background-color: #00a1de;
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      left: -16px;
      top: 7px;
    }
  }
}

@mixin reset-list {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    &::before {
      display: none;
    }
  }
}

h2 {
  font-size: rem-calc(22);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: em-calc(20, 22);
}

h3 {
  font-size: rem-calc(18);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: em-calc(14, 18);
}

input {
  &::placeholder {
    text-overflow: ellipsis !important;
    transition: color 0.3s ease;
    opacity: 1;
  }
}

input:focus {
  &::placeholder {
    color: rgba(0, 0, 0, 0) !important;
    opacity: 1;
    display: block;
  }
}

.offer-contents {
  @include breakpoint(medium) {
    column-count: 2;
  }

  a {
    display: inline-block;
  }
}