.error-404 {
  text-align: center;
  padding-top: rem-calc(34);
  padding-bottom: rem-calc(42);

  @include breakpoint(medium) {
    padding-top: rem-calc(48);
    padding-bottom: rem-calc(68);
  }

  @include breakpoint(large) {
    padding-top: rem-calc(64);
    padding-bottom: rem-calc(80);

  }

  &__circle {
    background-image: linear-gradient(to top, #ff6444 0%, #ff8312 100%);
    border-radius: 50%;
    color: $white;
    display: inline-block;
    font-size: rem-calc(72);
    font-weight: 700;
    position: relative;
    padding-top: rem-calc(70);
    height: rem-calc(240);
    width: rem-calc(240);

    @include breakpoint(small only) {
      font-size: rem-calc(62);
      height: rem-calc(204);
      width: rem-calc(204);
      padding-top: rem-calc(60);

    }
  }

  &__code {
    font-size: em-calc(36, 72);
    background-image: linear-gradient(to top, #0090d1 0%, #00b2eb 100%);
    padding: rem-calc(10) rem-calc(16) rem-calc(13);
    position: absolute;
    line-height: 1;
    right: -23px;
    top: 0;

    @include breakpoint(small only) {
      right: -26px;
      padding: rem-calc(8) rem-calc(16) rem-calc(11);
    }

    &::after {
      @include css-triangle(8px, #0090d1, 'left-up');
      border-color: #0090d1 transparent transparent #0090d1;
      border-top-style: solid;

      border-left-style: solid;
      position: absolute;
      left: 0;
      top: 100%;

      @include breakpoint(small only) {
        border-width: 6px;
      }
    }
  }

  &__alert {
    font-size: em-calc(72, 72);
    margin-bottom: rem-calc(1);
    line-height: 1;
  }

  &__desc {
    font-size: em-calc(18, 72);
  }

  &__text {
    color: opacify(#4b4b4b, 0.7);
    font-family: $font-arial;
    font-size: rem-calc(14);
    line-height: em-calc(21, 14);
    max-width: rem-calc(550);
    margin: rem-calc(40) auto rem-calc(18);

    @include breakpoint(small only) {
      margin: rem-calc(46) auto rem-calc(22);
    }
  }

  &__footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    [class*='button'] {
      flex: 0 0 170px;
      max-width: 170px;
      margin: rem-calc(8) rem-calc(6);
    }
  }
}