
.about-page {
  h2 {
    color: #333;
    font-size: rem-calc(18);
    font-weight: normal;
    line-height: 1;
    margin-bottom: rem-calc(15);
  }

  p {
    color: #6d6d6d;
    font-family: $font-arial;
    font-size: rem-calc(14);
    font-weight: normal;
    line-height: em-calc(20, 15);
  }


}

.requisites {
  box-shadow: -2px 0 0 0 $orange;
  color: #888;
  font-size: rem-calc(14);
  font-family: $font-arial;
  line-height: em-calc(21, 14);
  margin-bottom: rem-calc(48);
  padding: 0 0 0 rem-calc(25);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }

  p {
    font: inherit;
    color: inherit;
  }
}