.article-page {

  .articles-aside {
    @media screen and (max-width: em-calc($article-add-breakpoint - 1)) {
      display: none !important;
    }
  }
  .articles-content {
    margin-top: rem-calc(-30);
    background: $white;

    @include breakpoint($article-add-breakpoint) {
      background-color: transparent;
    }

    img {
      @include breakpoint(small only) {
        margin: 0 !important;
      }

      @include breakpoint(medium only) {
        margin: 0 !important;
      }
    }
  }

  &__content {
    background: $white;
    padding: rem-calc(24) 0;

    @include breakpoint(medium) {
      padding: rem-calc(44) 0;
    }

    @include breakpoint($article-add-breakpoint) {
      padding: rem-calc(40) rem-calc(46);
    }
  }
}

.see-more-blog {
  margin-top: rem-calc(60);
  font-size: rem-calc(16);

  &__title {
    font-size: em-calc(20, 16);
    color: $blue;
    font-weight: bold;
    line-height: 1.1;
  }

  &__sub-title {
    font-family: $font-arial;
    font-size: em-calc(14, 16);
    line-height: 21px;
    color: #878787;
    margin-bottom: rem-calc(20);

    a {
      color: $blue;
    }
  }

  //@include reset-list;

  li {
    font: inherit;
    line-height: 1;
    margin-bottom: em-calc(16, 16);
  }

  ul {

    a {
      font-weight: bold;
      line-height: 1.2;
      color: #333;
      text-decoration: none;

      span {
        color: #878787;
      }

      &:hover {
        color: $blue;
      }
    }

  }
}

.article-header {
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 232px;
  position: relative;
  padding: rem-calc(29) rem-calc(20);

  h1 {
    color: $white;
    font-size: rem-calc(24);
    line-height: 1;
    margin: 0;
  }

  @include breakpoint(medium) {
    height: 355px;
    background-size: cover;
    padding: rem-calc(25) rem-calc(20);

    h1 {
      font-size: rem-calc(30);
      margin-right: 200px;
    }
  }
}
