$article-add-breakpoint: 940;

.articles-topics {
  background-color: $white;
  margin-bottom: rem-calc(14);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(26);
  }

  @include breakpoint($article-add-breakpoint) {
    box-shadow: -2px 0 0 0 #00a1de;
    padding: rem-calc(28) rem-calc(50) rem-calc(25) rem-calc(45);
  }

  //@include reset-list;

  &__button {
    background: $blue-gradient;
    color: $white;
    cursor: pointer;

    font-size: rem-calc(18);
    font-weight: bold;
    line-height: 1;
    padding: rem-calc(16) rem-calc(50);
    position: relative;
    text-align: center;

    @media screen and (min-width: em-calc($article-add-breakpoint)) {
      display: none!important;
    }

    &::after {
      background: inline('plus-white.svg') no-repeat center center;
      content: '+';
      display: block;
      color: transparent;
      position: absolute;
      width: 14px;
      height: 14px;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }

    .is-show &::after {
      background: inline('minus-white.svg');
      background-size: 14px 2px;
    }
  }

  &__title {
    @media screen and (max-width: em-calc($article-add-breakpoint - 1)) {
      display: none!important;
    }

    font-size: rem-calc(25);
    color: #131313;
    margin-bottom: rem-calc(12);
    line-height: 1;
  }

  &__list {
    @include breakpoint($article-add-breakpoint) {
      display: block!important;
    }

    display: none;
    .is-show & {
      display: block;
    }

    a {
      display: block;
      color: #d2d2d2;
      font-size: rem-calc(15);
      line-height: 1.1;
      padding: rem-calc(5) rem-calc(15);
      text-transform: uppercase;
      transition: all 0.5s ease;
      text-decoration: none;

      @include breakpoint($article-add-breakpoint) {
        display: inline-block;
        padding: rem-calc(5) 0;
      }

      &.is-current span{
        color: $blue;
      }

      &:hover > span {
        text-decoration: underline;
      }

      span {
        font-weight: 700;
        color: #333;
        font-size: rem-calc(13);
      }
    }
  }
}

.articles-aside {
  @include breakpoint($article-add-breakpoint) {
    @include flex-grid-column(3);
    @include flex-order(2);
  }
}

.articles-content {
  @include breakpoint($article-add-breakpoint) {
    @include flex-grid-column(9);
    @include flex-order(1);

    .pagination {
      border-top: 1px solid #e6e6e6;
    }
  }
}

.articles-list {
  margin-bottom: rem-calc(9);

  .column {
    margin-bottom: rem-calc(15);
    @include flex-grid-column(12);

    @include breakpoint(medium) {
      margin-bottom: rem-calc(20);
      @include flex-grid-column(6);
    }

  }
}

.article-tile {
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $font-arial;
  font-size: rem-calc(13);
  line-height: 21px;
  color: #666;
  position: relative;

  @include breakpoint(medium) {
    font-size: rem-calc(15);
  }

  &__label {
    position: absolute;
    left: 0;
    top: 18px;
  }

  &__preview {
    flex: 0 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 0 #e9e9e9;
    flex: 1 1 auto;
    padding: rem-calc(22) rem-calc(18);

    @include breakpoint(medium) {
      padding: rem-calc(32) rem-calc(34) rem-calc(26) rem-calc(22);
    }
  }

  &__title {
    color: $black;
    font-size: rem-calc(20);
    flex: 0 0 auto;
    font-weight: bold;
    line-height: 1;
    margin-bottom: rem-calc(15);

    @include breakpoint(medium) {
      font-size: rem-calc(24);
    }
  }

  &__text {
    flex: 1 1 auto;
    margin-bottom: rem-calc(18);
  }
  .button-orange {
    max-width: 110px;
    width: 100%;
    margin-left: auto;
    margin-top: auto;

    @include breakpoint(medium) {
      max-width: 136px;
    }
  }
}