$catalog-block-title-bg: #0090d1;
$catalog-block-title-text-color: $white;

.catalog-title-block {
  align-items: center;
  background-color: $catalog-block-title-bg;
  background-position: center center;
  background-repeat: no-repeat;
  color: $catalog-block-title-text-color;
  display: flex;
  flex-direction: column;
  font-size: rem-calc(50);
  height: 200px;
  justify-content: center;
  line-height: 1;

  @include breakpoint(large) {
    font-size: rem-calc(60);
  }

  @include hide-for-only(small);
}

.catalog-title {
  font-family: $font-arial;
  font-weight: 900;
  margin-bottom: em-calc(29, 60);
  text-shadow: 0 1px 5px rgba($black, 0.17);
  text-transform: uppercase;
}

.catalog-subtitle {
  font-size: em-calc(20, 60);
}

.section-title {
  color: $black;
  font-size: rem-calc(24);
  font-weight: 700;
  line-height: 1.2;
  margin: em-calc(40, 24) 0 em-calc(28, 24);
}

.catalog-loadmore {
  text-align: center;
  padding-bottom: 29px;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-bottom {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: rem-calc(20);
}

.bg-gray {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 30px 0 0;
}

.catalog-menu {
  margin-bottom: 40px;
  border: 1px solid #dbdbdb;
  border-left: 2px solid $blue;

  &__title {
    background-color: #e2e2e2;
    color: #565353;
    font-size: rem-calc(15);
    font-weight: 700;
    line-height: 1.2;
    padding: 11px 20px;
    text-transform: uppercase;
  }
}

.left-promo {
  display: block;
  margin-bottom: 28px;
  position: relative;
  text-align: center;


  &__button {
    border: 2px solid $white;
    border-radius: 2px;
    bottom: 15px;
    color: $white;
    display: inline-block;
    font-size: rem-calc(14);
    padding: 9px 25px;
    position: absolute;
    right: 28px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

.catalog-bottom-desc {
  padding: 65px 0;
}