.contact-page {
  display: flex;
  flex-direction: column;

  &__find-us {
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $white;
    padding: rem-calc(28) rem-calc(5);
    position: relative;
    z-index: 2;

    @include breakpoint(small only) {
      > * {
        margin: rem-calc(10) !important;
      }
    }

    @include breakpoint(large) {
      width: 770px;
      order: 9999;
      margin: 0 auto -10px;
      transform: translateY(-50%);
    }

    a {
      border-radius: 3px;
      border: 2px solid $white;
      color: $white;
      display: block;

      flex: 0 0 150px;
      font-size: rem-calc(14);
      font-weight: bold;
      line-height: 1;
      margin-left: 20px;
      padding: rem-calc(9);
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.5s ease;
      max-width: 150px;

      &:hover,
      &.is-active {
        background: $white;
        color: $blue;
      }

      @include breakpoint(small only) {
        max-width: rem-calc(130);
      }
    }
  }

  &__find-us-title {
    font-size: rem-calc(16);
    line-height: 20px;
    margin-right: 25px;

    @include breakpoint(small only) {
      flex: 1 1 100%;
      text-align: center;
    }

    span {
      font-size: rem-calc(24);
      font-weight: bold;
    }
  }

  &__map {
    display: flex;
    flex-direction: column;
    flex: 1 1 520px;
    position: relative;

    [class*='controls-pane'] {
      display: none !important;
    }

    .map {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__info {
    flex: 1 1 auto;
    height: 0;
    width: 100%;
    //transform: translate(-50%, 0);

    color: $grey;
    font-size: 15px;
    line-height: 22px;
    padding: 20px 0;

    @include breakpoint(large) {
      padding: 35px 0 86px;
    }
  }

  &__info-content {
    &.is-hide {
      div {
        transform: translate(-100%, 0);
      }
    }

    > div {
      box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.09);
      background-color: white;
      padding: rem-calc(15);
      position: relative;
      transition: transform 0.5s ease;

      @include breakpoint(medium) {
        padding: rem-calc(35) rem-calc(15) rem-calc(48) rem-calc(64);

      }

      @include breakpoint(small only) {
        margin-right: 37px;
      }

      @include breakpoint(large) {
        transform: translate(0) !important;
        margin: 0 15px;
      }
    }
  }

  &__section-title {
    opacity: 0.5;
    color: #5c5b5b;
    font-size: rem-calc(12);
    line-height: 1;

    margin-top: rem-calc(25);
    margin-bottom: rem-calc(8);
    text-transform: uppercase;
  }

  h1 {
    color: #111;
    margin-bottom: em-calc(22, 30);
  }

  &__phone-block {
    background-repeat: no-repeat;
    background-position: left 8px;
    padding-left: 20px;
    margin-bottom: rem-calc(15);
  }

  &__email-block {
    background-repeat: no-repeat;
    background-position: left 8px;
    padding-left: 20px;
    margin-bottom: rem-calc(15);
  }

  a[href^='tel:'] {
    color: $grey;
    text-decoration: none;
    font-size: rem-calc(20);
    font-weight: bold;
    line-height: em-calc(24, 20);

  }

  a[href^='mailto:'] {
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    color: $grey;
    font-size: rem-calc(18);
    line-height: 20px;
    text-decoration: none;

    &::after {
      display: block;
      content: '';
      border-bottom: 1px solid $orange;
    }
  }

}

.show-contacts-panel {
  @include hide-for(large);

  .is-hide & {
    &::after {
      transform: translate(-50%, -50%) scale(-1);
    }

    animation: blink-show 2s infinite;
  }

  position: absolute;
  top: 0;
  left: 100%;

  height: 37px;
  width: 27px;
  background-color: #f7f7f7;
  border-radius: 0 3px 3px 0;
  //background-image: inline('arrow-contacts.svg');
  //background-repeat: no-repeat;
  //background-position: center center;

  &::after {
    @include css-triangle(5px, $grey, 'left');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: '';
    display: block;
    width: 9px;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  }
}

@keyframes blink-show {
  0% {
    box-shadow: 0 0 0 $orange;
  }

  50% {
    box-shadow: 0 0 10px $orange;
  }

  100% {
    box-shadow: 0 0 0 $orange;
  }
}