.favorite-list {
  margin-bottom: rem-calc(40);
  padding: 0 rem-calc(15);
  @include breakpoint(large) {
    padding: 0;
  }

  .column {
    margin: 0 0 rem-calc(8);
  }


}

.send-favorite {
  margin: rem-calc(-10) 0 rem-calc(20);

  @include breakpoint(small only) {
     > * {
       flex: 0 0 100%;
       width: 100%;
     }
  }

  @include breakpoint(medium) {
    box-shadow: inset 0 0 0 1px #d2d2d2;
    display: flex;
    max-width: (270+263px);
    border-radius: 2px;


    input[type = 'text'],
    input[type = 'email'] {
      background-color: transparent;
      flex: 1 1 0;
      margin: 0;
      border: 0;
      box-shadow: 0;
    }

    button {
      flex: 0 0 (263 / (270+263) * 100%);
    }
  }
}