.home-tabs {
  background-color: #f0f0f0;
  border-bottom: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
  padding: 42px 0 0;
  margin-bottom: 40px;

  //@include reset-list;

  .columns {
    padding: 0;
  }

  .tabs-panel {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .tabs-content {
    border: 0;
  }

  .tabs {
    display: flex;
    padding: 0 15px;
    margin-bottom: 30px;

    li {
      display: inline-block;

      + li {
        margin-left: 18px;
      }

      @include breakpoint(medium) {
        + li {
          margin-left: 34px;
        }
      }

      &::after {
        content: '';
        display: block;
        height: 2px;
        margin-top: 3px;
      }

      &.is-active::after {
        background-color: $black;
      }
    }

    a {
      color: $black;
      font-size: rem-calc(18);
      font-weight: 700;
      line-height: 1.05;
      opacity: 0.6;
      text-decoration: none;

      @include breakpoint(medium) {
        font-size: rem-calc(20);
      }

      &:hover {
        opacity: 1;
      }
    }

    .is-active > a {
      opacity: 1;
    }
  }
}

.last-article-list {
  border-top: 1px solid #e9e9e9;
  padding-bottom: 25px;
}

.last-article {
  font-size: rem-calc(16);
  margin: em-calc(35, 16) 0 em-calc(30, 16);

  &__title {
    color: $black;
    font-size: em-calc(16);
    font-weight: bold;
    line-height: 1.31;
    text-decoration: none;

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  &__anons {
    color: $lightness-grey;
    font-size: em-calc(14);
    line-height: 1.43;
    padding: em-calc(12, 14) 0 0;
  }

  p {
    color: inherit;
    font: inherit;
  }
}

.section-anons {
  display: flex;
  min-height: 195px;
  margin-bottom: 35px;

  &__heading {
    color: #020202;
    font-size: rem-calc(36);
    font-weight: 700;
    padding-top: em-calc(30, 36);
  }

  &__text {
    color: #404040;
    font-size: rem-calc(15);
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: em-calc(27, 15);
  }

  &__content {
    @include flex-grid-column(12);

    @include breakpoint(medium) {
      @include flex-grid-column(6);
      padding-left: 55px !important;

    }

    @include breakpoint(large) {
      @include flex-grid-column(6);
      padding-left: (135 * 100% / 870) !important;
      padding-right: 0 !important;
    }
  }

  &__img {
    text-align: center;

    @include hide-for-only(small);

    @include breakpoint(medium) {
      @include flex-grid-column(6);
    }

    @include breakpoint(large) {
      @include flex-grid-column(6);
    }
  }

  &__button {
    background-image: linear-gradient(to top, #ff6440 0%, #ff8400 100%);
    background-size: 100%;
    border-radius: 2px;
    color: $white;
    display: block;
    font-size: rem-calc(13);
    font-weight: bold;
    line-height: 1.62;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    width: 150px;

    @include breakpoint(small only) {
      width: 130px;
    }

    @extend %hover-blue;
  }
}

.last-news-list {
  padding-bottom: 35px;
  position: relative;

  @include breakpoint(large) {
    padding-left: 48px;

    &::before {
      background: #e9e9e9;
      content: '';
      display: block;
      height: 95%;
      left: 15px;
      position: absolute;
      top: 1.2%;
      width: 1px;

    }
  }

  @include breakpoint(medium only) {
    .section-heading {
      border-bottom: 1px solid #e9e9e9;
      padding-bottom: rem-calc(10);
      padding-left: rem-calc((map-get($grid-column-gutter, small) / 2));
      padding-right: rem-calc((map-get($grid-column-gutter, small) / 2));
      margin: 0 -1 * rem-calc((map-get($grid-column-gutter, small) / 2)) 28px;
    }
  }

  @include breakpoint(small only) {
    .section-heading {
      border-top: 1px solid #e6e6e6;
      padding: 8px rem-calc((map-get($grid-column-gutter, small) / 2)) 0;
      margin: 0 -1 * rem-calc((map-get($grid-column-gutter, small) / 2)) 28px;

      &:after {
        background-image: linear-gradient(to top, rgba($black, 0) 0%, rgba($black, 0.6) 100%);
        border-top: 1px solid #e6e6e6;
        content: '';
        display: block;
        margin: 8px -1 * rem-calc((map-get($grid-column-gutter, small) / 2)) 0;
        opacity: 0.3;
        height: 7px;
      }
    }
  }
}

.last-news {
  font-size: rem-calc(14);
  margin-bottom: em-calc(30, 14);

  @include flex-grid-column(12);

  &:nth-last-of-type(1) {
    margin-bottom: em-calc(25, 14);
  }

  @include breakpoint(medium only) {
    @include flex-grid-column(6);
  }

  @include breakpoint(large) {
    margin-bottom: em-calc(50, 14);

    &:nth-of-type(1) {
      padding-top: 16px;
    }
  }

  &__pubdate {
    color: $lightness-grey;
    font-size: em-calc(12, 14);
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 0.8em;
  }

  &__title {
    color: $black;
    font-size: em-calc(16, 14);
    font-weight: 700;
    line-height: 1.2;

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  &__anons {
    color: $lightness-grey;
    font-weight: 400;
    line-height: 1.43;
    margin-top: 0.8em;
  }
}

.brand-list {
  padding: 36px 0 40px;
  position: relative;

  &__see-all {
    bottom: 11px;
    color: #8e8e8e;
    font-size: rem-calc(14);
    line-height: 1.5;
    position: absolute;
    right: 70px;
  }
}

.bx-wrapper {
  width: 100%;
}

.advantages {
  color: $gray;
  text-shadow: 0 0 0 rgba($gray, 0.4);
  padding: 15px 0 5px;
  font-size: rem-calc(13);
  font-weight: 400;
  line-height: 1.23;

  @include breakpoint(medium) {
    padding: 20px 0 15px;

  }

  &__item {
    display: flex;
    align-items: center;
    @include flex-grid-column(12);
    padding-top: 15px;
    padding-bottom: 15px;

    @include breakpoint(medium) {
      @include flex-grid-column(4);
    }

    img {
      flex: 0 0 auto;
    }

    span {
      display: block;
      flex: 1 0 0;



      @include breakpoint(large) {
        padding: 0 40px 0 0;
      }
    }
  }

  &__item-img {
    flex: 0 0 55px;
    margin-right: 15px;

    @include breakpoint(small only) {
      text-align: center;
    }
  }
}