.product-page {
  margin-top: -20px;

  &__top {
    padding: 0 15px;

  }

  &__center {
    background-color: #f7f7f7;
    border-top: 1px solid #d3d3d3;
  }

  &__footer {
    background-color: #f0f0f0;
  }

  &__sku,
  &__thumb,
  &__buy,
  &__description,
  &__related,
  &__viewed {
    @include flex-grid-column(12);
  }

  &__sku {
    margin-bottom: 11px;
    @include breakpoint(small only) {
      padding: 0;
    }

    @include breakpoint(medium only) {
      padding: 0;
    }
  }

  &__thumb {
    margin-top: 13px;
    position: relative;

    @include breakpoint(small only) {
      margin-top: 0;
      margin-bottom: 27px;
    }

    .add2favorite {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }

  &__thumb-main {
    border: 1px solid #d3d3d3;
    margin: 0 (-1 * map-get($grid-column-gutter, small) / 2);
  }

  &__thumb-item {
    align-items: center;
    display: flex;
    height: 313px;
    justify-content: center;

    @include breakpoint(small only) {
      height: 213px;
    }

    img {
      max-height: 90%;
    }
  }

  &__thumbnails {
    padding: 15px;
    position: relative;

    .bx-prev,
    .bx-next {
      background-position: center center;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 16px;
      height: 16px;
    }

    .bx-wrapper {
      position: relative;
    }

    .bx-prev {
      left: -20px;
    }

    .bx-next {
      right: -20px;
    }

    @include breakpoint(large) {
      padding: 14px 47px;

      .bx-prev {
        left: -35px;
      }

      .bx-next {
        right: -35px;
      }
    }
  }

  &__thumbnails-item {
    border: 1px solid #d3d3d3;
    display: block;

    &.active {
      border-color: $blue;
    }
  }

  &__labels {
    left: 0;
    position: absolute;
    top: 10px;
  }

  &__main-option {
    @include show-for(large);
    padding-top: 13px;

    .add2compare {
      margin-bottom: 18px;
    }
  }

  &__buy {
    background-color: #f4f4f4;
    border-top: 2px solid $orange;
    padding: 20px 25px 15px;
    margin-bottom: 40px;
  }

  &__viewed {
    padding-top: 30px;
  }

  @include breakpoint(medium) {
    &__thumb {
      flex: 1 0 0;
    }

    &__buy {
      align-self: flex-start;
      border-left: 2px solid $orange;
      border-top: 0;
      flex: 0 0 270px;
      max-width: 270px;
      margin-left: 17px;
      margin-bottom: 30px;
    }

    &__description {
      margin-bottom: 40px;
    }

    &__related {
    }

    &__viewed {
      padding-top: 42px;
    }

    //slider spec style
    .goods-slider__heading {
      font-size: rem-calc(20);
      margin-bottom: em-calc(30, 20);
    }

    .bx-controls-direction {
      top: -58px;
    }
  }

  @include breakpoint(large) {
    &__thumb {
      flex: 0 0 370px;
      margin-right: 30px;
      max-width: 370px;
    }

    &__main-option {
      flex: 0 0 470px;
      //margin-right: 30px;
      max-width: 470px;
      //@include flex-grid-column(5);
    }

    &__buy {
      //@include flex-grid-column(3);
      flex: 0 0 265px;
      margin: 0 15px 40px auto;

      .add2compare {
        display: none;
      }
    }

    &__description {
      @include flex-grid-column(9, 0);
      padding-right: rem-calc(map-get($grid-column-gutter, small) / 2);
    }

    &__related {
      @include flex-grid-column(3);

      .goods-slider {
        margin: 0 -1 * (map-get($grid-column-gutter, small) / 2);
      }

      .goods-slider__heading {
        padding: 32px (map-get($grid-column-gutter, small) / 2) 0;
        margin-bottom: em-calc(20);
      }

      .goods-slider__item {
        padding: 15px;
      }

      .bx-controls-direction {
        position: static;
      }

      .bx-next,
      .bx-prev {
        position: absolute;
        background-size: auto;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }

      .bx-next {
        background-image: inline('slider-arrow-down.svg');
        position: absolute;
        bottom: -20px;
      }

      .bx-prev {
        background-image: inline('slider-arrow-up.svg');
        position: absolute;
        top: -20px;
      }
    }

    &__viewed {
      padding: 45px 0 0;

    }

    //slider spec style
    .goods-slider__heading {
      font-size: rem-calc(20);
      margin-bottom: em-calc(38, 20);
    }

    .bx-controls-direction {
      top: -66px;
    }
  }

  &__sku {
    color: #888;
    font-size: rem-calc(14);
    line-height: 1.43;
  }

  &__price {
    color: #888;
    font-size: rem-calc(15);
    line-height: 1.33;
    margin-bottom: 17px;

    .old-price {
      color: $black;
      text-decoration: line-through;
    }

    .current-price {
      display: inline-block;
      color: #111;
      font-size: rem-calc(30);
      font-family: $font-ub;
      font-weight: 700;
      line-height: 1;
    }
  }

  &__count {
    color: #888;
    font-size: rem-calc(15);
    line-height: 1.33;
    margin-bottom: 26px;

    span {
      display: block;
      margin-bottom: 8px;
    }
  }

  &__add2cart {
    @extend .button-orange;
    font-size: rem-calc(15);
    line-height: 1.1;
    padding: 12px;
  }

  &__rating {
    //align-items: center;
    border-bottom: 1px solid rgba($black, 0.1);
    display: flex;
    justify-content: space-between;
    margin: 0 -25px 20px;
    padding: 14px 25px 16px;

    > * {
      flex: 0 0 auto;
    }
  }

  &__rating-link {
    color: $blue;
    font-family: Arial;
    font-size: rem-calc(12);
    line-height: 1.58;
  }

  &__availability {
    color: rgba(#333, 0.6);
    font-size: rem-calc(15);
    margin-bottom: 4px;

    &.is-stock {
      color: #139e2a;
    }
  }

  &__delivery {
    color: #333;
    font-size: rem-calc(15);
    line-height: 1.6;
    margin-bottom: em-calc(15, 15);

    span {
      font-weight: 700;
    }
  }

  .add2compare {
    font-size: rem-calc(13);
  }

  &__insale {
    background: inline('ico.in-sale.svg') no-repeat left center;
    color: #00cc6b;
    display: block;
    font-size: rem-calc(18);
    font-weight: 700;
    margin: 14px 0 10px;
    padding-left: 30px;
  }

  .parameters {
    max-width: 410px;
  }

  // product tabs
  $product-color-border-info: #d3d3d3;
  $product-color-not-active-bg: #e8e8e8;
  $product-color-bg: #fff;

  &__info {
    background: $product-color-bg;
  }

  &__tabs {
    @include show-for(medium);
    background: $product-color-not-active-bg;
    border: 1px solid $product-color-border-info;
    box-shadow: inset 0 3px 3px $product-color-not-active-bg, inset 0 -1px 3px rgba($black, 0.15);
    display: flex;
    margin-top: -1px;

    .tabs-title {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      margin-bottom: -1px;

      &:not(:last-child) {
        border-right: 1px solid $product-color-border-info;
      }
    }

    .is-active {
      a {
        background-color: $product-color-bg;
        box-shadow: 0 -2px 0 $blue;
      }
    }

    a {
      flex: 1 0 auto;
      color: $gray;
      display: block;
      font-size: rem-calc(18);
      line-height: 1;
      margin-top: 1px;
      padding: ((46 - 18) / 2) * 1px 5px;
      text-align: center;
      text-decoration: none;
      transition: all 0.5s ease;
      overflow: hidden;
      white-space: nowrap;
      text-emphasis: ellepsis;
    }
  }

  // accordion
  &__accordion-title {
    @include hide-for(medium);
    background: $product-color-not-active-bg inline('ico.plus.svg') no-repeat right 20px center;
    color: $gray;
    display: block;
    font-size: rem-calc(18);
    line-height: 1;
    margin-top: 1px;
    padding: ((46 - 18) / 2) * 1px 19px;
    text-decoration: none;
    transition: all 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .is-active & {
      background-color: $white;
      background-image: inline('ico.minus.svg');
      box-shadow: 0 -2px 0 $blue;
    }
  }

  &__info-section {
    border: 1px solid $product-color-border-info;
    border-top: 0;

    @include breakpoint(medium) {
      display: none;
      padding: 25px 35px;
    }

    &.is-active {
      display: block;
    }

    [aria-hidden] {
      display: none;
    }

    p {
      color: #888;
      font-family: Arial;
      font-size: rem-calc(14);
      line-height: 1.29;
      margin-bottom: 0.9em;
    }

    h2,
    .like-h2 {
      color: $gray;
      font-size: rem-calc(18);
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 1em;
    }
  }

  @include breakpoint(small only) {
    &__accordion-content {
      border-top: 1px solid $product-color-border-info;
      padding: 13px 10px;
    }
  }
}



.file-list {
  @include flex-grid-row();

  > * {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint(medium) {
      flex: 0 0 (100% / 3);
      max-width: 100% / 3;
    }
  }
}