.sale-page {
  background-color: #f7f7f7;

  &__content {
    background: $white;
    max-width: 630px;
    margin: 0 auto;
    padding: rem-calc(48) rem-calc(28);
    width: 100%;
    @include breakpoint(small only) {
      padding: rem-calc(28) rem-calc(15);
    }
  }

  h2 {
    font-size: rem-calc(24);
    line-height: 1.2;
    margin-bottom: rem-calc(16);
  }
}

.sale-anons {
  color: $white;
  background-repeat: no-repeat;
  background-size: cover;

  > * {
    flex: 0 0 auto;
  }

  .sale-page__content {
    background-color: rgba(#303030, 0.81);
    display: flex;
    flex-direction: column;
    padding: rem-calc(32) rem-calc(15);

    @include breakpoint(medium) {
      padding: rem-calc(38) rem-calc(100);
      min-height: 330px;
    }
  }

  &__date {
    font-size: rem-calc(18);
    font-weight: 400;
  }

  &__title {
    font-size: rem-calc(36);
    font-weight: bold;
    line-height: 1;
    margin: rem-calc(10) 0;

    @include breakpoint(medium) {
      font-size: rem-calc(42);
      line-height: em-calc(50, 42);
      margin: rem-calc(10) 0 rem-calc(15);

    }
  }

  &__text {
    color: #d8d0ce;
    font-size: rem-calc(16);
    line-height: 21px;
    margin-bottom: rem-calc(15);
  }

  .button-orange {
    margin-top: auto;
    @include breakpoint(medium) {
      max-width: 273px;
    }
  }


}