mixin price-selector()
  .smart-filter__rslider
    .smart-filter__rslider-field
      input(id='price_min' type='text' value='1500')
      span —
      input(id='price_max' type='text' value='50000')
    .smart-filter__rslider-labels
      .smart-filter__rslider-min 1500
      .smart-filter__rslider-max 999 999
    .rslider(data-slider  data-start='1500' data-end='999999')
      span.slider-handle.left(data-slider-handle aria-controls='price_min')
      span.slider-fill(data-slider-fill)
      span.slider-handle.right(data-slider-handle aria-controls='price_max')

.smart-filter
  .smart-filter__header
    span Фильтр товаров
    br
    | по категориям
  .smart-filter__section(data-accordion-item).is-active
    a(href='#').smart-filter__prop-name.accordion-title Цена
    .smart-filter__prop.accordion-content(data-tab-content)
      +price-selector()
  .smart-filter__section(data-accordion-item).is-active
    a(href='#').smart-filter__prop-name.accordion-title  Производители
    .smart-filter__prop.accordion-content(data-tab-content)
      .smart-filter__prop-group
        input(type='checkbox' name='prop_0' id='prop_0_0' disabled)
        label(for='prop_0_0') ACV
        input(type='checkbox' name='prop_0' id='prop_0_1')
        label(for='prop_0_1') Ariston
        input(type='checkbox' name='prop_0' id='prop_0_2')
        label(for='prop_0_2') Baxi
        input(type='checkbox' name='prop_0' id='prop_0_3')
        label(for='prop_0_3') Buderus
        input(type='checkbox' name='prop_0' id='prop_0_4')
        label(for='prop_0_4') Chaffoteaux
        input(type='checkbox' name='prop_0' id='prop_0_5')
        label(for='prop_0_5') Chaffoteaux
        input(type='checkbox' name='prop_0' id='prop_0_6')
        label(for='prop_0_6') Chaffoteaux
        input(type='checkbox' name='prop_0' id='prop_0_7')
        label(for='prop_0_7') Chaffoteaux
        input(type='checkbox' name='prop_0' id='prop_0_8')
        label(for='prop_0_8') Chaffoteaux
        input(type='checkbox' name='prop_0' id='prop_0_9')
        label(for='prop_0_9') Chaffoteaux
        input(type='checkbox' name='prop_0' id='prop_0_10')
        label(for='prop_0_10') Chaffoteaux
        input(type='checkbox' name='prop_0' id='prop_0_11')
        label(for='prop_0_11') Chaffoteaux
        a.smart-filter__full-list(href='#').js-full-list + Показать все
  .smart-filter__section(data-accordion-item).is-active
    a(href='#').smart-filter__prop-name.accordion-title  Мощность
    .smart-filter__prop.accordion-content(data-tab-content)
      | test
  .smart-filter__section(data-accordion-item)
    a(href='#').smart-filter__prop-name.accordion-title  Вид топлива
    .smart-filter__prop.accordion-content(data-tab-content)
      | test
  .smart-filter__section(data-accordion-item)
    a(href='#').smart-filter__prop-name.accordion-title  Габариты
    .smart-filter__prop.accordion-content(data-tab-content)
      | test
  .smart-filter__section(data-accordion-item)
    a(href='#').smart-filter__prop-name.accordion-title  Вес
    .smart-filter__prop.accordion-content(data-tab-content)
      | test
  .smart-filter__section.smart-filter__section--additional(data-accordion-item)
    a(href='#').smart-filter__prop-name.accordion-title Не основной параметр
    .smart-filter__prop.accordion-content(data-tab-content)
      | test
  .smart-filter__section.smart-filter__section--additional(data-accordion-item).is-visible
    a(href='#').smart-filter__prop-name.accordion-title Не основной параметр, но с выборкой
    .smart-filter__prop.accordion-content(data-tab-content)
      | test
  .smart-filter__footer
    input(type='button' value='ПОКАЗАТЬ').smart-filter__show
    input(type='button' value='СБРОСИТЬ').smart-filter__reset
    a(href='#').smart-filter__full-filter.js-full-filter
      span Весь список параметров
  | <div class="bx-filter-popup-result smart-filter__popup-result left" id="modef" style="display: inline-block;">
  | Подобрано товаров: <span id="modef_num">12</span>
  | <a href="/catalog/avtoservisnoe-oborudovanie/filter/price-base-from-20455.84-to-49379.62/apply/" target="">Показать</a>
  | </div>