include ../../block/catalog.goods.pug
.compare.cm
  .cm__table(id='cm__table')
    div(data-sticky-container).cm__sticky-container
      div(data-sticky data-margin-top="0" data-top-anchor='cm__table-body:top' data-bottom-anchor='cm__table-body:top' data-sticky-on="small")
        .row
          .columns.small-12.large-3
            .cm__filter-button(data-toggle='cm__filter')
            .cm__filter-wrapper
              .cm__filter(data-toggler='.is-show')#cm__filter
                .cm__filter-category
                  .cm__filter-category-title
                    | Категории товаров
                  select
                    option Редукторы давления
                    option Редукторы давления
                    option Редукторы давления
                    option Редукторы давления
                  a(href='#').cm__filter-delete-category Удалить список
                .cm__filter-differences
                  input(type='radio' name='show' id='show-1' checked)
                  label(for='show-1')
                    | Все параметры
                  br
                  input(type='radio' name='show' id='show-2')
                  label(for='show-2')
                    | Различающиеся
          .column.small-12.large-9
            .cm__table-header
              .cm__item-group
                .cm__item
                  +goods-compare(goods_list.good_01)
                .cm__item
                  +goods-compare(goods_list.good_02)
                .cm__item
                  +goods-compare(goods_list.good_03)
                .cm__item
                  +goods-compare(goods_list.good_03)
    .row
      .columns.small-12.large-9.large-offset-3
        .cm__viewport
          .cm__table-body#cm__table-body
            .cm__fieldset.show-for-large
              .cm__fieldname.filter-asc: span Мощность, кВт
              .cm__fieldname.is-active.filter-asc: span КПД, %
              .cm__fieldname.is-active.filter-desc: span Диаметр подключения контура отопления, дм
              .cm__fieldname.filter-asc: span Рабочее давление в системе отопления, бар
              .cm__fieldname.filter-desc: span Габариты (ВхШхГ), мм
              .cm__fieldname.filter-desc: span Габариты (ВхШхГ), мм
              .cm__fieldname.filter-desc: span Габариты (ВхШхГ), мм
              .cm__fieldname.filter-desc: span Габариты (ВхШхГ), мм
            div
              .cm__field-group
                .cm__fieldname: span  Мощность, кВт
                .cm__item-group
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
              .cm__field-group
                .cm__fieldname: span  КПД, %
                .cm__item-group
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
              .cm__field-group
                .cm__fieldname: span  Диаметр подключения контура отопления, дм
                .cm__item-group
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
              .cm__field-group
                .cm__fieldname: span  Рабочее давление в системе отопления, бар
                .cm__item-group
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
              .cm__field-group
                .cm__fieldname: span  Габариты (ВхШхГ), мм
                .cm__item-group
                  .cm__item: span 740х410х310
                  .cm__item: span 740х410х310
                  .cm__item: span 740х410х310
                  .cm__item: span 740х410х310
              .cm__field-group
                .cm__fieldname: span  КПД, %
                .cm__item-group
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
              .cm__field-group
                .cm__fieldname: span  КПД, %
                .cm__item-group
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
              .cm__field-group
                .cm__fieldname: span  КПД, %
                .cm__item-group
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
                  .cm__item: span 24,0
        .cm__scroll-bar
          .cm__scroll-bar-content
