// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

////
/// @group accordion
////

/// Default background color of an accordion group.
/// @type Color
$accordion-background: $white !default;

/// If `true`, adds plus and minus icons to the side of each accordion title.
/// @type Boolean
$accordion-plusminus: true !default;

/// Font size of accordion titles.
/// @type Number
$accordion-title-font-size: rem-calc(12) !default;

/// Default text color for items in a Menu.
/// @type Color
$accordion-item-color: foreground($accordion-background, $primary-color) !default;

/// Default background color on hover for items in a Menu.
/// @type Color
$accordion-item-background-hover: $light-gray !default;

/// Default padding of an accordion item.
/// @type Number | List
$accordion-item-padding: 1.25rem 1rem !default;

/// Default background color of tab content.
/// @type Color
$accordion-content-background: $white !default;

/// Default border color of tab content.
/// @type Color
$accordion-content-border: 1px solid $light-gray !default;

/// Default text color of tab content.
/// @type Color
$accordion-content-color: foreground($accordion-content-background, $body-font-color) !default;

/// Default padding for tab content.
/// @type Number | List
$accordion-content-padding: 1rem !default;

/// Adds styles for an accordion container. Apply this to the same element that gets `data-accordion`.
@mixin accordion-container {
  list-style-type: none;
  background: $accordion-background;
  margin-#{$global-left}: 0;
}

/// Adds styles for the accordion item. Apply this to the list item within an accordion ul.
@mixin accordion-item {
  &:first-child > :first-child {
    border-radius: $global-radius $global-radius 0 0;
  }

  &:last-child > :last-child {
    border-radius: 0 0 $global-radius $global-radius;
  }
}

/// Adds styles for the title of an accordion item. Apply this to the link within an accordion item.
@mixin accordion-title {
  display: block;
  background-color: #f7f7f7;
  padding: rem-calc(17) rem-calc(55) rem-calc(17) rem-calc(20);
  line-height: 1;
  font-size: rem-calc(16);
  font-weight: bold;
  color: #303030;
  position: relative;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  text-decoration: none;
  transition: all 0.5s ease;

  @include breakpoint(large) {
    font-size: rem-calc(18);
    padding-bottom: rem-calc(16);
    padding-top: rem-calc(16);
  }

  :last-child:not(.is-active) > & {
    //border-radius: 0 0 $global-radius $global-radius;
    border-bottom: 1px solid #e6e6e6;
  }

  &:hover,
  &:focus {
    background-color: $accordion-item-background-hover;
  }

  @if $accordion-plusminus {
    &::before {
      content: '';
      display: block;
      position: absolute;
      #{$global-right}: 0;
      top: 18px;
      height: 14px;
      width: 55px;
      background-position: center center;
      background-image: inline('ui-counter-p.svg');
      background-size: 14px auto;
      background-repeat: no-repeat;
    }

    .is-active > & {
      background: #ffffff;
      border-bottom: 1px solid #e6e6e6;
    }

    .is-active > &::before {
      background-image: inline('ui-counter-m.svg');

    }
  }
}

/// Adds styles for accordion content. Apply this to the content pane below an accordion item's title.
@mixin accordion-content {
  padding: rem-calc(20);
  display: none;
  //border: $accordion-content-border;
  //border-bottom: 0;
  background-color: $accordion-content-background;
  color: $accordion-content-color;

  :last-child > &:last-child {
    //border-bottom: $accordion-content-border;
  }

  .is-active & {
    background-image: linear-gradient(to bottom, rgba(#000, 0.15) 0%, #fff 7px);
  }
}

@mixin foundation-accordion {
  .accordion {
    @include accordion-container;
  }

  .accordion-item {
    @include accordion-item;
  }

  .accordion-title {
    @include accordion-title;
  }

  .accordion-content {
    @include accordion-content;
  }
}
