// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

////
/// @group drilldown
////

/// Transition property to use for animating menus.
/// @type Transition
$drilldown-transition: transform 0.15s linear !default;

/// Adds arrows to drilldown items with submenus, as well as the back button.
/// @type Boolean
$drilldown-arrows: true !default;

/// Sets drilldown arrow color if arrow is used.
/// @type Color
$drilldown-arrow-color: $primary-color !default;

/// Background color for drilldown submenus.
/// @type Color
$drilldown-background: $white !default;

@mixin foundation-drilldown-menu {
  // Applied to the Menu container
  .is-drilldown {
    position: relative;
    overflow: hidden;

    li {
      display: block;
    }

    &.animate-height {
      transition: height 0.5s;
    }
  }

  .drilldown-submenu-cover-previous {
    min-height: 100%;
  }

  .is-drilldown-submenu-parent > a {
    padding-right: rem-calc(45)!important;
  }
  // Applied to nested <ul>s
  .is-drilldown-submenu {
    position: absolute;
    top: 0;
    #{$global-left}: 100%;
    z-index: -1;
    // height: 100%;
    width: 100%;
    background: $drilldown-background;
    transition: $drilldown-transition;

    &.is-active {
      z-index: 1;
      display: block;
      transform: translateX(if($global-text-direction == ltr, -100%, 100%));
    }

    &.is-closing {
      transform: translateX(if($global-text-direction == ltr, 100%, -100%));
    }
  }

  @if $drilldown-arrows {
    .is-drilldown-submenu-parent > a {
      position: relative;

      &::after {
        //@include css-triangle(6px, $drilldown-arrow-color, $global-right);
        display: inline-block;
        background: inline('ico.drill-next.svg');
        position: absolute;
        height: 10px;
        width: width('ico.drill-next.svg');
        top: 50%;
        transform: translate(0, -50%);
        #{$global-right}: rem-calc(30);
        content: '';
      }
    }


    .js-drilldown-back > a::before {
      background: inline('ico.drill-next.svg') no-repeat center center;

      content: '.';
      color: transparent;
      //height: height('ico.drill-next.svg');
      width: width('ico.drill-next.svg');
      top: 50%;
      transform: rotate(180deg);
      display: inline-block;
      margin-right: rem-calc(20);

      margin-#{$global-right}: rem-calc(7); // Creates space between the arrow and the text
    }
  }
}
