$footer-background-color: #4e4e4e;

.site-footer {
  background: $footer-background-color;
  color: $white;

  &__inner {
    @include flex-grid-row();
    @include breakpoint(medium) {
      padding: 15px 0 0;
    }
  }

  &__newsletter {
    align-items: center;
    display: flex;
    flex: 0 1 100%;
    font-size: rem-calc(18);
    font-weight: bold;
    justify-content: center;
    line-height: 1.17;
    order: -1;
    padding: 17px 17px 18px;

    @include breakpoint(small only) {
      flex-wrap: wrap;
    }

    @include breakpoint(medium) {
      margin: 0 0 35px;
      padding: 15px 15px 30px;
      position: relative;
      border-bottom: 1px solid #c6c6c6;

      //&::after {
      //  border-bottom: 1px solid #c6c6c6;
      //  bottom: 0;
      //  content: '';
      //  display: block;
      //  left: 0;
      //  position: absolute;
      //  width: 100%;
      //}
    }

    @include breakpoint(large) {
      margin: 0 15px 35px;
      //&::after {
      //  left: rem-calc(15);
      //  width: calc(100% - 30px);
      //}
    }
  }

  &__newsletter-title {
    align-items: center;
    display: flex;
    flex: 0 0 100%;

    @include breakpoint(small only) {
      padding: 0 0 18px;
    }

    @include breakpoint(medium only) {
      flex: 1 1 285px;
    }

    @include breakpoint(large) {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 48px;
    }

    .ico-footer-mail {
      margin-right: 14px;
    }
  }

  &__newsletter-form {
    align-items: center;
    display: flex;
    flex: 0 0 100%;
    font-size: rem-calc(13);

    @include breakpoint(small only) {
      flex-wrap: wrap;
    }

    @include breakpoint(medium only) {
      flex: 1 1 455px;
      padding-left: 25px;
    }

    @include breakpoint(large) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 58px;
    }

    input {
      border-radius: 2px;
      background-color: #f5f5f5 !important;
      border: 1px solid #e5e5e5;
      flex: 1 1 100%;
      font-size: inherit;
      font-weight: 400;
      padding: 10px 11px;
      height: 36px;
      width: 100%;
      margin-bottom: 0;

      &::placeholder {
        color: #aaaaaa;
      }
    }

    button {
      flex: 1 1 100%;
      font-size: inherit;
      height: 36px;
      width: 100%;
    }

    @include breakpoint(small only) {
      input {
        margin-bottom: 10px;
      }
    }

    @include breakpoint(medium only) {
      input {
        flex: 1 1 255px;
        margin-right: 10px;
      }

      button {
        flex: 1 1 160px;
        max-width: 160px;
      }
    }

    @include breakpoint(large) {
      input {
        flex: 1 1 300px;
        max-width: 300px;
        margin-right: 10px;
      }

      button {
        flex: 1 1 160px;
        max-width: 160px;
      }
    }
  }

  &__info {
    flex: 0 0 100%;

    @include breakpoint(medium) {
      display: flex;
      padding-bottom: 1rem;

      > * {
        flex: 0 0 (100% / 3);
        max-width: (100% / 3);
        padding: 0 rem-calc(15);
      }
    }

    @include breakpoint(large) {
      flex: 0 0 75%;
      order: 2;
    }
  }

  &__payment {
    flex: 0 0 100%;
    @include breakpoint(medium) {
      flex: 0 0 (100% / 3);
      max-width: (100% / 3);
      padding: 0 rem-calc(15);
    }

    @include breakpoint(large) {
      flex: 0 0 25%;
      padding: 0 15px 0 100px;
      max-width: 25%;
      order: 3;
    }
  }

  &__payment-list {
    margin-bottom: 6px;
  }

  &__recomendation {
    flex: 0 0 100%;

    @include breakpoint(medium) {
      flex: 0 0 (100% / 3 * 2);
      max-width: (100% / 3 * 2);
      padding: 0 rem-calc(15);
    }

    @include breakpoint(large) {
      flex: 0 0 75%;
      order: 5;
      max-width: 75%;
      padding: 0 15px;
    }

  }

  &__recomendation-item {
    display: inline-block;
    margin-right: rem-calc(7);
    margin-bottom: rem-calc(14);
  }

  // footer contacts
  &__contacts {
    color: #bababa;
    line-height: 1.6;

    @include breakpoint(small only) {
      padding: 15px;
    }

    a[href ^= 'tel:'] {
      color: $white;
      display: block;
      font-weight: bold;
      text-decoration: none;
    }

    a[href ^= 'tel:'] + a[href ^= 'mailto:'] {
      margin: 0.5rem 0;
    }

    a[href ^= 'mailto:'] {
      color: #00a1de;
      display: block;
      font-weight: rem-calc(15);
    }
  }

  // footer menu
  &__menu {
    ul {

      a {
        color: #bababa;
        font-size: rem-calc(15);
        font-weight: 500;
        text-decoration: none;
        transition: color 0.5s ease;

        &:hover {
          color: $white;
        }
      }
    }

    li {
      margin-bottom: 0.5rem;
    }
  }

  // copyright
  &__copyright {
    background-image: resolve('logo.footer.png');
    background-repeat: no-repeat;
    background-position: center 15px;
    color: #bababa;
    flex: 0 0 100%;
    font-size: rem-calc(14);
    font-weight: 400;
    line-height: 1.29;

    @include breakpoint(small only) {
      padding: 65px 0 22px;
      text-align: center;
    }

    @include breakpoint(medium) {
      background-position: 15px 2px;
      margin-top: 1rem;
      padding: 56px 15px 40px;

    }

    @include breakpoint(large) {
      flex: 0 0 25%;
      order: 4;
      margin-top: 0;
      max-width: 25%;
    }
  }

  // bottom
  &__bottom {
    border-top: 1px solid #c6c6c6;
    color: #bababa;
    font-size: rem-calc(12);
    font-weight: 400;
    flex: 0 1 100%;
    line-height: 1.33;
    order: 9999;

    @include breakpoint(small only) {
      padding: 18px 15px 0;
    }

    @include breakpoint(medium) {
      display: flex;
      padding: 19px 15px 0;
    }

    @include breakpoint(large) {
      margin: 0 15px;
      padding: 19px 0 0;
    }
  }

  &__bottom-text {
    flex: 1 1 0;

    @include breakpoint(medium) {
      font-size: rem-calc(14);
      padding-bottom: 18px;
    }

    @include breakpoint(large) {
      padding: 0 0 0 22px;
    }
  }

  @include breakpoint(small only) {
    //.footer-accordion {
    //  border-top: 1px solid #c6c6c6;
    //}
    //
    //[data-accordion-item] {
    //  border-bottom: 1px solid #c6c6c6;
    //}
  }

  @include breakpoint(medium) {
    [data-tab-content] {
      display: block !important;
    }
  }

  /* accordion footer */
  &__section-title {
    color: $white;
    display: block;
    font-size: rem-calc(18);
    font-weight: bold;

    @include breakpoint(small only) {
      border-top: 1px solid #c6c6c6;
      padding: 8px 15px;
      position: relative;

      &:after {
        background-image: inline('plus-white.svg');
        background-repeat: no-repeat;
        background-size: 14px auto;
        background-position: center center;
        height: 14px;
        display: block;
        width: 14px;
        content: '';
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }


      &[aria-expanded="true"]::after {
        background-image: inline('minus-white.svg');
      }
    }

    @include breakpoint(medium) {
      margin-bottom: 11px;
    }
  }

  &__accordion-content {
    @include breakpoint(small only) {
      display: none;
      padding: 8px 15px;
    }
  }
  @include breakpoint(small only) {
    &__recomendation {
      border-bottom: 1px solid #c6c6c6;
    }

    &__contacts{
      border-top: 1px solid #c6c6c6;
    }
  }

  //@include reset-list;
}

.kokos-link {
  display: block;
  background-image: resolve('kokos-link.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 58px;
  margin: 4px auto 0;
  transition: all 0.5s ease;
  width: 292px;

  &:hover {
    opacity: 0.7;
  }

  @include breakpoint(medium) {
    align-self: flex-end;
    flex: 0 0 292px;
    margin: 0;
  }
}