.js-off-canvas-exit {
  z-index: $z-header + 1;
}

.site-header-wrapper {
  height: 0;
  position: fixed !important;
  top: 0;
  transition: transform 0.5s ease;
  z-index: $z-header;
  right: 0;
  width: 100%;

  .off-canvas.position-left.is-open ~ & {
    z-index: 1;

    @include breakpoint(small only) {
      transform: translateX($offcanvas-small-size) !important;
    }

    @include breakpoint(medium) {
      transform: translateX($offcanvas-size) !important;
    }
  }
}

.site-header {
  background-color: $white;
  transition: transform 0.5s ease;

  @include breakpoint(small only) {
    &.is-fixed {
      transform: translateY(-100%);
    }
  }

  @include breakpoint(medium only) {
    &.is-fixed {
      transform: translateY(-100%);
    }
  }

  @include breakpoint(large) {
    &.is-fixed {
      transform: translateY(-107px);
      box-shadow: 0 2px 5px 1px $light-gray;
    }
  }

  &__inner {
    @include flex-grid-row();
    justify-content: space-between;
    margin-bottom: 14px;
    position: relative;
    z-index: $z-header-inner;
    transition: all 0.5s ease;

    @include breakpoint(small only) {
      padding: 0 17px 15px;
    }

    @include breakpoint(medium only) {
      padding: 0 15px 12px;
    }

    @include breakpoint(large) {
      .is-fixed & {
        margin-bottom: 0;
        padding-bottom: 14px;
      }
    }
  }

  &__logo {
    background-image: resolve('logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 180px auto;
    display: block;
    height: 74px;
    flex: 0 0 100%;

    @include breakpoint(medium) {
      background-position: left 27px;
      flex: 0 0 (255 / 740 * 100%);
      height: 107px;
    }

    @include breakpoint(large) {
      background-position: 15px 23px;
      background-size: 240px auto;
      flex: 0 0 255px;
    }
  }

  &__info {
    display: none;

    @include breakpoint(medium) {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 0 1 auto;
      margin: 0 0 0 30px;
    }

    @include breakpoint(large) {
      margin: 0 15px 0 31px;
    }
  }

  &__catalog {
    flex: 0 0 100%;
    position: relative;
    transition: all 0.4s ease-out;

    @include breakpoint(large) {
      flex: 0 0 1015px;
    }

    .is-fixed & {
      padding-top: 14px;
    }
  }

  &__feedback {
    align-items: center;
    display: none;
    padding-left: 24px;
    transition: all 0.4s ease-out;

    @include breakpoint(medium) {
      flex: 0 1 auto;
      display: flex;
      margin-left: auto;
    }

    @include breakpoint(large) {
      justify-content: center;
      flex: 1 1 165px;
      order: 9999;
      max-width: 185px;
      padding-left: 5px;
    }

    .is-fixed & {
      padding-top: 14px;
    }
  }

  &__phone {
    @include breakpoint(small only) {
      display: none;
    }

    background-repeat: no-repeat;
    background-position: left center;
    color: $black-2;
    font-size: rem-calc(20);
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: -4px;
    padding-left: 22px;
    text-decoration: none;

    @include breakpoint(large) {
      font-size: rem-calc(22);
    }
  }

  &__time {
    color: $lightness-grey;
    font-size: rem-calc(13);
    line-height: 1.29;
    padding-left: 22px;

    @include breakpoint(large) {
      font-size: rem-calc(14);
    }
  }

  &__links {
    align-items: center;
    display: none;
    flex: 0 0 auto;
    margin-left: auto;
    margin-bottom: 5px;
    padding-top: 3px;

    @include breakpoint(large) {
      display: flex;
    }

    a {
      align-items: center;
      border-radius: 2px;
      display: flex;
      color: $black;
      font-size: rem-calc(14);
      font-weight: 400;
      line-height: 1.07;
      margin: 0 21px;
      padding: 3px;
      text-decoration: none;

      span {
        margin-right: 13px;
      }

      &:hover {
        color: $orange;
      }
    }
  }

  &__menu {
    flex: 0 0 218px;
    position: relative;

    @include breakpoint(small only) {
      flex: 1 0 218px;
    }

    @include breakpoint(large) {
      flex: 0 0 285px;
    }

    input {
      display: none;
    }
  }

  &__menu-button {
    @include hide-for(large);

    background-image: $blue-gradient;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: rem-calc(14);
    font-weight: 700;
    height: 53px;
    line-height: 53px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: inset 0 0 17px $white;
    }

    &--ds {
      @include show-for(large);
      background-image: inline('ico.main-menu.svg'), $blue-gradient;
      background-repeat: no-repeat, no-repeat;
      background-position: 69px 21px, 0 0;
      text-indent: 20px;
      color: $white;
      cursor: pointer;
      display: block;
      font-size: rem-calc(14);
      font-weight: 700;
      height: 53px;
      line-height: 53px;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: inset 0 0 17px $white;
      }
    }
  }

  &__menu-button-ds {
    background-image: $blue-gradient,
    inline('ico.main-menu.svg');
    background-position: 0 0, 69px center;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: rem-calc(14);
    font-weight: 700;
    height: 53px;
    line-height: 53px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: inset 0 0 17px $white;
    }
  }

  &__catalog {
    display: flex;
    position: relative;
  }

  &__search {
    background: $blue-gradient;
    border-radius: 2px;
    flex: 1 0 auto;
    margin-left: 17px;
    padding: 2px;
    position: relative;

    @include breakpoint(small only) {
      display: flex;
      height: 100%;
      overflow: hidden;
      position: absolute;
      left: 0;
      margin: 0;
      top: 0;
      width: 100%;
      opacity: 0;
      transition: all 0.4s ease-in;
      box-shadow: 0 0 0 1px $blue;
      z-index: -1;

      &.is-active {
        opacity: 1;
        z-index: 100;
      }
    }

    @include breakpoint(large) {
      margin-left: 11px;
    }

    form {
      flex: 1 1 100%;
      display: flex;
      height: 100%;
      width: 100%;
      margin: 0;
    }

    input {
      border: 0;
      color: #898989;
      display: inline-block;
      flex: 1 1 auto;
      font-size: rem-calc(14);
      font-weight: 400;
      padding: 10px 20px;
      margin: 0;
      height: 49px;
      min-height: 100%;
      align-self: stretch;
      box-sizing: border-box;

      &::placeholder {
        color: #898989;
      }

      &:focus {
        border: 0;
        color: $gray;
      }

      @include breakpoint(small only) {
        &:focus {
          display: block;
          max-width: calc(100vw - 83px);
        }
      }
    }

    button {
      background-color: transparent;
      background-repeat: no-repeat;
      border: 0;
      color: $white;
      font-size: rem-calc(14);
      line-height: rem-calc(16);
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: inset 0 0 17px $white;
      }

      @include breakpoint(small only) {
        background-position: center center;
        flex: 0 0 51px;
        text-indent: -9999px;
        width: 51px;
      }

      @include breakpoint(medium) {
        background-position: 36px center;
        flex: 0 0 140px;
        text-indent: 24px;
      }
    }
  }

  &__search-mobile {
    align-items: center;
    background: $blue-gradient;
    display: none;
    margin-left: 14px;
    flex: 1 0 53px;
    justify-content: center;
    width: 100%;

    @include breakpoint(small only) {
      display: flex;
    }

    i {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
      height: 20px;
      width: 20px;
    }
  }

}

.button-feedback {
  align-items: center;
  color: #333;
  display: flex;
  font-size: rem-calc(13);
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    background-size: contain;
    border-radius: 17px;
    content: '';
    display: block;
    height: height('ico.call.png');
    margin-right: 12px;
    width: width('ico.call.png');
  }

  &:hover::before {
    animation: call-hover 1.5s infinite;
  }

  span {
    flex: 0 0 auto;
    border-bottom: 1px dotted currentColor;
    padding: 6px 0 0;
    transition: all 0.4s ease;
  }

  &:hover span {
    border-color: transparent;
  }
}

.ico-search {
  height: height('ico.search.svg');
  width: width('ico.search.svg');
}

