.cart-header {
  border-bottom: 1px solid #d9d9d9;


  &__logo {
    background-image: resolve('logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 180px auto;
    display: block;
    height: 86px;
    flex: 0 0 270px;
    margin-left: 15px;

    @include breakpoint(small only) {
      background-position: center center;
      flex: 1 0 100%;
      margin: 0;
    }

    @include breakpoint(large) {
      height: 108px;
    }
  }

  &__info {
    align-self: center;
    @include show-for(medium);
    margin-left: auto;
    margin-right: 15px;
  }

  &__phone {
    background-repeat: no-repeat;
    background-position: left center;
    color: #090909;
    font-size: rem-calc(20);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 22px;
  }

  &__hours {
    color: #8a8a8a;
    font-size: rem-calc(13);
    line-height: 1.38;
    padding-left: 22px;
  }
}