// color set
$white: #fff;
$gray: #303030;
$grey: #303030;
$light-grey: #4d4d4d;
$light-grey-2: #d3d3d3;
$lightness-grey: #8a8a8a;
$green: #009f0f;
$orange: #ff7a00;
$blue: #00a1de;
$black: #000000;
$black-2: #090909;

$orange-gradient: linear-gradient(to top, rgba(255, 100, 64, 1) 0%, rgba(255, 132, 0, 1) 100%);
$grey-gradient: linear-gradient(to top, $lightness-grey 0%, #acacac 100%);
$blue-gradient: linear-gradient(to top, rgba(0, 144, 209, 1) 0%, rgba(0, 178, 235, 1) 100%);
$blue-gradient-reverse: linear-gradient(to bottom, rgba(0, 144, 209, 1) 0%, rgba(0, 178, 235, 1) 100%);

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700|Playfair+Display&subset=cyrillic');

@font-face {font-family: 'PT Sans';
  src: url('../fonts/pts55f_w.eot');
  src: url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F_W.woff') format('woff'),url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans';
  font-style: italic;
  src: url('../fonts/pts56f_w.eot');
  src: url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F_W.woff') format('woff'),url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F_W.woff') format('woff'),url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}

@font-face {font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/pts76f_w.eot');
  src: url('../fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F_W.woff') format('woff'),url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}

$font-pt: 'PT Sans', 'Arial', sans-serif;
$font-ub: 'Ubuntu', sans-serif;
$font-arial: Arial, sans-serif;

* {
  outline: none;
}

@import "theme--base";