extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .column
        .error-404
          .error-404__circle
            .error-404__code 404
            .error-404__alert Упс!
            .error-404__desc Страница не найдена
          .error-404__text
            | К сожалению, страница, которую Вы запросили, не была найдена (ошибка 404).
            | Вы можете перейти на главную страницу или воспользоваться каталогом товаров.
            | Если эта ошибка будет повторяться, обратитесь, пожалуйста, в службу поддержки.
          .error-404__footer
            a(href='/catalog.html').button-blue КАТАЛОГ ТОВАРОВ
            a(href='/').button-iblue ГЛАВНАЯ СТРАНИЦА
      include ./layout/block/catalog.goods.pug
      include ./layout/block/catalog.goods-slider.pug
    .bg-gray
      .row.collapse
        .column
          +goods-slider(goods_list, 'Популярные товары')
include ./layout/footer.pug