extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['О компании'])
        h1 О компании
    .row.about-page
      .column.small-12.large-5.large-order-2.large-offset-1
        .requisites
          h2 Реквизиты
          p
            | ИНН  5030075517
            br
            | КПП  772401001
            br
            | ОГРН  1115030004220
            br
            | Юридический адрес: Москва, Дорожная, д. 54, стр. 11, к. 4
            br
            | Фактический адрес: Москва, Дорожная, д. 54, к. 5, офис 307, таможенный терминал "Чертановский", офис 307
            br
            | Адрес для корреспонденции: 143360, Московская область, Наро-Фоминский р-он, г. Апрелевка, ул. 1-я Заводская, д.16, а/я 53
            br
            | р/с  40702810103310142322
            br
            | в Наро-Фоминском филиале Банка «Возрождение» (ПАО) Наро-Фоминск
            br
            | БИК 044525181
            br
            | Кор/с 30101810900000000181
            br
            | ОКПО 37525878
      .column.small-12.large-6
        p
          | Компания «Ком Термо», является надежным и стабильным поставщиком на рынке инженерной сантехники.
          | На протяжении 10 лет наша компания оказывает услуги в сфере поставки оборудования, монтажа и п
          | роектирования. Мы предлагаем широкий ассортимент продукции для водоснабжения, отопления и канализации,
          | лучших европейских и российских производителей.
        br
        br
        h2 Помощь в выборе решений
        p
          | Наши квалифицированные специалисты помогут в подборе оборудования, дадут чёткую консультацию и предложат
          | готовые решения. Нашими клиентами являются строительные компании, монтажные организации, производственные
          | предприятия и частные лица.
        p(style='text-align: center').img-wrapper
          img(src='/img/about-img.png')
        br
        br
        h2 Сотрудничество
        p
          | Мы заинтересованы в увеличении рынка сбыта и расширении географии поставок, в связи с чем наша компания
          | предлагает выгодные условия сотрудничества для своих партнеров. Будем рады поставить продукцию на выгодных
          | условиях фирмам, снабжающим строительные организации в сфере загородного домостроения. Готовы рассмотреть
          | предложения сотрудничества от компаний обеспечивающих государственный заказ, муниципальные объекты, сферу
          | ЖКХ. Также нас интересует работа на постоянной основе с торговыми и монтажными организациями в регионах.


include ./layout/footer.pug