extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Статьи'])
        h1 Статьи
    .bg-gray
      .row.articles
        .column.small-12.articles-aside
          .articles-topics(data-toggler='.is-show')#topics
            .articles-topics__button(data-toggle='topics') Тематики
            .articles-topics__title Тематики
            ul.articles-topics__list
              li: a(href='#')
                span  Котельное оборудование
                != ' (22)'
              li: a(href='#').is-current
                span Водоснабжение
                != ' (12)'
              li: a(href='#')
                span Теплые полы
                != ' (15)'
              li: a(href='#')
                span Сантехника
                != ' (7)'
              li: a(href='#')
                span Водонагреватели
                != ' (20)'
              li: a(href='#')
                span Канализация
                != ' (9)'
        .column.small-12.articles-content
          .row.articles-list
            .column
              .article-tile
                .article-tile__preview
                  img(src='/img/article-1.png')
                .article-tile__label.t-label.t-label--color-1 ТЕПЛЫЕ ПОЛЫ
                .article-tile__content
                  .article-tile__title Теплый пол под стяжку
                  .article-tile__text
                    | Инновационная технология обогрева, которая становится все более и более популярной в мире за счет
                    | своей энергоэффективности и экономичности. Теплый пол на основе аморфной металлической ленты В основе
                    | такого теплого пола – тонкая (20-25 мкм) лента из аморфного сплава, которая благодаря своей структуре
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | сверхпроводящие и другие свойства.
                  a(href='#').button-orange ПОДРОБНЕЕ
            .column
              .article-tile
                .article-tile__preview
                  img(src='/img/article-1.png')
                .article-tile__label.t-label.t-label--color-2 ТЕПЛЫЕ ПОЛЫ
                .article-tile__content
                  .article-tile__title Теплый пол под стяжку
                  .article-tile__text
                    | Инновационная технология обогрева, которая становится все более и более популярной в мире за счет
                    | своей энергоэффективности и экономичности. Теплый пол на основе аморфной металлической ленты В основе
                    | такого теплого пола – тонкая (20-25 мкм) лента из аморфного сплава, которая благодаря своей структуре
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | сверхпроводящие и другие свойства.
                  a(href='#').button-orange ПОДРОБНЕЕ
            .column
              .article-tile
                .article-tile__preview
                  img(src='/img/article-1.png')
                .article-tile__label.t-label.t-label--color-3 ТЕПЛЫЕ ПОЛЫ
                .article-tile__content
                  .article-tile__title Теплый пол под стяжку
                  .article-tile__text
                    | Инновационная технология обогрева, которая становится все более и более популярной в мире за счет
                    | своей энергоэффективности и экономичности. Теплый пол на основе аморфной металлической ленты В основе
                    | такого теплого пола – тонкая (20-25 мкм) лента из аморфного сплава, которая благодаря своей структуре
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | сверхпроводящие и другие свойства.
                  a(href='#').button-orange ПОДРОБНЕЕ
            .column
              .article-tile
                .article-tile__preview
                  img(src='/img/article-1.png')
                .article-tile__label.t-label.t-label--color-4 ТЕПЛЫЕ ПОЛЫ
                .article-tile__content
                  .article-tile__title Теплый пол под стяжку
                  .article-tile__text
                    | Инновационная технология обогрева, которая становится все более и более популярной в мире за счет
                    | своей энергоэффективности и экономичности. Теплый пол на основе аморфной металлической ленты В основе
                    | такого теплого пола – тонкая (20-25 мкм) лента из аморфного сплава, которая благодаря своей структуре
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | сверхпроводящие и другие свойства.
                  a(href='#').button-orange ПОДРОБНЕЕ
            .column
              .article-tile
                .article-tile__preview
                  img(src='/img/article-1.png')
                .article-tile__label.t-label.t-label--color-5 ТЕПЛЫЕ ПОЛЫ
                .article-tile__content
                  .article-tile__text
                    | Инновационная технология обогрева, которая становится все более и более популярной в мире за счет
                    | своей энергоэффективности и экономичности. Теплый пол на основе аморфной металлической ленты В основе
                    | такого теплого пола – тонкая (20-25 мкм) лента из аморфного сплава, которая благодаря своей структуре
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | сверхпроводящие и другие свойства.
                  a(href='#').button-orange ПОДРОБНЕЕ
            .column
              .article-tile
                .article-tile__preview
                  img(src='/img/article-1.png')
                .article-tile__label.t-label.t-label--color-6 ТЕПЛЫЕ ПОЛЫ
                .article-tile__content
                  .article-tile__title Теплый пол под стяжку
                  .article-tile__text
                    | Инновационная технология обогрева, которая становится все более и более популярной в мире за счет
                    | своей энергоэффективности и экономичности. Теплый пол на основе аморфной металлической ленты В основе
                    | такого теплого пола – тонкая (20-25 мкм) лента из аморфного сплава, которая благодаря своей структуре
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | имеет совершенно иные, в отличие от обычных металлов, магнитные, электрические, механические,
                    | сверхпроводящие и другие свойства.
                  a(href='#').button-orange ПОДРОБНЕЕ
          .pagination-block
            a(href='#').load-more
              span Показать еще
            include ./layout/block/pagintaion.pug
include ./layout/footer.pug