extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Статьи', 'Умная сантехника: сенсорный смеситель для раковины'])
        h1 Статьи
    .bg-gray
      .row.article-page
        .column.articles-aside
          .articles-topics(data-toggler='.is-show')#topics
            .articles-topics__button(data-toggle='topics') Тематики
            .articles-topics__title Тематики
            ul.articles-topics__list
              li: a(href='#')
                span  Котельное оборудование
                != ' (22)'
              li: a(href='#').is-current
                span Водоснабжение
                != ' (12)'
              li: a(href='#')
                span Теплые полы
                != ' (15)'
              li: a(href='#')
                span Сантехника
                != ' (7)'
              li: a(href='#')
                span Водонагреватели
                != ' (20)'
              li: a(href='#')
                span Канализация
                != ' (9)'
        .column.small-12.articles-content
          .article-header(style='background-image: url("/img/article-page-1.png")')
            .article-tile__label.t-label.t-label--color-1 ТЕПЛЫЕ ПОЛЫ
            h1 Умная сантехника: сенсорный смеситель для раковины
          .article-page__content
            p Сенсорный смеситель имеет не совсем привычный внешний вид для обывателя: перед нами «голый» кран без рычагов, вентиля или джойстика. Единственный орган управления располагается на корпусе в виде компактного регулятора температуры. Дорогие модели бесконтактных смесителей лишены внешнего регулятора — он заменен на сенсорный, который регулирует температуру от прикосновения к правой или левой стороне смесителя, а на некоторых кранах сенсорный регулятор размещен на изливе.
            br
            h2 Сенсорный смеситель: особенности и возможности
            img(src='/img/article-page-2.png' style="margin-left: -46px")
            br
            br
            p На корпусе крана находится датчик, который улавливает движение рук или посуды. В каждой модели доступна автоматическая или ручная регулировка дальности срабатывания датчика от 1 до 30 см. Вы сами определяете, на какое расстояние нужно приблизиться к смесителю, чтобы тот начал подавать воду. В большинстве моделей можно задать параметр задержки — время, через которое должна подаваться и выключаться вода. Ручная настройка данных параметров доступна в более дорогих моделях. Бесконтактный смеситель, как правило, устанавливается в раковинах на кухне и ванной, а также в больницах, кинотеатрах, супермаркетах, заведениях общественного питания.
            br
            h2 Устройство прибора
            p Сенсорную систему питает литиевая батарейка. Ее заряда хватит на два года при ежемесячном включении воды 3–5 тысяч раз. Для одной семьи такого ресурса батареи более чем достаточно для бесперебойной двухлетней работы.
            p Комплектация смесителя включает:
            ul
              li блок электроники;
              li фильтр;
              li соединительные шланги;
              li излив;
              li клапан;
              li батарейку;
              li пульт ДУ (зависит от модели).
            p При попадании движущегося объекта в поле чувствительности датчика фотоэлемент передает сигнал на блок управления, который открывает и перекрывает воду. Технически за открытие воды отвечает управляемый электронным блоком соленоидный клапан.
            .see-more-blog
              .see-more-blog__title ИНТЕРЕСНЫЕ МАТЕРИАЛЫ ПО ТЕМЕ
              .see-more-blog__sub-title
                != 'Мы собираем и публикуем полезные для вас материалы в разделе '
                a(href='#') Статьи
              ul.see-more-blog__list
                li: a(href='#') Применение труб из полипропилена »
                li: a(href='#') Экономить воду – выгодно »
                li: a(href='#') Как поменять радиаторы отопления в квартире »
                li: a(href='#') Прочистка и устранение засора в раковине и канализации »

include ./layout/footer.pug