extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Бренды'])
        h1 Бренды
    .row
      .column.large-3.show-for-large
        .catalog-menu
          .catalog-menu__title Каталог товаров
          include ./layout/block/menu.left.pug
        .left-promo
          a(href='#')
            img(src='/img/b-01.png')
          a.left-promo__button(href='#') Выбрать
        .left-promo
          a(href='#')
            img(src='/img/yandex-market-aside.png')
      .columns.small-12.large-9
        p
          | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
          | "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
          | коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
          | успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в
          | новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее
          | время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum
        a(href='#').button-orange Показать все товары "бренда"
include ./layout/footer.pug