extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Бренды'])
        h1 Бренды
    .row
      .column.large-3.show-for-large
        .catalog-menu
          .catalog-menu__title Каталог товаров
          include ./layout/block/menu.left.pug
        .left-promo
          a(href='#')
            img(src='/img/b-01.png')
          a.left-promo__button(href='#') Выбрать
        .left-promo
          a(href='#')
            img(src='/img/yandex-market-aside.png')
      .columns.small-12.large-9
        include ./layout/component/letter-filter/letter-filter.pug
        .brands.row.small-up-1.medium-up-3
          .column
            a.brands__item(href='#')
              .brands__item-img
                img(src='/img/brand-01.png')
              .brands__item-title
                | ACV
                span »
          .column
            a.brands__item(href='#')
              .brands__item-img
                img(src='/img/brand-02.png')
              .brands__item-title
                | AEG
                span »
          .column
            a.brands__item(href='#')
              .brands__item-img
                img(src='/img/brand-03.png')
              .brands__item-title
                | Alpine
                span »
        .row.align-center

          a(href='#').load-more
            span Показать еще
include ./layout/footer.pug