extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.cart.pug


  block content
    .row
      .columns
        +breadcrumbs(['Корзина'])
        h1 Корзина
    .row.align-center
      .columns.large-9
        nav.cart-navigation
          a.cart-navigation__step(href='/cart-step-1.html').is-current Шаг 1. Состав заказа
          a.cart-navigation__step(href='/cart-step-2.html') Шаг 2. Оформление заказа
          .cart-navigation__step(href='/cart-step-3.html') Шаг 3. Подтверждение заказа
    .cart-add-sku.row
      .cart-add-sku__tips.column.large-3 Быстрое добавление  товаров в корзину
      .column.medium-9.large-6
        form.cart-add-sku__form
          input(type='text' placeholder='Введите наименование или код товара')
          button(type='submit') ДОБАВИТЬ
      .column.medium-3.show-for-medium
        a(href='javascript(void)').button-print.hide-for-small-only Распечатать страницу
        -
          var cartItems = [
            {
              sku: '152566',
              name: 'Терморегулятор цифровой Moehlenhoff Альфа Комфорт с датчиком скорости вращения, серебрянный (GS1000)',
              img: 'cart-1.png',
              price: '75 137',
            },
            {
              sku: '152566',
              name: 'Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM',
              img: 'cart-2.png',
              price: '32 075',
            },
            {
            sku: '152566',
            name: 'Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM',
            img: 'cart-3.png',
            price: '4 000',
            }
          ]
    .row.small-collapse.large-uncollapse
      .column.small-12.large-9
        +cart-block('cart', cartItems)
      .column.show-for-large.large-3
        include ./layout/block/also-buy.pug
include ./layout/footer.pug