extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.cart.pug
  block content
    .row.align-center
      .columns.large-9
        +breadcrumbs(['Корзина'])
        h1 Корзина
    .row.align-center
      .columns.large-9
        nav.cart-navigation
          a.cart-navigation__step(href='/cart-step-1.html') Шаг 1. Состав заказа
          a.cart-navigation__step(href='/cart-step-2.html') Шаг 2. Оформление заказа
          .cart-navigation__step(href='/cart-step-3.html').is-current Шаг 3. Подтверждение заказ
        include ./layout/form/form.order.summary-info.pug
        .order-section-title Состав заказа
    .row.align-center
      .columns.large-9
        form(data-abibe).order-form
          -
            var cartItems = [
            {
            sku: '152566',
            name: 'Терморегулятор цифровой Moehlenhoff Альфа Комфорт с датчиком скорости вращения, серебрянный (GS1000)',
            img: 'cart-1.png',
            price: '75 137',
            },
            {
            sku: '152566',
            name: 'Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM',
            img: 'cart-2.png',
            price: '32 075',
            },
            {
            sku: '152566',
            name: 'Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM',
            img: 'cart-3.png',
            price: '4 000',
            }
            ]
          .row.small-collapse.large-uncollapse
            .column.small-12
              +cart-block-total('cart', cartItems)
          .order-form__summary
            .order-form__summary-delivery
              != 'Доставка: '
              span.price 500 руб.
            .order-form__summary-price
              != 'Итоговая сумма: '
              span.price 159 787 руб.
          .row
            .column.small-12.medium-4
              a(href='/cart-step-1.html').button-grey <span class='ico-prev'></span>  Назад
            .column.small-12.medium-5.medium-offset-3
              a(href='/successful-order.html').button-orange ПОДТВЕРДИТЬ
              .comfirm-tips
                | <span>*</span> Нажимая кнопку  <b>«Подтвердить»</b>,
                | я подтверждаю свою дееспособность даю согласие на обработку своих персональных данных
include ./layout/footer.pug