extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.cart.pug
  block content
    .row.align-center
      .columns.large-9
        +breadcrumbs(['Корзина'])
        h1 Корзина
    .row.align-center
      .columns.large-9
        nav.cart-navigation
          a.cart-navigation__step(href='/cart-step-1.html') Шаг 1. Состав заказа
          .cart-navigation__step(href='/cart-step-2.html').is-current Шаг 2. Оформление заказа
          a.cart-navigation__step(href='/cart-step-3.html') Шаг 3. Подтверждение заказ
    .row.align-center
      .columns.large-9
        form(data-abibe).order-form
          include ./layout/form/form.order.info.pug
          include ./layout/form/form.order.delivery.pug
          include ./layout/form/form.order.pay.pug
          .order-form__footer
            a(href='/cart-step-1.html').button-grey <span class='ico-prev'></span>  Назад
            a(href='/cart-step-3.html').button-orange Далее  <span class='ico-next'></span>
include ./layout/footer.pug