extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Каталог'])
        h1 Каталог
    .catalog-title-block(style='background-image: url(/img/catalog-title.png)')
      .catalog-title Каталог товаров
      .catalog-subtitle У нас вы найдете все что нужно
    include ./layout/block/catalog.category-list.pug
    -
      var goods_list = {good_01: {
      img: 'goods-02.png',
      sku: '152566',
      title: 'Труба Rehau RAUTITAN flex 16х2.2',
      price: '152566 руб.',
      oldprice: '',
      label: 'hit'
      },
      good_02: {
      img: 'goods-02.png',
      sku: '152566',
      title: 'Труба Rehau RAUTITAN flex 16х2.2',
      price: '----- руб.',
      oldprice: '',
      label: ''
      },
      good_03: {
      img: 'goods-02.png',
      sku: '152566',
      title: 'Труба Rehau RAUTITAN flex 16х2.2',
      price: '----- руб.',
      oldprice: '',
      label: 'sale'
      },
      good_04:{
      img: 'goods-02.png',
      sku: '152566',
      title: 'Труба Rehau RAUTITAN flex 16х2.2',
      price: '----- руб.',
      oldprice: '',
      label: 'new'
      }}
    .row
      .column.large-4.show-for-large-only
        | ФИЛЬТР
      .columns.small-12
        .section-title Популярные товары
        .row.goods-list.small-up-1.medium-up-3.large-up-4
          include ./layout/block/catalog.goods.pug
          .column
            +goods-tile(goods_list.good_01)
          .column
            +goods-tile(goods_list.good_02)
          .column
            +goods-tile(goods_list.good_03)
          .column
            +goods-tile(goods_list.good_04)
          .column
            +goods-tile(goods_list.good_01)
          .column
            +goods-tile(goods_list.good_02)
          .column
            +goods-tile--outstock(goods_list.good_03)
          .column
            +goods-tile--outstock(goods_list.good_04)
          .column
            +goods-tile(goods_list.good_01)
          .column
            +goods-tile(goods_list.good_02)
          .column
            +goods-tile(goods_list.good_03)
          .column
            +goods-tile(goods_list.good_04)
        .catalog-bottom
          .catalog-loadmore
            a(href='#').load-more
              span Показать еще
          include ./layout/block/pagintaion.pug
      .columns.small-12
        h2 Товары каталога
        p
          | Мы заинтересованы в увеличении рынка сбыта и расширении географии поставок, в связи с чем наша компания
          | предлагает выгодные условия сотрудничества для своих партнеров. Будем рады поставить продукцию на выгодных
          | условиях фирмам, снабжающим строительные организации в сфере загородного домостроения. Готовы рассмотреть
          | предложения сотрудничества от компаний обеспечивающих государственный заказ, муниципальные объекты, сферу
          | ЖКХ. Также нас интересует работа на постоянной основе с торговыми и монтажными организациями в регионах.
include ./layout/footer.pug