extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Каталог', 'Котлы'])
        h1 Котлы
        .category-anons
          P
            | Газовый котел – это «сердце» любой системы отопления. Он является одним из наиболее распространенных
            | устройств бытового предназначения не тольков Москве, но и в любом уголке нашей страны. Это закономерное
            | явление, если вспомнить о доступной  цене топлива, применяемого для настенных газовых котлов
          a(href='').category-anons__readmore Узнать как выбрать котел
        .subcategory-list
          a(href='#') Настенные газовые котлы
          a(href='#') Напольные газовые котлы
          a(href='#') Газово-дизельные котлы
          a(href='#') Горелки газовые
          a(href='#') Горелки дизельные
          a(href='#') Тепловые насосы
          a(href='#') Твердотопливные котлы
          a(href='#') Пеллетные котлы
          a(href='#') Котлы пиролизные
          a(href='#') Электрические котлы
          a(href='#') Автоматика для котлов
          a(href='#') Дымоходы для котлов
          a(href='#') Комплектующие для котлов
    -
      var goods_list = {good_01: {
      img: 'goods-02.png',
      sku: '152566',
      title: 'Настенный двухконтурный конденсационный котел Ariston GENUS PREMIUM EVO 24',
      price: '152566 руб.',
      oldprice: '1000000 руб.',
      label: 'hit'
      },
      good_02: {
      img: 'goods-02.png',
      sku: '152566',
      title: 'Труба Rehau RAUTITAN flex 16х2.2',
      price: '----- руб.',
      oldprice: '',
      label: 'hit'
      },
      good_03: {
      img: 'goods-02.png',
      sku: '152566',
      title: 'Труба Rehau RAUTITAN flex 16х2.2',
      price: '----- руб.',
      oldprice: '',
      label: 'hit'
      },
      good_04:{
      img: 'goods-02.png',
      sku: '152566',
      title: 'Труба Rehau RAUTITAN flex 16х2.2',
      price: '----- руб.',
      oldprice: '',
      label: 'hit'
      }}
    .bg-gray
      .row
        .column.large-3.show-for-large
          include layout/component/smart-filter/smart-filter.pug
          .catalog-menu
            .catalog-menu__title Каталог товаров
            include ./layout/block/menu.left.pug
          .left-promo
            a(href='#')
              img(src='/img/b-01.png')
            a.left-promo__button(href='#') Выбрать
          .left-promo
            a(href='#')
              img(src='/img/yandex-market-aside.png')
        .columns.small-12.large-9
          include ./layout/block/catalog.sort.pug
          include layout/block/slider.advise.pug
          +advise-slider(goods_list, 'Рекомендованные товары')
          .row.goods-list.small-up-1
            include ./layout/block/catalog.goods-row.pug
            .column
              +goods-row(goods_list.good_01)
            .column
              +goods-row(goods_list.good_02)
            .column
              +goods-row(goods_list.good_03)
            .column
              +goods-row(goods_list.good_04)
            .column
              +goods-row--outstock(goods_list.good_01)
            .column
              +goods-row--outstock(goods_list.good_02)
            .column
              +goods-row(goods_list.good_03)
            .column
              +goods-row(goods_list.good_04)
            .column
              +goods-row(goods_list.good_01)
            .column
              +goods-row(goods_list.good_02)
            .column
              +goods-row(goods_list.good_03)
            .column
              +goods-row(goods_list.good_04)

          .catalog-bottom
            .catalog-loadmore
              a(href='#').load-more
                span Показать еще
            include ./layout/block/pagintaion.pug
    .row.catalog-bottom-desc
      .columns.small-12
        h2 Как правильно выбрать котел
        p
          | Газовый котел – это «сердце» любой системы отопления. Он является одним из наиболее распространенных
          | устройств бытового предназначения не тольков Москве, но и в любом уголке нашей страны. Это закономерное
          | явление, если вспомнить о доступной  цене топлива, применяемого для настенных газовых котлов. Поэтому,
          | если вы ищете качественное и надежное устройство для отопления вашего дома, лучшего варианта как по цене,
          | так и по эффективности работы просто не найти. Но это касается только  качественных котлов, имеющих все
          | необходимые сертификаты, а также гарантийные обязательства от производителя.
        p
          | Компания ACV занимается разработкой,производством и продажей бытовых и промышленных систем обогрева и оборудованиядля
          | горячего водоснабжения с 1922. Именно в этой компании разработали концепцию Бак-в-Баке, которая используется в
          | большинстве оборудования ACV по нагреву санитарной воды и обеспечивает непревзойденные эксплуатационные показатели.
          | Сегодня ACV предлагает современное оборудование, способное удовлетворить любую потребность в стабильном снабжении
          | горячей водой. Благодаря передовым эксклюзивным технологиям котлы, горелки и бойлеры ACV надежны, эффективны,
          | экономичны и безвредны для окружающей среды.

include ./layout/footer.pug