extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Сертификаты'])
        h1 Сертификаты
    .bg-gray
      .row.content-page
        .column.small-12.content-page__aside
          .right-menu(data-toggler='.is-show')#topics
            .right-menu__button(data-toggle='topics') Информация
            .right-menu__title Информация
            ul.right-menu__links
              li: a(href='#') Оплата и доставка
              li: a(href='#') Гарантия на товары
              li: a(href='#') Сервисные центры
              li: a(href='#') Договор оферты
              li: a(href='#').is-current Сертификаты
        .column.small-12.content-page__main
          .row.small-up-1.medium-up-3.certificates-list
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-01.png')
                .certificate__item-title
                  != 'Сертификат Luxor '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-02.png')
                .certificate__item-title
                  != 'Сертификат Global '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-03.png')
                .certificate__item-title
                  != 'Сертификат Luxor '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-04.png')
                .certificate__item-title
                  != 'Сертификат Watts '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-05.png')
                .certificate__item-title
                  != 'Сертификат IPS '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-06.png')
                .certificate__item-title
                  != 'Сертификат Tерем '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-07.png')
                .certificate__item-title
                  != 'Сертификат Lamborghini '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-08.png')
                .certificate__item-title
                  != 'Сертификат Meibes '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-09.png')
                .certificate__item-title
                  != 'Сертификат Korado '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-10.png')
                .certificate__item-title
                  != 'Сертификат Buderus '
                  span »
            .column
              a.certificate(href='/img/cert-12.png' data-fancybox="gallery")
                .certificate__item-img
                  img(src='/img/cert-11.png')
                .certificate__item-title
                  != 'Сертификат Baxi '
                  span »
            .column
              a.certificate(href='/img/cert-12.png')
                .certificate__item-img
                  img(src='/img/cert-12.png')
                .certificate__item-title
                  != 'Сертификат Rehau '
                  span »
          .pagination-block
            a(href='#').load-more
              span Показать еще
include ./layout/footer.pug