extends ./layout/base.pug
include ./layout/mixin.pug
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Сравнение товаров'])
        h1 Сравнение товаров
    .bg-gray
      include ./layout/component/compare/compare.pug

include ./layout/footer.pug