extends ./layout/base
include ./layout/mixin.pug
include ./layout/header.pug
block content
  .row
    .columns
      +breadcrumbs(['Контакты'])
  .contact-page
    .contact-page__find-us
      .contact-page__find-us-title
        span Как нас найти?
        br
        | Посмотреть схему проезда »
      a(href='#').is-active Пешком
      a(href='#') На авто
    .contact-page__map
      //WARNING!  щирину карты на 100%, высоту тоже 100%
      //img(src='/img/map.tmp.png')
      .map <script data-skip-moving="false" type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=wSzrCC0PRlVCoOxLm3346MY2Xd_HPMMQ&width=100%&height=100%"></script>
      .row.contact-page__info.small-collapse
        .column.medium-6.large-4.contact-page__info-content
          div
            a(href='#').show-contacts-panel.js-show-contacts-panel
            h1 Контакты
            .contact-page__phone-block
              a(href='tel:+74952669962') +7 (495) 266-99-62
              br
              a(href='tel:+79037223158') +7 (903) 722-31-58
            .contact-page__email-block
              a(href='mailto:info@comtermo.ru') info@comtermo.ru
            .contact-page__section-title Адрес пункта выдачи
            | 117405, г. Москва, м. Аннино,
            br
            | ул. Дорожная, д. 54, к. 5, офис 307,
            br
            | (Таможенный терминал "Чертановский")
            .contact-page__section-title График работы
            | Пн-Пт: 08:00 — 19:00

include ./layout/footer.pug