extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Избранные товары'])
        h1 Избранные товары
    .row
      .columns
        form.send-favorite
          input(type='email' placeholder='Введите email')
          button(type='submit').button-orange ОТПРАВИТЬ СПИСОК НА ПОЧТУ
    .bg-gray
      .row.small-collapse.large-uncollapse
        .column.small-12.large-9
          include ./layout/block/catalog.goods-row.pug
          .row.favorite-list.small-up-1
            .column
              +goods-row-favorite(goods_list.good_01)
            .column
              +goods-row-favorite(goods_list.good_02)
            .column
              +goods-row-favorite(goods_list.good_03)
        .column.show-for-large.large-3
          include ./layout/block/also-buy.pug

include ./layout/footer.pug