extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row.collapse
      .main-menu.in-home
        ul.main-menu__main-category
          li.category-color-1
            a(href='#') Сантехника
            ul.main-menu__child
              li
                a(href='#') Электрические накопительные
                ul.main-menu__child
                  li
                    a(href='#') Электрические накопительные
                      span (10)
                  li
                    a(href='#') Электрические проточные
                      span (10)
                  li
                    a(href='#') Буферные емкости
                      span (10)
                  li
                    a(href='#') Газовые бойлеры
                      span (10)
                  li
                    a(href='#') Газовые колонки
                      span (10)
                  li
                    a(href='#') Косвенные бойлеры
                      span (10)
                  li
                    a(href='#') Комплектующие для водонагревателей
                      span (10)
              li
                a(href='#') Электрические проточные
              li
                a(href='#') Буферные емкости
              li
                a(href='#') Газовые бойлеры
              li
                a(href='#') Газовые колонки
              li
                a(href='#') Косвенные бойлеры
              li
                a(href='#') Комплектующие для водонагревателей
            li.category-color-2
              a(href='#') Водонагреватели
              ul.main-menu__child
                li
                  a(href='#') Электрические накопительные
                li
                  a(href='#') Электрические проточные
                li
                  a(href='#') Буферные емкости
                li
                  a(href='#') Газовые бойлеры
                li
                  a(href='#') Газовые колонки
                li
                  a(href='#') Косвенные бойлеры
                li
                  a(href='#') Комплектующие для водонагревателей
          li.category-color-3.is-empty: a(href='#') Насосы
          li.category-color-4
            a(href='#') Котлы
            ul.main-menu__child
              li
                a(href='#') Электрические накопительные
                ul.main-menu__child
                  li
                    a(href='#') Электрические накопительные
                      span (10)
                  li
                    a(href='#') Электрические проточные
                      span (10)
                  li
                    a(href='#') Буферные емкости
                      span (10)
                  li
                    a(href='#') Газовые бойлеры
                      span (10)
                  li
                    a(href='#') Газовые колонки
                      span (10)
                  li
                    a(href='#') Косвенные бойлеры
                      span (10)
                  li
                    a(href='#') Комплектующие для водонагревателей
                      span (10)
              li
                a(href='#') Электрические проточные
              li
                a(href='#') Буферные емкости
              li
                a(href='#') Газовые бойлеры
              li
                a(href='#') Газовые колонки
              li
                a(href='#') Косвенные бойлеры
              li
                a(href='#') Комплектующие для водонагревателей
          li.category-color-5.is-empty: a(href='#') Теплый пол
          li.category-color-6.is-empty: a(href='#') Запорная арматура
          li.category-color-7.is-empty: a(href='#') Термостатическая арматура
          li.category-color-8.is-empty: a(href='#') Предохранительная арматура
          li.category-color-9.is-empty: a(href='#') Измерительная арматура
          li.category-color-10.is-empty: a(href='#') Трубы и фитинги
          li.category-color-11.is-empty: a(href='#') Фильтры
          li.category-color-11.is-empty: a(href='#') Котельное оборудование
      .slider-main
        .slider-main__items
          .main-slide
            img(src='/img/slide-01.png')
            .main-slide__content
              .main-slide__date с 1 сентября по 15 декабря 2015
              .main-slide__title Розыгрыш призов от «Protherm»
              .main-slide__subtext
                | Купите отопительный котел Protherm.
                | призов Protherm.
                | Заполните анкету. Участвуйте в розыгрыше
              a(href='#').main-slide__readmore Подробнее об акции
                span.ico-wa
          .main-slide
            img(src='/img/slide-01.png')
            .main-slide__content
              .main-slide__date с 1 сентября по 15 декабря 2015
              .main-slide__title Розыгрыш призов от «Protherm»
              .main-slide__subtext
                | Купите отопительный котел Protherm.
                | призов Protherm.
                | Заполните анкету. Участвуйте в розыгрыше
              a(href='#').main-slide__readmore Подробнее об акции
                span.ico-wa
          .main-slide
            img(src='/img/slide-01.png')
            .main-slide__content
              .main-slide__date с 1 сентября по 15 декабря 2015
              .main-slide__title Розыгрыш призов от «Protherm»
              .main-slide__subtext
                | Купите отопительный котел Protherm.
                | призов Protherm.
                | Заполните анкету. Участвуйте в розыгрыше
              a(href='#').main-slide__readmore Подробнее об акции
                span.ico-wa
    .row.advantages
      .column.advantages__item
        .advantages__item-img
          img(src='/img/plus-01.png')
        span Большой ассортимент и самые привлекательные цены на рынке
      .column.advantages__item
        .advantages__item-img
          img(src='/img/plus-02.png')
        span Гибкая система и стоимость доставки (от&nbsp;30&nbsp;000 возим бесплатно)
      .column.advantages__item
        .advantages__item-img
          img(src='/img/plus-03.png')
        span Ответственный и индивидуальный подход к каждому клиенту
    include ./layout/block/catalog.category-list.pug
    .row
      .columns
        .brand-list
          .brand-list-control
            .brand-next
            .brand-prev
          .brand-slider.js-brand-slider
            a.brand-slider__item(href='#')
              img(src='/img/baxi-logo.png').brand-slider__img-default
              img(src='/img/baxi-logo.png').brand-slider__img-hover
            a.brand-slider__item(href='#')
              img(src='/img/broen-logo.png').brand-slider__img-default
              img(src='/img/broen-logo.png').brand-slider__img-hover
            a.brand-slider__item(href='#')
              img(src='/img/purmo-logo.png').brand-slider__img-default
              img(src='/img/purmo-logo.png').brand-slider__img-hover
            a.brand-slider__item(href='#')
              img(src='/img/br6.png').brand-slider__img-default
              img(src='/img/br6.png').brand-slider__img-hover
            a.brand-slider__item(href='#')
              img(src='/img/vaillant-logo.png').brand-slider__img-default
              img(src='/img/vaillant-logo.png').brand-slider__img-hover
          a.brand-list__see-all(href='#') Смотреть все
    include ./layout/block/catalog.goods.pug
    include ./layout/block/catalog.goods-slider.pug
    .home-tabs
      .row
        .columns
          ul.tabs(data-tabs)#home-tabs
            li.tabs-title.is-active: a(href='#hits') Хиты продаж
            li.tabs-title: a(href='#sale') Распродажа
            li.tabs-title: a(href='#sales') Акции
          .tabs-content(data-tabs-content="home-tabs")
            .tabs-panel.is-active#hits
              +goods-slider(goods_list)
            .tabs-panel#sale
              +goods-slider(goods_list)
            .tabs-panel#sales
              +goods-slider(goods_list)
    .row.collapse
      .columns
        +goods-slider(goods_list, 'Рекомендуем')
    .row
      .column.small-12.large-9
        .section-heading Статьи
        section.last-article-list
          article.last-article
            a(href='#').last-article__title Автоматика котлов
            .last-article__anons
              | Котел для отопления загородного дома обязательно должен иметь надежную систему безопасности.
              | Тепловое оборудование относится к классу опасных устройств, поэтому никогда не будет лишним установить
              | надежную автоматизированную систему контроля.
          article.last-article
            a(href='#').last-article__title Жидкотопливные котлы
            .last-article__anons
              | Жидкотопливные котлы могут быть как одноконтурными, то есть предназначенными только для отопления
              | помещения, так и двухконтурными, которые вдобавок снабжают здание горячей водой. Установка
              | жидкотопливных котлов требует наличия отдельного помещения (котельной) с дымоходом и вытяжкой.
              | Поэтому перед монтажом оборудования обязательно нужно составить проект по установке, чтобы учесть все нюансы.
          article.last-article
            a(href='#').last-article__title Котлы Protherm
            .last-article__anons
              | Protherm газовые котлы отличаются высоким качеством и надежностью, ведь фирма Protherm это настоящие
              | специалисты, которые вот уже больше десяти лет занимаются производством газовых и электрических котлов.
              | Производство настенных protherm газовых котлов было запущено еще в 1990х годах, а сегодня компания уже
              | предлагает очень широкий ассортимент различного отопительного оборудования.
          .section-anons
            .section-anons__content
              .section-anons__heading Насосы «Wilo»
              .section-anons__text Теперь по еще более привлекательной цене.
              a(href='#').section-anons__button Подробнее
            .section-anons__img
              img(src='/img/section-anons.png')
          article.last-article
            a(href='#').last-article__title Автоматика котлов
            .last-article__anons
              | Котел для отопления загородного дома обязательно должен иметь надежную систему безопасности.
              | Тепловое оборудование относится к классу опасных устройств, поэтому никогда не будет лишним установить
              | надежную автоматизированную систему контроля.
          article.last-article
            a(href='#').last-article__title Жидкотопливные котлы
            .last-article__anons
              | Жидкотопливные котлы могут быть как одноконтурными, то есть предназначенными только для отопления
              | помещения, так и двухконтурными, которые вдобавок снабжают здание горячей водой. Установка
              | жидкотопливных котлов требует наличия отдельного помещения (котельной) с дымоходом и вытяжкой.
              | Поэтому перед монтажом оборудования обязательно нужно составить проект по установке, чтобы учесть все нюансы.
          article.last-article
            a(href='#').last-article__title Котлы Protherm
            .last-article__anons
              | Protherm газовые котлы отличаются высоким качеством и надежностью, ведь фирма Protherm это настоящие
              | специалисты, которые вот уже больше десяти лет занимаются производством газовых и электрических котлов.
              | Производство настенных protherm газовых котлов было запущено еще в 1990х годах, а сегодня компания уже
              | предлагает очень широкий ассортимент различного отопительного оборудования.
          a(href='/articles.html').go2section Все СТАТЬИ
      section.column.small-12.large-3.last-news-list
        .section-heading Новости
        .row
          article.last-news
            .last-news__pubdate 27 декабря 2015
            a(href='#').last-news__title Новый год
            .last-news__anons Сердечно поздравляем вас с Новым Годом и Рождеством. Напоминаем что последний рабочий день: 30 декабря
          article.last-news
            .last-news__pubdate 27 декабря 2015
            a(href='#').last-news__title Новый год
            .last-news__anons Сердечно поздравляем вас с Новым Годом и Рождеством. Напоминаем что последний рабочий день: 30 декабря
          article.last-news
            .last-news__pubdate 27 декабря 2015
            a(href='#').last-news__title Новый год
            .last-news__anons Сердечно поздравляем вас с Новым Годом и Рождеством. Напоминаем что последний рабочий день: 30 декабря
          article.last-news
            .last-news__pubdate 27 декабря 2015
            a(href='#').last-news__title Новый год
            .last-news__anons Сердечно поздравляем вас с Новым Годом и Рождеством. Напоминаем что последний рабочий день: 30 декабря
        a(href='/news.html').go2section Все Новости


include ./layout/footer.pug