extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Новости'])
        h1 Новости
    .bg-gray
      .row.content-page
        .column.small-12.content-page__aside
          .date-filter.js-datepicker
          a(href='#').reset-datepicker.js-reset-datepicker Все новости
        .column.small-12.content-page__main
          .news-list
            .news
              .news__date 16.01.2016
              a(href='#').news__title Ученые из РФ и Японии создали модель для реконструкции древних океанов
              .news__anons
                | Новосибирские ученые смогли подтвердить ее на десятках объектов в разных регионах Евразии
                | (в Алтае-Саянской области, восточном Казахстане, на Тянь-Шане и Дальнем Востоке, в Прибайкалье и
                | Забайкалье и т.д.). Также с помощью данного методы российские ученые изучили развитие древних
                | океанов - Палеопацифика и Япетуса.
              a(href='#').button-orange ПОДРОБНЕЕ
            .news
              .news__date 16.01.2016
              a(href='#').news__title Ученые из РФ и Японии создали модель для реконструкции древних океанов
              .news__anons
                | Новосибирские ученые смогли подтвердить ее на десятках объектов в разных регионах Евразии
                | (в Алтае-Саянской области, восточном Казахстане, на Тянь-Шане и Дальнем Востоке, в Прибайкалье и
                | Забайкалье и т.д.). Также с помощью данного методы российские ученые изучили развитие древних
                | океанов - Палеопацифика и Япетуса.
              a(href='#').button-orange ПОДРОБНЕЕ
            .news
              .news__date 16.01.2016
              a(href='#').news__title Ученые из РФ и Японии создали модель для реконструкции древних океанов
              .news__anons
                | Новосибирские ученые смогли подтвердить ее на десятках объектов в разных регионах Евразии
                | (в Алтае-Саянской области, восточном Казахстане, на Тянь-Шане и Дальнем Востоке, в Прибайкалье и
                | Забайкалье и т.д.). Также с помощью данного методы российские ученые изучили развитие древних
                | океанов - Палеопацифика и Япетуса.
              a(href='#').button-orange ПОДРОБНЕЕ
            .news
              .news__date 16.01.2016
              a(href='#').news__title Ученые из РФ и Японии создали модель для реконструкции древних океанов
              .news__anons
                | Новосибирские ученые смогли подтвердить ее на десятках объектов в разных регионах Евразии
                | (в Алтае-Саянской области, восточном Казахстане, на Тянь-Шане и Дальнем Востоке, в Прибайкалье и
                | Забайкалье и т.д.). Также с помощью данного методы российские ученые изучили развитие древних
                | океанов - Палеопацифика и Япетуса.
              a(href='#').button-orange ПОДРОБНЕЕ
            .news
              .news__date 16.01.2016
              a(href='#').news__title Ученые из РФ и Японии создали модель для реконструкции древних океанов
              .news__anons
                | Новосибирские ученые смогли подтвердить ее на десятках объектов в разных регионах Евразии
                | (в Алтае-Саянской области, восточном Казахстане, на Тянь-Шане и Дальнем Востоке, в Прибайкалье и
                | Забайкалье и т.д.). Также с помощью данного методы российские ученые изучили развитие древних
                | океанов - Палеопацифика и Япетуса.
              a(href='#').button-orange ПОДРОБНЕЕ
          .pagination-block
            a(href='#').load-more
              span Показать еще
            include ./layout/block/pagintaion.pug
include ./layout/footer.pug