extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Новости', 'Ученые из РФ и Японии создали модель для реконструкции древних океанов'])
        h1 Ученые из РФ и Японии создали модель для реконструкции древних океанов
    .bg-gray
      .row.content-page
        .column.small-12.news-page.content-page__main
          .news-date 16.01.2016
          p Ученые из РФ и Японии создали модель для реконструкции древних океанов
          p Ученые из РФ и Японии создали модель для реконструкции древних океанов
          p Ученые из РФ и Японии создали модель для реконструкции древних океанов
          p Ученые из РФ и Японии создали модель для реконструкции древних океанов
          p Ученые из РФ и Японии создали модель для реконструкции древних океанов
          p Ученые из РФ и Японии создали модель для реконструкции древних океанов
        .column.show-for-large.content-page__aside
          .date-filter.js-datepicker
          a(href='#').reset-datepicker.js-reset-datepicker Все новости
include ./layout/footer.pug