extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Оплата и доставка'])
        h1 Оплата и доставка
    .bg-gray
      .row.content-page
        .column.small-12.content-page__aside
          .right-menu(data-toggler='.is-show')#topics
            .right-menu__button(data-toggle='topics') Информация
            .right-menu__title Информация
            ul.right-menu__links
              li: a(href='#') Оплата и доставка
              li: a(href='#').is-current Гарантия на товары
              li: a(href='#') Сервисные центры
              li: a(href='#') Договор оферты
              li: a(href='#') Сертификаты
        .column.small-12.content-page__main
          .payment-block
            .payment-block__header
              .payment-block__header-text
                .ico-payment-big
                br
                | Способы<br/>оплаты
            .payment-block__content
              .accordion(data-accordion data-allow-all-closed='true')
                div(data-accordion-item)
                  a(href='#').accordion-title Курьеру при получении заказа (только при доставке по Москве и Московской области)
                  .accordion-content(data-tab-content)
                    ul
                      li
                        b Наличный расчет
                        br
                        span Оплата заказа происходит наличными курьеру при получении.
                      li
                        b Банковская карта
                        br
                        span
                          | Данная услуга доступна при доставке заказа курьерами нашей компании.  Для выбора данного способа
                          | оплаты необходимо сообщить об этом менеджеру, либо выбрать соответствующий пункт при оформлении
                          | заказа через корзину (это нужно для того, чтобы у курьера, доставляющего ваш заказ, при себе
                          | имелся POS-терминал для приема банковских карт).
                          | Курьер имеет право попросить предоставить документ, удостоверяющий личность клиента.
                          | Поддерживаются платежные системы VISA, MasterCard.
                div(data-accordion-item)
                  a(href='#').accordion-title В пункте самовывоза
                  .accordion-content(data-tab-content)
                    | В пункте самовывоза
                div(data-accordion-item)
                  a(href='#').accordion-title Безналичная оплата
                  .accordion-content(data-tab-content)
                    | Безналичная оплата
                div(data-accordion-item)
                  a(href='#').accordion-title Возврат денежных средств
                  .accordion-content(data-tab-content)
                    | Возврат денежных средств
          .delivery-block
            .delivery-block__header
              .delivery-block__header-text
                .ico-delivery-big
                br
                | Доставка
            .delivery-block__content
              h2 Условия доставки:
              ul
                li
                  | Доставка заказа курьером осуществляется исключительно до подъезда. Разгрузка и подъём на нужный этаж доставленного товара осуществляется покупателем.
                li
                  | При сумме заказа более 200 000 рублей отгрузка товара осуществляется при 100% предоплате.
                li Доставка осуществляется исключительно по рабочим дням.
                li
                  | Обратите внимание! Сотрудник службы доставки не является техническим специалистом  и следовательно
                  | давать квалифицированные консультации по работе и монтажу изделия не может.
              h2 Время доставки:
              p
                | с 9-00 до 18-00 (пн - пт) <br/>
                | с 18-00 до 23-00 (пн - пт)
              h2 Способы доставки:
              .accordion(data-accordion data-allow-all-closed='true')
                div(data-accordion-item)
                  a(href='#').accordion-title Доставка по Москве (в&nbsp;пределах МКАД)
                  .accordion-content(data-tab-content)
                    ul
                      li
                        != 'У нас возможен'
                        b самовывоз
                        br
                        br
                      li
                        != ' При сумме заказа до '
                        b 2 000 руб.
                        != ' - только'
                        b самовывоз
                        br
                        br
                      li
                        != ' При сумме заказа до '
                        b 30 000 руб. – 500 руб.
                        != ' (для региональных покупателей - до транспортной компании)'
                        br
                        br
                      li
                        != ' При сумме заказа свыше '
                        b 30 000 руб.
                        != ' (в пределах МКАД) - '
                        b бесплатно
                        br
                        br
                div(data-accordion-item)
                  a(href='#').accordion-title Доставка за пределами МКАД
                  .accordion-content(data-tab-content)
                    | Безналичная оплата
                div(data-accordion-item)
                  a(href='#').accordion-title Доставка в регионы
                  .accordion-content(data-tab-content)
                    | Возврат денежных средств


include ./layout/footer.pug