extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
include ./layout/block/catalog.goods.pug
include ./layout/block/catalog.goods-slider.pug

block content
  -
    var goods_list = {good_01: {
    img: 'goods-02.png',
    sku: '152566',
    title: 'Труба Rehau RAUTITAN flex 16х2.2',
    price: '152566 руб.',
    oldprice: '',
    label: 'hit'
    },
    good_02: {
    img: 'goods-02.png',
    sku: '152566',
    title: 'Труба Rehau RAUTITAN flex 16х2.2',
    price: '----- руб.',
    oldprice: '',
    label: 'hit'
    },
    good_03: {
    img: 'goods-02.png',
    sku: '152566',
    title: 'Труба Rehau RAUTITAN flex 16х2.2',
    price: '----- руб.',
    oldprice: '',
    label: 'hit'
    },
    good_04:{
    img: 'goods-02.png',
    sku: '152566',
    title: 'Труба Rehau RAUTITAN flex 16х2.2',
    price: '----- руб.',
    oldprice: '',
    label: 'hit'
    }}
  .row
    .columns
      +breadcrumbs(['Каталог', 'Котлы', 'Газовые настенные котлы', 'Газовый настенный котел Buderus Logamax U042 K'])
      h1 Газовый настенный котел Buderus Logamax U042 K
  .product-page(itemscope itemtype='http://schema.org/Product')
    .product-page__top
      .row
        meta(itemprop='name' content='Газовый настенный котел Buderus Logamax U042 K')
        .product-page__sku
          != 'Артикул: '
          span(itemprop='sku') 152566
        .product-page__thumb
          .product-page__thumb-main
            //  TODO: Сделать модальную галерею
            .js-product-thumb
              a.product-page__thumb-item(href='#'): img(itemprop="image" src='/img/product-01.png')
              a.product-page__thumb-item(href='#'): img(itemprop="image" src='/img/product-01.png')
              a.product-page__thumb-item(href='#'): img(itemprop="image" src='/img/product-01.png')
              a.product-page__thumb-item(href='#'): img(itemprop="image" src='/img/product-01.png')
              a.product-page__thumb-item(href='#'): img(itemprop="image" src='/img/product-01.png')
          .product-page__thumbnails
            .js-thumbnails-slider#product-page__thumbnails
              a.product-page__thumbnails-item(href data-slide-index="0"): img(src='/img/product-thumb-1.png')
              a.product-page__thumbnails-item(href data-slide-index="1"): img(src='/img/product-thumb-2.png')
              a.product-page__thumbnails-item(href data-slide-index="2"): img(src='/img/product-thumb-3.png')
              a.product-page__thumbnails-item(href data-slide-index="3"): img(src='/img/product-thumb-4.png')
              a.product-page__thumbnails-item(href data-slide-index="4"): img(src='/img/product-thumb-4.png')
          a.add2favorite(data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="В избранное")
          .product-page__labels.labels
            .label-sale Акция
        .product-page__main-option
          a.add2compare
            span.ico-compare
            | В сравнение
          .parameters
            .parameters__title Основные характеристики:
            .parameters__item
              .parameter-name Мощность, кВт
              .parameter-value 20,0
            .parameters__item
              .parameter-name Объем расширительного бака, л
              .parameter-value 8
            .parameters__item
              .parameter-name Приготовление воды для ГВС
              .parameter-value встроено
            .parameters__item
              .parameter-name Максимальное давление в контуре ГВС, бар
              .parameter-value 10
            .parameters__item
              .parameter-name Подключение дымохода, мм
              .parameter-value 60/100
            .parameters__item
              .parameter-name Электрическая потребляемая мощность, Вт
              .parameter-value 130
            .parameters__item
              .parameter-name Габариты (ВхШхГ), мм
              .parameter-value 400х299х700
            .parameters__item
              .parameter-name Вес, кг
              .parameter-value 32
          .hashtags
            a(href='#') #Котлы
            a(href='#') #Двухконтурные
            a(href='#') #Котлы Ariston
          a.product-page__insale(href='#') Товар участвует в акции «Распродажа котлов»
        .product-page__buy(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
          .product-page__price
            != 'Цена: '
            span.old-price 32 456 руб.
            br
            meta(itemprop='priceCurrency' content='RUB')
            span.current-price(itemprop='price' content='29692') 29692 руб.
          .product-page__count
            span Количество:
            .ui-counter
              a.ui-counter__minus
              .ui-counter__field
                input(type='text' value='100')
              a.ui-counter__plus
          a(href='#').product-page__add2cart Купить
          .product-page__rating(itemprop='aggregateRating' itemscope itemtype='http://schema.org/AggregateRating')
            .rate
              .star-rate(itemprop='ratingValue' content='4.1')
                div(style='width: 80%')
            a(href='#' data-target='#product-tab-3').product-page__rating-link.js-show-review-tab
              | Смотреть отзывы (
              span(itemprop='reviewCount') 67
              | )
          .product-page__availability.is-stock
            span(itemprop='availability' href='http://schema.org/InStock') В наличии
          .product-page__delivery
            | Доставка
            span 3-5 дн.
            br
            | Стоиомсть доставки:
            span 300 руб.
          a.add2compare
            span.ico-compare
            | В сравнение
    .product-page__center
      .row
        .product-page__description
          .product-page__tabs(id='product-tabs')
            .tabs-title.is-active
              a(href="#product-tab-1" aria-selected="true") Описание
            .tabs-title
              a(href="#product-tab-2" aria-selected="true") Техническая информация
            .tabs-title
              a(href="#product-tab-3" aria-selected="true") Обсуждение
            .tabs-title
              a(href="#product-tab-4" aria-selected="true") Оплата и доставка
          .product-page__info(data-tabs-content="product-tabs")
            .product-page__info-section.is-active(id='product-tab-1' data-accordion-item)
              a(href='#').product-page__accordion-title Описание
              .product-page__accordion-content(data-tab-content)
                h2 Полная информация:
                p Настенный газовый котел Buderus Logamax U042 - комбинированный циркуляционный водонагреватель с забором воздуха для горения из помещения, со встроенной проточной системой приготовления воды для горячего водоснабжения.
                p Настенный газовый котел Buderus Logamax U042 имеет широкий диапазон модулирования мощности от 8,9 до 24 кВт при приготовлении горячей воды и отоплении.
                p Котлы обладают широкими возможностями применения, особенно в жилой сфере, удобны для поэтажного отопления в коттеджах на одну или несколько семей. Высокий коэффициент полезного действия водонагревателя 90-92%.
                p Logamax U042 компактны, имеют небольшой вес. Оснащены предохранительным оборудованием (расширительный бак, насос, предохранительный клапан, устройство контроля количества воды, устройства регулирования и безопасности, специальная косынка для трубок датчика обратной тяги позволяет избегать отключений котла в зимний период). Котлы Buderus имеют высокую степень комфорта при приготовлении горячей воды: быстрая адаптация к требуемому количеству горячей воды при помощи встроенной турбины.
                br
                .like-h2 Основные характеристики:
                table
                  tr
                    td Мощность, кВт:
                    td: b 25,0
                  tr
                    td Расход газа, м3/час:
                    td: b 2,84
                  tr
                    td Диаметр дымохода:
                    td: b 60/100 мм
                  tr
                    td Диаметр подключения газопровода:
                    td: b 1/2"
                  tr
                    td Диаметр подключения контура отопления:
                    td: b 3/4"
                  tr
                    td Диаметр подключения контура ГВС:
                    td: b 3/4"
                  tr
                    td Рабочее давление в системе отопления, бар:
                    td: b 0,5-3,0
                  tr
                    td Рабочее давление в системе ГВС, бар:
                    td: b 0,5-10,0
                  tr
                    td Габариты (ВхШхГ), мм:
                    td: b 800x440x338
                br
                .like-h2 Файлы для загрузки:
                .file-list
                  a.file-link.column(href='#') Технические характеристики.pdf
                  a.file-link.column(href='#') Инструкция по сборке.pdf
                  a.file-link.column(href='#') Технические характеристики.pdf
            .product-page__info-section(id='product-tab-2' data-accordion-item)
              a(href='#').product-page__accordion-title Техническая информация
              .product-page__accordion-content(data-tab-content)
                | Техническая информация
            .product-page__info-section(id='product-tab-3' data-accordion-item)
              a(href='#').product-page__accordion-title  Обсуждение
              .product-page__accordion-content(data-tab-content data-link-target='reviews')
                include ./layout/block/reviews.pug
                +rate-block('4,1', 67, [42, 9, 12, 3, 1], 42)
                .review-list
                  +review('Антон', '14.12.2015', 3, 'Отличный котел Российской сборки, газовый котел от дочернего Боша! Бесшумный, греющий воду для ВАННОЙ, реально экономящий по газу.')
                  +review('Светлана', '14.12.2015', 4, 'Наверное не сразу понял как настроить при первом включении дымоход...) там это необходимо дополнительно включать .и пока переносили и вешали заметили угловатости нашей сборки )) хотя на внешний вид этого нечего не видно. смотрится очень даже прилично и достойно!!')
                  +review('Антон', '14.12.2015', 4, 'Отличный котел Российской сборки, газовый котел от дочернего Боша! Бесшумный, греющий воду для ВАННОЙ, реально экономящий по газу.')
                  +review('Антон', '14.12.2015', 1, 'Отличный котел Российской сборки, газовый котел от дочернего Боша! Бесшумный, греющий воду для ВАННОЙ, реально экономящий по газу.')
                  +review('Антон', '14.12.2015', 5, 'Отличный котел Российской сборки, газовый котел от дочернего Боша! Бесшумный, греющий воду для ВАННОЙ, реально экономящий по газу.')
                  +review('Антон', '14.12.2015', 2, 'Отличный котел Российской сборки, газовый котел от дочернего Боша! Бесшумный, греющий воду для ВАННОЙ, реально экономящий по газу.')
                include ./layout/block/pagintaion.pug
            .product-page__info-section(id='product-tab-4' data-accordion-item)
              a(href='#').product-page__accordion-title  Оплата и доставка
              .product-page__accordion-content(data-tab-content)
                | Оплата и доставка
        .product-page__related
          +goods-slider(goods_list, 'Сопутствующие товары', 'js-related-slider')
    .product-page__footer
      .row
        .product-page__viewed
          +goods-slider(goods_list, 'Вы недавно смотрели')
include ./layout/footer.pug