extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Акция', 'Акция «Ликвидация склада»'])
        h1 Акция «Ликвидация склада»
    //    WARNING: ширина картинок для анонса 640px
    .sale-page
      .sale-anons(style='background-image: url(/img/sale-bg-1.png')
        .sale-page__content
          .sale-anons__date с 20 по 31 января 2016
          .sale-anons__title
            | Акция
            | «Ликвидация склада»
          .sale-anons__text
            | Часть товаров из нашего ассортимента по еще более привлекательным ценам. Количество товаров ограничено.
          a(href='#').button-orange ТОВАРЫ УЧАСТВУЮЩИЕ В АКЦИИ
      .row
        .sale-page__content
          h2 Условия акции:
          br
          p Уважаемые покупатели, мы рады сообщить вам о начале беспрецедентной акции! Теперь часть товаров из нашего ассортимента доступна по еще более привлекательной цене. Спешите, количество товаров органиченно!
          p Чтобы принять участие в акции досттаочно найти на сайте товары участвующие в акции.

include ./layout/footer.pug