extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.pug
  block content
    .row
      .columns
        +breadcrumbs(['Акции'])
        h1 Акции
    //    WARNING: ширина картинок для анонса 640px
    .row
      .columns.small-12
        .sales.row.small-up-1.medium-up-2.large-up-3
          .column
            .sale-tile
              .sale-tile__header
                .sale-tile__date 21 января — 3 февраля
                .sale-tile__title REHAU RAUTITAN - гарант надежности
              .sale-tile__content
                .sale-tile__img
                  img(src='/img/sales-1.png')
                .sale-tile__anons
                  | Трубопроводные системы RAUTITAN стали образцом надежности и качества по всему миру благодаря
                  | соединению на надвижной гильзе. Новое поколение известной трубопроводной системы с полимерной
                  a(href='#').button-orange ПОДРОБНЕЕ
          .column
            .sale-tile
              .sale-tile__header
                .sale-tile__date 21 января — 3 февраля
                .sale-tile__title Акция «Ликвидация склада»
              .sale-tile__content
                .sale-tile__img
                  img(src='/img/sales-2.png')
                .sale-tile__anons
                  | Трубопроводные системы RAUTITAN стали образцом надежности и качества по всему миру благодаря
                  | соединению на надвижной гильзе. Новое поколение известной трубопроводной системы с полимерной
                  a(href='#').button-orange ПОДРОБНЕЕ
          .column
            .sale-tile
              .sale-tile__header
                .sale-tile__date 21 января — 3 февраля
                .sale-tile__title Акция «Ликвидация склада»
              .sale-tile__content
                .sale-tile__img
                  img(src='/img/sales-2.png')
                .sale-tile__anons
                  | Трубопроводные системы RAUTITAN стали образцом надежности и качества по всему миру благодаря
                  | соединению на надвижной гильзе. Новое поколение известной трубопроводной системы с полимерной
                  a(href='#').button-orange ПОДРОБНЕЕ
          .column
            .sale-tile
              .sale-tile__header
                .sale-tile__date 21 января — 3 февраля
                .sale-tile__title REHAU RAUTITAN - гарант надежности
              .sale-tile__content
                .sale-tile__img
                  img(src='/img/sales-1.png')
                .sale-tile__anons
                  | Трубопроводные системы RAUTITAN стали образцом надежности и качества по всему миру благодаря
                  | соединению на надвижной гильзе. Новое поколение известной трубопроводной системы с полимерной
                  a(href='#').button-orange ПОДРОБНЕЕ
          .column
            .sale-tile
              .sale-tile__header
                .sale-tile__date 21 января — 3 февраля
                .sale-tile__title Акция «Ликвидация склада»
              .sale-tile__content
                .sale-tile__img
                  img(src='/img/sales-2.png')
                .sale-tile__anons
                  | Трубопроводные системы RAUTITAN стали образцом надежности и качества по всему миру благодаря
                  | соединению на надвижной гильзе. Новое поколение известной трубопроводной системы с полимерной
                  a(href='#').button-orange ПОДРОБНЕЕ
          .column
            .sale-tile
              .sale-tile__header
                .sale-tile__date 21 января — 3 февраля
                .sale-tile__title Медные фитинги «Viega»
              .sale-tile__content
                .sale-tile__img
                  img(src='/img/sales-3.png')
                .sale-tile__anons
                  | Трубопроводные системы RAUTITAN стали образцом надежности и качества по всему миру благодаря
                  | соединению на надвижной гильзе. Новое поколение известной трубопроводной системы с полимерной
                  a(href='#').button-orange ПОДРОБНЕЕ
        include ./layout/block/pagintaion.pug
        .row
          .columns
            h2 Акции компании
            p
              | Мы заинтересованы в увеличении рынка сбыта и расширении географии поставок, в связи с чем наша компания предлагает выгодные условия сотрудничества для своих партнеров. Будем рады поставить продукцию на выгодных условиях фирмам, снабжающим строительные организации в сфере загородного домостроения. Готовы рассмотреть предложения сотрудничества от компаний обеспечивающих государственный заказ, муниципальные объекты, сферу ЖКХ. Также нас интересует работа на постоянной основе с торговыми и монтажными организациями в регионах.

include ./layout/footer.pug