extends ./layout/base.pug
include ./layout/mixin
include ./layout/header.cart.pug
  block content
    .row.align-center
      .columns.large-9
        .order-thanks
          span.success-logo
          a(href='#').button-print Распечатать страницу
          .order-thanks__heading Спасибо за заказ!
          .order-thanks__manager-info
            != 'Наш менеджер свяжется с вами в течении '
            span.order-thanks__manager-time 15 мин.
          .order-thanks__order-number Заказ № 0029912795
          .order-thanks__delivery
            != 'ДАТА ДОСТАВКИ '
            span.order-thanks__delivery-date 17-19 января 2016
        include ./layout/form/form.order.summary-info.pug
        .order-section-title Состав заказа
    .row.align-center
      .columns.large-9
        form(data-abibe).order-form
          -
            var cartItems = [
            {
            sku: '152566',
            name: 'Терморегулятор цифровой Moehlenhoff Альфа Комфорт с датчиком скорости вращения, серебрянный (GS1000)',
            img: 'cart-1.png',
            price: '75 137',
            },
            {
            sku: '152566',
            name: 'Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM',
            img: 'cart-2.png',
            price: '32 075',
            },
            {
            sku: '152566',
            name: 'Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM',
            img: 'cart-3.png',
            price: '4 000',
            }
            ]
          .row.small-collapse.large-uncollapse
            .column.small-12
              +cart-block-total('cart', cartItems)
          .order-form__summary
            .order-form__summary-delivery
              != 'Доставка: '
              span.price 500 руб.
            .order-form__summary-price
              != 'Итоговая сумма: '
              span.price 159 787 руб.
include ./layout/footer.pug