doctype html
include variables.pug
html
  head
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="theme-color" content="#4d4d4d")
    meta(name="msapplication-navbutton-color" content="#4d4d4d")
    meta(name="apple-mobile-web-app-status-bar-style" content="#4d4d4d")
    link(rel="icon" sizes="192x192" href="favicon.png")
    title
      block title
        | Сайт компании
    meta(description='' content='')
    meta(keywords='' content='')
    link(rel="stylesheet" href="/css/screen.css")
  body
    .loader
      div
    .off-canvas-wrapper
      .off-canvas-wrapper-inner(data-off-canvas-wrapper)
        .off-canvas.position-left#offCanvasFilter(data-off-canvas)
          include block/mobile.smart-filter.pug
        .off-canvas.position-left#offCanvasCatalog(data-off-canvas)
          include block/mobile.catalog-menu.pug
        .off-canvas.position-left#offCanvasMain(data-off-canvas)
          include block/mobile.main-menu.pug
        block header
        .off-canvas-content(data-off-canvas-content)
          .main-container
            block content
          block footer
    include block/modal.callme.pug
    a(href='#top').toTop Наверх
    script(src='/js/jquery-2.2.4.min.js')
    script(src='/js/foundation.js')
    script(src='/js/jquery.bxslider/jquery.bxslider.js')
    //script(src='/js/lightcase.js')
    script(src='/js/scripts.js')
