block footer
  footer.site-footer
    .site-footer__inner
      .site-footer__newsletter
        .site-footer__newsletter-title
          span.ico-footer-mail
          span Подпишитесь! Будь в курсе всех акций и скидок!
        form.site-footer__newsletter-form
          input(type='email' placeholder='Оставьте свой Email')
          button(type='submit').button-orange Подписаться
      .site-footer__info.footer-accordion
        .site-footer__menu(data-accordion-item).accordion-item
          a.site-footer__section-title Компания «ComTermo»
          ul.site-footer__accordion-content(data-tab-content)
            li: a(href='#') О компании
            li: a(href='#') Новости
            li: a(href='#') Блог
            li: a(href='#') Контакты
        .site-footer__menu(data-accordion-item)
          a.site-footer__section-title Информация
          ul.site-footer__accordion-content(data-tab-content)
            li: a(href='#') Оплата и доставка
            li: a(href='#') Гарантия на товары
            li: a(href='#') Сервисные центры
            li: a(href='#') Договор оферты
            li: a(href='#') Сертификаты
        .site-footer__contacts
          a(href='tel:+74956431890') +7 495 643-18-90
          a(href='mailto:info@comtermo.ru') info@comtermo.ru
          | г. Москва, ул. Дорожная, д.54, к.5, офис 307, (Таможенный терминал "Чертановский")
      .site-footer__payment.footer-accordion
        div(data-accordion-item)
          a.site-footer__section-title Принимаем к оплате
          div(data-tab-content).site-footer__accordion-content
            .site-footer__payment-list
              img(src='img/payments.png')
            .site-footer__payment-ya-market
              img(src='img/yamarket.png')
      .site-footer__recomendation.footer-accordion
        div(data-accordion-item)
          a.site-footer__section-title Нас рекомендуют
          .site-footer__recomendation-list.site-footer__accordion-content(data-tab-content)
            a.site-footer__recomendation-item(href='#')
              img(src='/img/r1.png')
            a.site-footer__recomendation-item(href='#')
                img(src='/img/r2.png')
            a.site-footer__recomendation-item(href='#')
              img(src='/img/r3.png')
            a.site-footer__recomendation-item(href='#')
              img(src='/img/r4.png')
            a.site-footer__recomendation-item(href='#')
              img(src='/img/r5.png')
      .site-footer__copyright
        | © Ком Термо, 2005-2015
        br
        | Все права защищены
      .site-footer__bottom
        .site-footer__bottom-text
          | Информация на нашем сайте носит исключительно информационный характер и ни при каких условиях материалы и
          | цены, размещенные на сайте, не являются публичной офертой. Информацию о товарах, их наличие и цены вы
          | можете уточнить у наших менеджеров.
        a(href='#' alt='создание и поддержка сайта').kokos-link
  include ./block/modal.add2cart.pug
  include ./block/modal.city.pug