block header
  header.cart-header
    .row
      a.cart-header__logo(href='/')
      .cart-header__info
        a.cart-header__phone(href='tel:84956431890') +7 (495) 643-18-90
        .cart-header__hours пн-пт 8:00 - 19:00