block header
 .site-header-wrapper.compensate-for-scrollbar
    .top-bar
      .top-bar__inner
        a( data-toggle="offCanvasMain").menu-humburger Меню
        a.top-bar__logo(href='/')
        .top-bar__location
          span.top-bar__location-title Ваш город:
          span.top-bar__location-change(data-open='city') Москва
        ul.top-bar__menu
          li: a(href='/sale.html')
            span.ico-sale
            span.top-bar__menu-text Акции
          li: a(href='/favorite.html')
            span.ico-heart
            span.top-bar__menu-text Избранное
            span.top-bar__counter.not-empty 2
          li: a(href='/compare.html')
            span.ico-graph
            span.top-bar__menu-text Сравнение
            span.top-bar__counter 0
        .top-bar__cart-block.not-empty
          a.top-bar__cart(href='/cart-step-1.html')
            .top-bar__cart-title Корзина
            span.top-bar__counter 2
            span.top-bar__cart-price 5 354 440 руб.
            //button(data-location='/order-step-1.html').top-bar__cart-order Оформить заказ
          include ./block/tiny-cart.pug
    header.site-header
      .site-header__inner
        a.site-header__logo(href='/')
        .site-header__links
          a(href='/payment&delivery.html')
            span.ico-payment
            | Оплата и доставка
          a(href='#')
            span.ico-sale-2
            | Распродажа
          a(href='/contacts.html')
            span.ico-email
            | Контакты
        .site-header__info
          a.site-header__phone(href='tel:+74956431890') +7 (495) 643-18-90
          .site-header__time пн-пт 8:00 - 19:00
        .site-header__feedback
          a.button-feedback(href='#' data-open='feedback')
            span ОБратнАЯ СВЯЗЬ
        .site-header__catalog
          .site-header__menu
            label.site-header__menu-button--ds(for='main-menu') КАТАЛОГ товаров
            a.site-header__menu-button(data-toggle="offCanvasCatalog") КАТАЛОГ товаров
            .main-menu
              //.in-home
              input#main-menu(type='checkbox')
              ul.main-menu__main-category
                li.category-color-1
                  a(href='#') Сантехника
                  ul.main-menu__child
                    li
                      a(href='#') Электрические накопительные
                      ul.main-menu__child
                        li
                          a(href='#') Электрические накопительные
                            span (10)
                        li
                          a(href='#') Электрические проточные
                            span (10)
                        li
                          a(href='#') Буферные емкости
                            span (10)
                        li
                          a(href='#') Газовые бойлеры
                            span (10)
                        li
                          a(href='#') Газовые колонки
                            span (10)
                        li
                          a(href='#') Косвенные бойлеры
                            span (10)
                        li
                          a(href='#') Комплектующие для водонагревателей
                            span (10)
                    li
                      a(href='#') Электрические проточные
                    li
                      a(href='#') Буферные емкости
                    li
                      a(href='#') Газовые бойлеры
                    li
                      a(href='#') Газовые колонки
                    li
                      a(href='#') Косвенные бойлеры
                    li
                      a(href='#') Комплектующие для водонагревателей
                  li.category-color-2
                    a(href='#') Водонагреватели
                    ul.main-menu__child
                      li
                        a(href='#') Электрические накопительные
                      li
                        a(href='#') Электрические проточные
                      li
                        a(href='#') Буферные емкости
                      li
                        a(href='#') Газовые бойлеры
                      li
                        a(href='#') Газовые колонки
                      li
                        a(href='#') Косвенные бойлеры
                      li
                        a(href='#') Комплектующие для водонагревателей
                li.category-color-3.is-empty: a(href='#') Насосы
                li.category-color-4
                  a(href='#') Котлы
                  ul.main-menu__child
                    li
                      a(href='#') Электрические накопительные
                      ul.main-menu__child
                        li
                          a(href='#') Электрические накопительные
                            span (10)
                        li
                          a(href='#') Электрические проточные
                            span (10)
                        li
                          a(href='#') Буферные емкости
                            span (10)
                        li
                          a(href='#') Газовые бойлеры
                            span (10)
                        li
                          a(href='#') Газовые колонки
                            span (10)
                        li
                          a(href='#') Косвенные бойлеры
                            span (10)
                        li
                          a(href='#') Комплектующие для водонагревателей
                            span (10)
                    li
                      a(href='#') Электрические проточные
                    li
                      a(href='#') Буферные емкости
                    li
                      a(href='#') Газовые бойлеры
                    li
                      a(href='#') Газовые колонки
                    li
                      a(href='#') Косвенные бойлеры
                    li
                      a(href='#') Комплектующие для водонагревателей
                li.category-color-5.is-empty: a(href='#') Теплый пол
                li.category-color-6.is-empty: a(href='#') Запорная арматура
                li.category-color-7.is-empty: a(href='#') Термостатическая арматура
                li.category-color-8.is-empty: a(href='#') Предохранительная арматура
                li.category-color-9.is-empty: a(href='#') Измерительная арматура
                li.category-color-10.is-empty: a(href='#') Трубы и фитинги
                li.category-color-11.is-empty: a(href='#') Фильтры
                li.category-color-11.is-empty: a(href='#') Котельное оборудование
          .site-header__search
            form
              input(type='text' placeholder='Поиск по каталогу товаров' id='header-search' name='search')
              button(type='submit') НАЙТИ
          label.site-header__search-mobile(for='header-search')
            span.ico-search