mixin breadcrumbs(pageBreadList)
  nav(aria-label="Вы находитесь здесь:" role="navigation")
    ul.breadcrumbs
      li
        a(href="/") Главная
      each value, index in Object.keys(pageBreadList)
        li
          if index < Object.keys(pageBreadList).length - 1
            a(href='#')= pageBreadList[index]
          else
            span= pageBreadList[index]


mixin cart-block__head(cartclass)
  div(class=cartclass + '__head')
    div(class=cartclass + '__number')
      span №
    div(class=cartclass + '__item-info')
      span Товары в вашей корзине
    div(class=cartclass + '__status')
      span Наличие
    div(class=cartclass + '__price-info')
      span Цена и количество
    div(class=cartclass + '__total')
      span Стоимость

mixin cart-item($cartClass, $index, $iteminfo)
  div(class=$cartClass + '__item')
    div(class=$cartClass + '__number' +  ' test')
      span= $index + 1
    div(class=$cartClass + '__item-img')
      img(src='/img/' + $iteminfo.img)
    div(class=$cartClass + '__item-detail')
      div.scu= 'Артикул:' + $iteminfo.sku
      a(href='#' class=$cartClass + '__item-name')= $iteminfo.name
      br
      a(href='#' class=$cartClass + '__delete').show-for-medium Удалить
    div(class=$cartClass + '__status').in-stock
      .status В наличии
      | Доставка 3-5 дн.
    div(class=$cartClass + '__price-info')
      .price= $iteminfo.price + ' руб.'
      +ui-counter--small
    div(class=$cartClass + '__total')
      .total-price 999 999 руб
    a(href='#' class=$cartClass + '__delete').show-for-small-only Удалить

mixin cart-item__summary($cartClass, $index, $iteminfo)
  div(class=$cartClass + '__item')
    div(class=$cartClass + '__number' + ' test')
      span= $index + 1
    div(class=$cartClass + '__item-img')
      img(src='/img/' + $iteminfo.img)
    div(class=$cartClass + '__item-detail')
      div.scu= 'Артикул:' + $iteminfo.sku
      a(href='#' class=$cartClass + '__item-name')= $iteminfo.name
    div(class=$cartClass + '__status').in-stock
      .status В наличии
      | Доставка 3-5 дн.
    div(class=$cartClass + '__price-info')
      .price= $iteminfo.price + ' руб.'
        br
        | 5 шт.
    div(class=$cartClass + '__total')
      .total-price 999 999 руб
      .show-for-small-only 5 шт.
mixin cart-footer($cartClass)
  div(class=$cartClass + '__footer')
    div(class=$cartClass + '__result')
      div
        | Общая сумма:
        div(class=$cartClass + '__result-price') 159 287 руб.
        span(class=$cartClass + '__result-tips') Без учета доставки
    div(class=$cartClass + '__return')
      a(href='#' ) Вернуться к покупкам
    div(class=$cartClass + '__buttons')
      a(class='button-white' href='/one-click-order.html') КУПИТЬ В 1 КЛИК
      a(class=$cartClass + '__button-order button__next-step' href='/cart-step-2.html') ОФОРМИТЬ ЗАКАЗ

mixin cart-block($cartClass, $cartItems)
  div(class=$cartClass)
    +cart-block__head($cartClass)
    for $item, $index in $cartItems
      +cart-item($cartClass, $index, $item)
    +cart-footer($cartClass)
mixin cart-block-total($cartClass, $cartItems)
  div(class=$cartClass)
    +cart-block__head($cartClass)
    for $item, $index in $cartItems
      +cart-item__summary($cartClass, $index, $item)
    //+cart-footer($cartClass)

  // UI
mixin ui-counter
  .ui-counter
    a.ui-counter__minus
    .ui-counter__field
      input(type='text' value='100')
    a.ui-counter__plus
mixin ui-counter--small
  .ui-counter.ui-counter--small
    a.ui-counter__minus
    .ui-counter__field
      input(type='text' value='100')
    a.ui-counter__plus

