-
  var goods_list = {good_01: {
  img: 'goods-02.png',
  sku: '152566',
  title: 'Труба Rehau RAUTITAN flex 16х2.2',
  price: '152566 руб.',
  oldprice: '',
  label: 'hit'
  },
  good_02: {
  img: 'goods-02.png',
  sku: '152566',
  title: 'Труба Rehau RAUTITAN flex 16х2.2',
  price: '----- руб.',
  oldprice: '',
  label: 'sale'
  },
  good_03: {
  img: 'goods-02.png',
  sku: '152566',
  title: 'Настенный двухконтурный конденсационный котел Ariston GENUS PREMIUM EVO 24',
  price: '----- руб.',
  oldprice: '',
  label: 'discount'
  },
  good_04:{
  img: 'goods-02.png',
  sku: '152566',
  title: 'Труба Rehau RAUTITAN flex 16х2.2',
  price: '----- руб.',
  oldprice: '',
  label: 'hit'
  }}