mixin also-buy-item ()
  .also-buy__item
    a(href='#').also-buy__item-name Терморегулятор цифровой Moehlenhoff Альфа Комфорт с датчиком скорости вращения, серебрянный (GS1000)
    .also-buy__item-info
      a(href='#').also-buy__item-img
        img(src='/img/goods-02.png')
      .also-buy__item-sku Артикул: 152566
      .also-buy__item-price 6 028 руб.
      a.also-buy__item-buy.button-orange КУПИТЬ
block also-buy
  .also-buy
    .also-buy__header С этим товаром покупают
    .also-buy__content(class='mCustomScrollbar' data-mcs-theme='inset-dark')
      .also-buy__group
        +also-buy-item
        +also-buy-item
        +also-buy-item
        +also-buy-item
        +also-buy-item