include ./catalog.goods.pug
mixin goods-slider($items, $title, $jsClass)
  -var $title = $title || false
  -var $jsClass = $jsClass || 'js-goods-slider';
  .goods-slider
    if $title != false
      .goods-slider__heading= $title
    .goods-slider__items(class= $jsClass)
      each $item in $items
        .goods-slider__item
          +goods-tile($item)
