block catalog.sort
  .sort-filter
    .sort-filter__controls
      .sort-filter__column.sort-filter__column--sort
        .sort-filter__title Сортировать:
        .sort-filter__group
          select(name='alphabet')
            option А-Я
            option Я-А
          select.is-active(name='price')
            option.sort-filter__up По цене &uarr;
            option.sort-filter__down По цене &darr;
          select(name='rate')
            option.sort-filter__up По рейтингу &uarr;
            option.sort-filter__down По рейтингу &darr;
      .sort-filter__column.sort-filter__column--show
        .sort-filter__title Учитывать:
        .sort-filter__group
          input(type='radio' name='goods-status' checked)#all-goods
          label(for='all-goods') Все товары
          input(type='radio' name='goods-status')#in-stock
          label(for='in-stock') Только в наличии
          input(type='checkbox' name='goods-out-stock')#out-stock
          label(for='out-stock') Вкл. архивные
      .sort-filter__column.sort-filter__column--view
        .sort-filter__title Вид:
        .sort-filter__group
          a.sort-filter__view-type.sort-filter__view-type--grid.is-active(href='#') Сетка
          a.sort-filter__view-type.sort-filter__view-type--list(href='#') В линию
      .sort-filter__column.sort-filter__column--count
        .sort-filter__title ВЫВОДИТЬ ПО:
        .sort-filter__group
          select(name='count')
            option 12
            option 24
            option 48
    .sort-filter__result
      .sort-filter__result-total
        | Найдено товаров:
        span 85
      .sort-filter__result-pagination
        include ./pagintaion.pug