mixin goods-row($goods)
  .goods-row(itemscope itemtype='http://schema.org/Product')
    .goods-row__preview
      .goods__labels
        if $goods.label == 'sale'
          .goods__label-sale Акция
        if $goods.label == 'hit'
          .goods__label-hit Хит
        if $goods.label == 'discount'
          .goods__label-discount Скидка
        if $goods.label == 'new'
          .goods__label-new Новинка
      a.add2favorite(data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="В избранное")
      a.goods-row__thumb(href='#')
        img(src='/img/' + $goods.img)
      a.add2compare
        span.ico-compare
        | В сравнение
    .goods-row__info
      .goods-row__sku
        != 'Артикул: '
        span(itemprop='sku')= $goods.sku
      a.goods-row__title(href='#')= $goods.title
      meta(itemprop='name' content=$goods.title)
      .goods-row__rate(itemprop='aggregateRating' itemscope itemtype='http://schema.org/AggregateRating')
        .star-rate(itemprop='ratingValue' content='4.1')
          div(style='width: 80%')
        a(href='#' data-target='#product-tab-3').product-page__rating-link.js-show-review-tab
          | Смотреть отзывы (
          span(itemprop='reviewCount') 67
          | )
      .parameters
        .parameters__item
          .parameter-name Мощность, кВт
          .parameter-value 20,0
        .parameters__item
          .parameter-name Объем расширительного бака, л
          .parameter-value 8
        .parameters__item
          .parameter-name Приготовление воды для ГВС
          .parameter-value встроено
        .parameters__item
          .parameter-name Максимальное давление в контуре ГВС, бар
          .parameter-value 10
        .parameters__item
          .parameter-name Подключение дымохода, мм
          .parameter-value 60/100
        .parameters__item
          .parameter-name Электрическая потребляемая мощность, Вт
          .parameter-value 130
        .parameters__item
          .parameter-name Габариты (ВхШхГ), мм
          .parameter-value 400х299х700
        .parameters__item
          .parameter-name Вес, кг
          .parameter-value 32
      .hashtags
        a(href='#') #Котлы
        a(href='#') #Двухконтурные
        a(href='#') #Котлы Ariston
    .goods-row__buy(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
      .goods__prices
        span Цена:
          if $goods.oldprice != ''
        meta(itemprop='priceCurrency' content='RUB')

        .goods__old-price= $goods.oldprice
        .goods__price(itemprop='price' content='29692')= $goods.price
      +ui-counter
      a.add2cart КУПИТЬ
      .goods__status.in-stock
        | В наличии
        .goods__delivery
          != 'Доставка 3-5 дн. '
          br
          != 'Стоимость доставки: '
          span 300 руб.

mixin goods-row--outstock($goods)
  .goods-row(itemscope itemtype='http://schema.org/Product').out-stock
    .goods-row__preview
      .goods__labels
        if $goods.label == 'sale'
          .goods__label-sale Акция
        if $goods.label == 'hit'
          .goods__label-hit Хит
        if $goods.label == 'discount'
          .goods__label-discount Скидка
        if $goods.label == 'new'
          .goods__label-new Новинка
      a.add2favorite(data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="В избранное")
      a.goods-row__thumb(href='#')
        img(src='/img/' + $goods.img)
      a.add2compare
        span.ico-compare
        | В сравнение
    .goods-row__info
      .goods-row__sku
        != 'Артикул: '
        span(itemprop='sku')= $goods.sku
      a.goods-row__title(href='#')= $goods.title
      meta(itemprop='name' content=$goods.title)
      .goods-row__rate(itemprop='aggregateRating' itemscope itemtype='http://schema.org/AggregateRating')
        .star-rate(itemprop='ratingValue' content='4.1')
          div(style='width: 80%')
        a(href='#' data-target='#product-tab-3').product-page__rating-link.js-show-review-tab
          | Смотреть отзывы (
          span(itemprop='reviewCount') 67
          | )
      .parameters
        .parameters__item
          .parameter-name Мощность, кВт
          .parameter-value 20,0
        .parameters__item
          .parameter-name Объем расширительного бака, л
          .parameter-value 8
        .parameters__item
          .parameter-name Приготовление воды для ГВС
          .parameter-value встроено
        .parameters__item
          .parameter-name Максимальное давление в контуре ГВС, бар
          .parameter-value 10
        .parameters__item
          .parameter-name Подключение дымохода, мм
          .parameter-value 60/100
        .parameters__item
          .parameter-name Электрическая потребляемая мощность, Вт
          .parameter-value 130
        .parameters__item
          .parameter-name Габариты (ВхШхГ), мм
          .parameter-value 400х299х700
        .parameters__item
          .parameter-name Вес, кг
          .parameter-value 32
      .hashtags
        a(href='#') #Котлы
        a(href='#') #Двухконтурные
        a(href='#') #Котлы Ariston
    .goods-row__buy(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
      .goods__prices
        span Цена:
          if $goods.oldprice != ''
        meta(itemprop='priceCurrency' content='RUB')

        .goods__old-price= $goods.oldprice
        .goods__price(itemprop='price' content='29692')= $goods.price
      a.button-similar ПОСМОТРЕТЬ ПОХОЖИЕ
      .goods__status
        | Нет в продаже

mixin goods-row-favorite($goods)
  .goods-row(itemscope itemtype='http://schema.org/Product')
    a.delete-favorite
    .goods-row__preview
      .goods__labels
        if $goods.label == 'sale'
          .goods__label-sale Акция
        if $goods.label == 'hit'
          .goods__label-hit Хит
        if $goods.label == 'discount'
          .goods__label-discount Скидка
        if $goods.label == 'new'
          .goods__label-new Новинка
      a.add2favorite(data-tooltip aria-haspopup="true" class="has-tip top is-active" data-disable-hover="false" tabindex="1" title="В избранное")
      a.goods-row__thumb(href='#')
        img(src='/img/' + $goods.img)
      a.add2compare
        span.ico-compare
        | В сравнение
    .goods-row__info
      .goods-row__sku
        != 'Артикул: '
        span(itemprop='sku')= $goods.sku
      a.goods-row__title(href='#')= $goods.title
      meta(itemprop='name' content=$goods.title)
      .goods-row__rate(itemprop='aggregateRating' itemscope itemtype='http://schema.org/AggregateRating')
        .star-rate(itemprop='ratingValue' content='4.1')
          div(style='width: 80%')
        a(href='#' data-target='#product-tab-3').product-page__rating-link.js-show-review-tab
          | Смотреть отзывы (
          span(itemprop='reviewCount') 67
          | )
      .parameters
        .parameters__item
          .parameter-name Мощность, кВт
          .parameter-value 20,0
        .parameters__item
          .parameter-name Объем расширительного бака, л
          .parameter-value 8
        .parameters__item
          .parameter-name Приготовление воды для ГВС
          .parameter-value встроено
        .parameters__item
          .parameter-name Максимальное давление в контуре ГВС, бар
          .parameter-value 10
        .parameters__item
          .parameter-name Подключение дымохода, мм
          .parameter-value 60/100
        .parameters__item
          .parameter-name Электрическая потребляемая мощность, Вт
          .parameter-value 130
        .parameters__item
          .parameter-name Габариты (ВхШхГ), мм
          .parameter-value 400х299х700
        .parameters__item
          .parameter-name Вес, кг
          .parameter-value 32
      .hashtags
        a(href='#') #Котлы
        a(href='#') #Двухконтурные
        a(href='#') #Котлы Ariston
    .goods-row__buy(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
      .goods__prices
        span Цена:
          if $goods.oldprice != ''
        meta(itemprop='priceCurrency' content='RUB')

        .goods__old-price= $goods.oldprice
        .goods__price(itemprop='price' content='29692')= $goods.price
      a.add2cart КУПИТЬ
      .goods__status.in-stock
        | В наличии
        .goods__delivery
          != 'Доставка 3-5 дн. '
          br
          != 'Стоимость доставки: '
          span 300 руб.