.categories-block
  .row
    .columns.categories
      .category-sizer
      .category-tile
        .category.category--color-1
          a.category__preview(href='#')
            img(src='/img/category-01.png')
          .category__content
            a.category__title(href='#') Сантехника
            ul.category__sublist
              li: a(href='#') Емкости для воды
              li: a(href='#') Емкости для топлива
              li: a(href='#') Расширительные емкости
              li: a(href='#') Комплектующие для баков и емкостей
      .category-tile
        .category.category--color-2(data-link='/category.html')
          a.category__preview(href='#')
            img(src='/img/category-02.png')
          .category__content
            a.category__title(href='#') Теплый пол
            ul.category__sublist
              li: a(href='#') Нагревательные кабели
              li: a(href='#') Нагревательные маты
              li: a(href='#') Нагревательные пленки
              li: a(href='#') Регуляторы температуры
              li: a(href='#') Система контроля протечки воды
              li: a(href='#') Система обогрева трубопроводов
      .category-tile.medium-type-3.large-type-2
        .category.category--color-3
          a.category__preview(href='#')
            img(src='/img/category-03.png')
          .category__content
            a.category__title(href='#') Котлы
            ul.category__sublist
              li: a(href='#') Газовые настенные котлы
              li: a(href='#')  Газовые напольные котлы Газово-дизельные котлы
              li: a(href='#') Газовые горелки
              li: a(href='#') Дизельные горелки
              li: a(href='#') Тепловые насосы
              li: a(href='#') Твердотопливные котлы
              li: a(href='#') Пеллетные котлы
              li: a(href='#') Пиролизные котлы
              li: a(href='#') Электрические котлы
              li: a(href='#') Автоматика для котлов
              li: a(href='#') Комплектующие для котлов
      .category-tile.medium-type-3.large-type-3
        .category.category--color-4
          a.category__preview(href='#')
            img(src='/img/category-04.png')
          .category__content
            a.category__title(href='#') Водонагреватели
            ul.category__sublist
              li: a(href='#') Электрические накопительные
              li: a(href='#') Электрические проточные
              li: a(href='#') Буферные емкости
              li: a(href='#') Газовые бойлеры
              li: a(href='#') Газовые колонки
              li: a(href='#') Косвенные бойлеры
              li: a(href='#') Комплектующие для водонагревателей
      .category-tile
        .category.category--color-5
          a.category__preview(href='#')
            img(src='/img/category-05.png')
          .category__content
            a.category__title(href='#') Запорная арматура
            ul.category__sublist
              li: a(href='#') Емкости для воды
              li: a(href='#') Емкости для топлива
              li: a(href='#') Расширительные емкости
              li: a(href='#') Комплектующие для баков и емкостей
      .category-tile
        .category.category--color-6
          a.category__preview(href='#')
            img(src='/img/category-06.png')
          .category__content
            a.category__title(href='#') Термостатическая арматура
            ul.category__sublist
              li: a(href='#') Вентили для радиаторов
              li: a(href='#') Вентили для полотенцесушителей
              li: a(href='#') Ограничители температуры
              li: a(href='#') Термостатические головки
      .category-tile
        .category.category--color-7
          a.category__preview(href='#')
            img(src='/img/category-07.png')
          .category__content
            a.category__title(href='#') Котельное оборудование
            ul.category__sublist
              li: a(href='#') Гидравлические коллекторы
              li: a(href='#') Гидравлические разделители
              li: a(href='#') Сепараторы
              li: a(href='#') Насосные группы
      .category-tile.large-type-2
        .category.category--color-8
          a.category__preview(href='#')
            img(src='/img/category-08.png')
          .category__content
            a.category__title(href='#') Измерительная арматура
            ul.category__sublist
              li: a(href='#') Алюминиевые радиаторы
              li: a(href='#') Биметаллические радиаторы
              li: a(href='#') Гигиенические радиаторы
              li: a(href='#') Дизайн радиаторы
              li: a(href='#') Плоские радиаторы
              li: a(href='#') Профильные радиаторы
              li: a(href='#') Трубчатые радиаторы
              li: a(href='#') Чугунные радиаторы
              li: a(href='#') Комплектующие к радиаторам
      .category-tile
        .category.category--color-9
          a.category__preview(href='#')
            img(src='/img/category-09.png')
          .category__content
            a.category__title(href='#') Трубы и фитинги
            ul.category__sublist
              li: a(href='#') Емкости для воды
              li: a(href='#') Емкости для топлива
              li: a(href='#') Расширительные емкости
              li: a(href='#') Комплектующие для баков и емкостей
      .category-tile
        .category.category--color-10
          a.category__preview(href='#')
            img(src='/img/category-10.png')
          .category__content
            a.category__title(href='#') Фильтры
            ul.category__sublist
              li: a(href='#') Емкости для воды
              li: a(href='#') Емкости для топлива
              li: a(href='#') Расширительные емкости
              li: a(href='#') Комплектующие для бакови емкостей
      .category-tile.medium-type-3.large-type-3
        .category.category--color-11
          a.category__preview(href='#')
            img(src='/img/category-11.png')
          .category__content
            a.category__title(href='#') Насосы
            ul.category__sublist
              li: a(href='#') Дренажные насосы
              li: a(href='#') Канализационные насосы
              li: a(href='#') Насосные станции
              li: a(href='#') Поверхностные насосы
              li: a(href='#') Погружные насосы
              li: a(href='#') Фекальные насосы
              li: a(href='#') Циркуляционные насосы
              li: a(href='#') Промышленные насосы
              li: a(href='#') Автоматика для насосов
              li: a(href='#') Автоматика для насосов
              li: a(href='#') Аксессуары к насосам