mixin goods-tile($goods)
  .goods
    .goods__labels
      if $goods.label == 'sale'
        .goods__label-sale Акция
      if $goods.label == 'hit'
        .goods__label-hit Хит
      if $goods.label == 'discount'
        .goods__label-discount Скидка
      if $goods.label == 'new'
        .goods__label-new Новинка
    a.add2favorite(data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="В избранное")
    a.goods__thumb(href='#')
      img(src='/img/' + $goods.img)
    .goods__sku= 'Артикул:' + $goods.sku
    a.goods__title(href='#')= $goods.title
    .goods__info
      .goods__prices
        span Цена:
          if $goods.oldprice != ''
        .goods__old-price= $goods.oldprice
        .goods__price= $goods.price
      .goods__status.in-stock
        | В наличии
        .goods__delivery Доставка 3-5 дн.
      .goods__buy
        a.add2cart КУПИТЬ
      .goods__compare
        a.add2compare
          span.ico-compare
          | В сравнение

mixin goods-tile--outstock($goods)
  .goods.out-stock
    .goods__labels
      if $goods.label == 'sale'
        .goods__label-sale Акция
      if $goods.label == 'hit'
        .goods__label-hit Хит
      if $goods.label == 'discount'
        .goods__label-discount Скидка
      if $goods.label == 'new'
        .goods__label-new Новинка
    a.add2favorite
    a.goods__thumb(href='#')
      img(src='/img/' + $goods.img)
    .goods__sku= 'Артикул:' + $goods.sku
    a.goods__title(href='#')= $goods.title
    .goods__info
      .goods__prices
        span Цена:
        if $goods.oldprice != ''
          .goods__old-price= $goods.oldprice
        .goods__price= $goods.price
      .goods__status
        | Нет в продаже
      .goods__buy
        a.button-similar ПОСМОТРЕТЬ <br/> ПОХОЖИЕ
      .goods__compare
        a.add2compare
          span.ico-compare
          | В сравнение

mixin goods-compare($goods)
  .goods
    .goods__labels
      if $goods.label == 'sale'
        .goods__label-sale Акция
      if $goods.label == 'hit'
        .goods__label-hit Хит
      if $goods.label == 'discount'
        .goods__label-discount Скидка
      if $goods.label == 'new'
        .goods__label-new Новинка
    a.add2favorite(data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="В избранное")
    a.goods__thumb(href='#')
      img(src='/img/' + $goods.img)
    .goods__sku= 'Артикул:' + $goods.sku
    a.goods__title(href='#')= $goods.title
    .goods__info
      .goods__prices
        span Цена:
          if $goods.oldprice != ''
        .goods__old-price= $goods.oldprice
        .goods__price= $goods.price
      .goods__status.in-stock
        | В наличии
        .goods__delivery Доставка 3-5 дн.
      .goods__buy
        a.add2cart КУПИТЬ
      .goods__delete-compare
        a.delete-compare
          | Удалить
