block left-menu
    ul.left-menu(data-accordion-menu)
      li.category-color-01
        a(href='#') Сантехника
        ul.nested.is-active
          li
            a(href='#') Электрические накопительные
            ul.is-active
              li
                a(href='#') Электрические накопительные
              li
                a(href='#') Электрические проточные
              li
                a(href='#') Буферные емкости
              li.is-current
                a(href='#') Газовые бойлеры
              li
                a(href='#') Газовые колонки
              li
                a(href='#') Косвенные бойлеры
              li
                a(href='#') Комплектующие для водонагревателей
          li
            a(href='#') Электрические проточные
          li
            a(href='#') Буферные емкости
          li
            a(href='#') Газовые бойлеры
          li
            a(href='#') Газовые колонки
          li
            a(href='#') Косвенные бойлеры
          li
            a(href='#') Комплектующие для водонагревателей
        li.category-color-02
          a(href='#') Водонагреватели
          ul
            li
              a(href='#') Электрические накопительные
            li
              a(href='#') Электрические проточные
            li
              a(href='#') Буферные емкости
            li
              a(href='#') Газовые бойлеры
            li
              a(href='#') Газовые колонки
            li
              a(href='#') Косвенные бойлеры
            li
              a(href='#') Комплектующие для водонагревателей
      li.category-color-03.is-empty: a(href='#') Насосы
      li.category-color-04: a(href='#') Котлы
      li.category-color-05: a(href='#') Теплый пол
      li.category-color-06: a(href='#') Запорная арматура
      li.category-color-07: a(href='#') Термостатическая арматура
      li.category-color-08: a(href='#') Предохранительная арматура
      li.category-color-09: a(href='#') Измерительная арматура
      li.category-color-10: a(href='#') Трубы и фитинги
      li.category-color-11: a(href='#') Фильтры
      li.category-color-11: a(href='#') Котельное оборудование
