nav
  ul(data-drilldown).mobile-catalog
    li.mobile-catalog__header
      a(href='/catalog.html') КАТАЛОГ товаров
    li
      a(href='/catalog-category.html') Сантехника
      ul
        li
          a(href='#') Водонагреватели
        li
          a(href='#') Насосы
        li
          a(href='#') Котлы
        li
          a(href='#') Теплый пол
        li
          a(href='#') Запорная арматура
        li
          a(href='#') Термостатическая арматура
        li
          a(href='#') Измерительная арматура
        li
          a(href='#') Трубы и фитинги
          ul
            li
              a(href='#') Водонагреватели
            li
              a(href='#') Насосы
            li
              a(href='#') Котлы
            li
              a(href='#') Теплый пол
            li
              a(href='#') Запорная арматура
            li
              a(href='#') Термостатическая арматура
            li
              a(href='#') Измерительная арматура
            li
              a(href='#') Трубы и фитинги
            li
              a(href='#') Фильтры
            li
              a(href='#') Котельное оборудование
              ul
                li
                  a(href='#') Водонагреватели
                li
                  a(href='#') Насосы
                li
                  a(href='#') Котлы
                li
                  a(href='#') Теплый пол
                li
                  a(href='#') Запорная арматура
                li
                  a(href='#') Термостатическая арматура
                li
                  a(href='#') Измерительная арматура
                li
                  a(href='#') Трубы и фитинги
                li
                  a(href='#') Фильтры
                li
                  a(href='#') Котельное оборудование
        li
          a(href='#') Фильтры
        li
          a(href='#') Котельное оборудование
    li
      a(href='/catalog-category.row.html') Водонагреватели
    li
      a(href='#') Насосы
      ul
        li
          a(href='#') Водонагреватели
        li
          a(href='#') Насосы
        li
          a(href='#') Котлы
        li
          a(href='#') Теплый пол
        li
          a(href='#') Запорная арматура
        li
          a(href='#') Термостатическая арматура Термостатическая арматура
        li
          a(href='#') Измерительная арматура
        li
          a(href='#') Трубы и фитинги
        li
          a(href='#') Фильтры
        li
          a(href='#') Котельное оборудование
    li
      a(href='#') Котлы
    li
      a(href='#') Теплый пол Запорная Запорная
      ul
        li
          a(href='#') Водонагреватели
        li
          a(href='#') Насосы
        li
          a(href='#') Котлы
        li
          a(href='#') Теплый пол
        li
          a(href='#') Запорная арматура
        li
          a(href='#') Термостатическая арматура
        li
          a(href='#') Измерительная арматура
        li
          a(href='#') Трубы и фитинги
        li
          a(href='#') Фильтры
        li
          a(href='#') Котельное оборудование
    li
      a(href='#') Запорная арматура Запорная Запорная
      ul
        li
          a(href='#') Водонагреватели
        li
          a(href='#') Насосы
        li
          a(href='#') Котлы
        li
          a(href='#') Теплый пол
        li
          a(href='#') Запорная арматура
        li
          a(href='#') Термостатическая арматура
        li
          a(href='#') Измерительная арматура
        li
          a(href='#') Трубы и фитинги
    li
      a(href='#') Термостатическая арматура
    li
      a(href='#') Измерительная арматура
    li
      a(href='#') Трубы и фитинги
    li
      a(href='#') Фильтры
    li
      a(href='#') Котельное оборудование
