nav
  ul.mobile-menu
    li
      a(href='/sales.html')
        span.ico-sale--dark
        span Акции
    li
      a(href='/favorite.html')
        span.ico-heart--dark
        span Избранное
        span.counter 0
    li
      a(href='/compare.html')
        span.ico-graph--dark
        span Сравнение
        span.counter 0
    li: a(href='/sales.html') Акции
    li: a(href='/payment&delivery.html') Оплата и доставка
    li: a(href='/sales.html').sale-link Распродажа
    li: a(href='/contacts.html') Контакты
    li: a(href='/about.html') О компании
    li: a(href='/news.html') Новости
    li: a(href='#') Блог
    li: a(href='#') Гарантия на товары
    li: a(href='#') Сервисные центры
    li: a(href='#') Договор оферты
    li: a(href='/certificates.html') Сертификаты
a.button-orange(href='#').button-full-version ПОЛНАЯ ВЕРСИЯ САЙТА
