include ./catalog.goods-row.pug
include ./catalog.goods-slider.pug
.modal.success-add2cart.is-hidden
  .success-add2cart__title Товар добавлен в корзину
  .success-add2cart__content
    .goods-row
      .goods-row__preview
        .goods__labels
          .goods__label-discount Скидка
        a.add2favorite(data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="В избранное")
        a.goods-row__thumb(href='#')
          img(src='/img/goods-02.png' )
        a.add2compare
          span.ico-compare
          | В сравнение
      .goods-row__info
        .goods-row__sku
          != 'Артикул: '
          span  152566
        a.goods-row__title(href='#') Настенный двухконтурный конденсационный котел Ariston GENUS PREMIUM EVO 24
        .goods-row__rate
          .star-rate
            div(style='width: 80%')
        .parameters
          .parameters__item
            .parameter-name Мощность, кВт
            .parameter-value 20,0
          .parameters__item
            .parameter-name Объем расширительного бака, л
            .parameter-value 8
          .parameters__item
            .parameter-name Приготовление воды для ГВС
            .parameter-value встроено
          .parameters__item
            .parameter-name Максимальное давление в контуре ГВС, бар
            .parameter-value 10
          .parameters__item
            .parameter-name Подключение дымохода, мм
            .parameter-value 60/100
          .parameters__item
            .parameter-name Электрическая потребляемая мощность, Вт
            .parameter-value 130
          .parameters__item
            .parameter-name Габариты (ВхШхГ), мм
            .parameter-value 400х299х700
          .parameters__item
            .parameter-name Вес, кг
            .parameter-value 32
      .goods-row__buy
        .goods__prices
          span Цена:
          .goods__old-price 85 560 руб.
          .goods__price 75 137 руб.
        +ui-counter--small
        .goods__status.in-stock
          | В наличии
          .goods__delivery
            != 'Доставка 3-5 дн. '
            br
            != 'Стоимость доставки: '
            span 300 руб.
    .success-add2cart__buttons
      a.button-white(href='#') ВЕРНУТЬСЯ К ПОКУПКАМ
      a.button-orange(href='#') ОФОРМИТЬ
  .success-add2cart__footer
    +goods-slider(goods_list, 'Вам так же может понадобиться', 'js-add2cart-goods')

