div.reveal#city(data-reveal).city
  a.city__close(href='#' data-close)
  .city__heading Выберите город:
  .city-list
    .city-section
      .city-section__letter A
      .city-section__names
        div: a(href='#') Абакан
        div: a(href='#') Анапа
        div: a(href='#') Армавир
        div: a(href='#') Архангельск
        div: a(href='#') Астрахань
    .city-section
      .city-section__letter Б
      .city-section__names
        div: a(href='#') Барнаул
        div: a(href='#') Батайск
        div: a(href='#') Белгород
        div: a(href='#') Березники
    .city-section
      .city-section__letter В
      .city-section__names
        div: a(href='#') Владивосток
        div: a(href='#') Волгоград
        div: a(href='#') Воронеж
    .city-section
      .city-section__letter Е
      .city-section__names
        div: a(href='#') Екатеринбург
    .city-section
      .city-section__letter И
      .city-section__names
        div: a(href='#') Ижевск
        div: a(href='#') Иркутск
    .city-section
      .city-section__letter К
      .city-section__names
        div: a(href='#') Казань
        div: a(href='#') Калининград
        div: a(href='#') Кемерово
        div: a(href='#') Краснодар
        div: a(href='#') Красноярск
        div: a(href='#') Кропоткин
        div: a(href='#') Крымск
        div: a(href='#') Курган
        div: a(href='#') Курск
    .city-section
      .city-section__letter М
      .city-section__names
        div: a(href='#') Магнитогорск
        div: a(href='#') Москва
    .city-section
      .city-section__letter Н
      .city-section__names
        div: a(href='#') Набережные Челны
        div: a(href='#') Нижний Новгород
        div: a(href='#') Новокузнецк
        div: a(href='#') Новороссийск
        div: a(href='#') Новосибирск
    .city-section
      .city-section__letter С
      .city-section__names
        div: a(href='#') Самара
        div: a(href='#') Санкт-Петербург
        div: a(href='#') Саратов
        div: a(href='#') Славянск-на-Кубани
        div: a(href='#') Сочи
        div: a(href='#') Ставрополь
        div: a(href='#') Сургут
    .city-section
      .city-section__letter Т
      .city-section__names
        div: a(href='#') Таганрог
        div: a(href='#') Тверь
        div: a(href='#') Темрюк
        div: a(href='#') Тимашевск
        div: a(href='#') Тольятти
        div: a(href='#') Томск
        div: a(href='#') Тюмень
    .city-section
      .city-section__letter Ч
      .city-section__names
        div: a(href='#') Чебоксары
        div: a(href='#') Челябинск
    .city-section
      .city-section__letter Я
      .city-section__names
        div: a(href='#') Ярославль