block callme
  div.reveal#feedback(data-reveal).feedback
    .feedback__header
      #feedback-tabs.tabs(data-tabs)
        .tabs-title.is-active
          a(href='#feedback1' aria-selected="true") Обратная связь
        .tabs-title
          a(href='#feedback2') ПИСЬМО РУКОВОДИТЕЛЮ
      a(href='#' data-close).close-modal Закрыть
    .feedback__content(data-tabs-content='feedback-tabs').tabs-content
      #feedback1.tabs-panel.is-active
        form.feedback__form(action='#')
          .feedback__form-text
            span Мы ценим каждого нашего клиента!
            | Здесь Вы можете <b>отправить вопрос</b> либо <b>спецификацию для просчета стоимости заказа</b> нашим менеджерам, заполнив форму ниже.
            br
            | Мы обязательно Вам ответим!
          .feedback__form-content
            .row
              .column.small-12.medium-6
                label(for='feedback-1-1')
                  | ВАШЕ Имя
                  span *
                  input(type='text' id="feedback-1-1")
              .column.small-12.medium-6
                label(for='feedback-1-2')
                  | ТЕЛЕФОН
                  span *
                  input(type='tel' id="feedback-1-2")
              .column.small-12.medium-6
                label(for='feedback-1-3')
                  | НОМЕР ЗАКАЗА
                  input(type='text' id="feedback-1-3")
              .column.small-12.medium-6
                label(for='feedback-1-4')
                  | EMAIL
                  span *
                  input(type='email' id="feedback-1-4")
              .column.small-12
                label(for='feedback-1-5')
                  | КОММЕНТАРИИ
                  textarea(id="feedback-1-5")
              .column.small-12.medium-6
                input(type='file' id='feedback-1-6').is-hidden
                label.field-label(for='feedback-1-6')
                  div.file-button Прикрепить файл
              .column.small-12.medium-6.feedback__form-tips
                span *
                |  — поля обязательны для заполнения
          button(type='submit').button-orange ОТПРАВИТЬ
      #feedback2.tabs-panel
        form.feedback__form(action='#')
          .feedback__form-text.white-bg
            span Мы ценим каждого нашего клиента!
            | Если у Вас возникли проблемы или неудобства, требующие внимания вышестоящего руководства, то заполните,
            | пожалуйста, данную форму. Ваше сообщение обязательно дойдет непосдредственно до руководителя интернет-магазина.
          .feedback__form-content
            .row
              .column.small-12.medium-6
                label(for='feedback-2-1')
                  | ВАШЕ Имя
                  span *
                  input(type='text' id="feedback-2-1")
              .column.small-12.medium-6
                label(for='feedback-2-2')
                  | ТЕЛЕФОН
                  span *
                  input(type='tel' id="feedback-2-2")
              .column.small-12.medium-6
                label(for='feedback-2-3')
                  | НОМЕР ЗАКАЗА
                  input(type='text' id="feedback-2-3")
              .column.small-12.medium-6
                label(for='feedback-2-4')
                  | EMAIL
                  span *
                  input(type='email' id="feedback-2-4")
              .column.small-12
                label(for='feedback-2-5')
                  | ТЕМА
                  span *
                  input(type='email' id="feedback-2-5")
              .column.small-12
                label(for='feedback-2-6')
                  | КОММЕНТАРИИ
                  textarea(id="feedback-2-6")
              .column.small-12.feedback__form-tips
                span *
                |  — поля обязательны для заполнения
          button(type='submit').button-orange ОТПРАВИТЬ