nav.pagination
  a(href='#prev').pagination__prev
  a(href='#1').pagination__item.is-active 1
  a(href='#2').pagination__item 2
  a(href='#3').pagination__item 3
  a(href='#4').pagination__item 4
  .pagination__sep
  a(href='#10').pagination__item 10
  a(href='#next').pagination__next
