mixin review($username, $date, $rate, $text)
  .review
    .review__info
      .review__username= $username
      .review__date= $date
    .review__content
      .review__rate
        .star-rate
          div(style='width: ' + ($rate * 20) + '%')
      .review__text= $text

mixin rate-block($rate, $rCount, $rdetailStar, $rbiggestCountStar)
  .rate-overall
    .rate-total
      .rate-total__value= $rate
      .rate-total__star
        .star-rate
          div(style='width: 80%')
      .rate-total__count
        != 'Всего отзывов: '
        span #{$rCount}
    .rate-detail
      for star, index in $rdetailStar
        .rate-detail__item
          .rate-detail__item-title
            i.star
            != 5 - index
          .rate-detail__line
            div(style='width: ' + (star / $rbiggestCountStar * 100) + '%' data-star= (5 - index))
          .rate-detail__count #{star} отзыва
    .rate-add
      a(href='#').button-orange Написать отзыв
//block reviews-list
//  .review-list
//    .review-header
//      .review-
//  include pagintaion.pug
