include ./catalog.goods.pug

mixin advise-slider($items, $title)
  -var $title = $title || false
  .advise-slider
    if $title != false
      .advise-slider__heading= $title
        .advise-slider__control
          .advise-prev
          .advise-next
    .advise-slider__body
      .advise-slider__items.js-advise-slider
        each $item in $items
          .advise-slider__item
            +goods-tile($item)
