
block tiny-cart
  .tiny-cart
    .tiny-cart__content
      .tiny-cart__item
        .tiny-cart__item-number
          | 1
        a.tiny-cart__item-thumb(href='#')
          img(src='/img/goods-02.png')
        .tiny-cart__item-info
          .sku Артикул: 152566
          a(href='#') Терморегулятор цифровой Moehlenhoff Альфа Комфорт с датчиком скорости вращения, серебрянный (GS1000)
        .tiny-cart__item-status
          span.in-stock В наличии
          | Доставка 3-5 дн.
        .tiny-cart__item-count
          | 1
        .tiny-cart__item-price
          | 75 137 руб.
        .tiny-cart__item-controls
          a(href='#').button-delete
      .tiny-cart__item
        .tiny-cart__item-number
          | 2
        a.tiny-cart__item-thumb(href='#')
          img(src='/img/goods-02.png')
        .tiny-cart__item-info
          .sku Артикул: 152566
          a(href='#') Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM
        .tiny-cart__item-status
          span.in-stock В наличии
          | Доставка 3-5 дн.
        .tiny-cart__item-count
          | 1
        .tiny-cart__item-price
          | 75 137 руб.
        .tiny-cart__item-controls
          a(href='#').button-delete
      .tiny-cart__item
        .tiny-cart__item-number
          | 3
        a.tiny-cart__item-thumb(href='#')
          img(src='/img/goods-02.png')
        .tiny-cart__item-info
          .sku Артикул: 152566
          a(href='#') Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM
        .tiny-cart__item-status
          span.in-stock В наличии
          | Доставка 3-5 дн.
        .tiny-cart__item-count
          | 1
        .tiny-cart__item-price
          | 75 137 руб.
        .tiny-cart__item-controls
          a(href='#').button-delete
      .tiny-cart__item
        .tiny-cart__item-number
          | 3
        a.tiny-cart__item-thumb(href='#')
          img(src='/img/goods-02.png')
        .tiny-cart__item-info
          .sku Артикул: 152566
          a(href='#') Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM
        .tiny-cart__item-status
          span.in-stock В наличии
          | Доставка 3-5 дн.
        .tiny-cart__item-count
          | 1
        .tiny-cart__item-price
          | 75 137 руб.
        .tiny-cart__item-controls
          a(href='#').button-delete
      .tiny-cart__item
        .tiny-cart__item-number
          | 3
        a.tiny-cart__item-thumb(href='#')
          img(src='/img/goods-02.png')
        .tiny-cart__item-info
          .sku Артикул: 152566
          a(href='#') Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM
        .tiny-cart__item-status
          span.in-stock В наличии
          | Доставка 3-5 дн.
        .tiny-cart__item-count
          | 1
        .tiny-cart__item-price
          | 75 137 руб.
        .tiny-cart__item-controls
          a(href='#').button-delete
      .tiny-cart__item
        .tiny-cart__item-number
          | 3
        a.tiny-cart__item-thumb(href='#')
          img(src='/img/goods-02.png')
        .tiny-cart__item-info
          .sku Артикул: 152566
          a(href='#') Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM
        .tiny-cart__item-status
          span.in-stock В наличии
          | Доставка 3-5 дн.
        .tiny-cart__item-count
          | 1
        .tiny-cart__item-price
          | 75 137 руб.
        .tiny-cart__item-controls
          a(href='#').button-delete
      .tiny-cart__item
        .tiny-cart__item-number
          | 3
        a.tiny-cart__item-thumb(href='#')
          img(src='/img/goods-02.png')
        .tiny-cart__item-info
          .sku Артикул: 152566
          a(href='#') Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM
        .tiny-cart__item-status
          span.in-stock В наличии
          | Доставка 3-5 дн.
        .tiny-cart__item-count
          | 1
        .tiny-cart__item-price
          | 75 137 руб.
        .tiny-cart__item-controls
          a(href='#').button-delete
      .tiny-cart__item
        .tiny-cart__item-number
          | 3
        a.tiny-cart__item-thumb(href='#')
          img(src='/img/goods-02.png')
        .tiny-cart__item-info
          .sku Артикул: 152566
          a(href='#') Настенный газовый одноконтурный котел Ariston CLAS EVO 15 CF SYSTEM
        .tiny-cart__item-status
          span.in-stock В наличии
          | Доставка 3-5 дн.
        .tiny-cart__item-count
          | 1
        .tiny-cart__item-price
          | 75 137 руб.
        .tiny-cart__item-controls
          a(href='#').button-delete

    .tiny-cart__footer
      .tiny-cart__total
        != 'Общая сумма: '
        span 159 287 руб.
      a(href='/order-step-1.html').button-orange ОФОРМИТЬ ЗАКАЗ
